<%= turbo_frame_tag earning, class: "card-body" do %>
  <div class="row my-1 border-bottom">
    <div class="col-lg-2">
      <small class="text-info">Detalls</small><br>
      <small><%= earning.booking.firstname %> <%= earning.booking.lastname %></small><br>
      <% if earning.booking.status == "0" %>
        <span class="badge bg-danger">Reserva cancel.lada</span>
      <% end %>
      <small>Entrada: <%= I18n.l(earning.booking.checkin, format: :standard) %></small><br>
      <small>Sortida: <%= I18n.l(earning.booking.checkout, format: :standard) %></small><br>
      <small>Nits: <%= earning.booking.nights %></small>
      <br>
      <small><%= link_to "Modificar la reserva", edit_vrental_booking_path(earning.vrental, earning.booking) if earning.booking %></small>
    </div>
    <% if earning.booking.present? %>
      <div class="col-lg-2">
        <small class="text-info">Import reserva</small><br>
        <span>
          <%= number_to_currency(earning.booking.price_no_portal, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ') if earning.booking %>
        </span>
        <br>
        <span>
          <small>PVP: <%= number_to_currency(earning.booking.price_with_portal, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ') %></small>
        </span>
        <br>
        <span>
          <small class="text-info"> <%= earning.booking.referrer %>: <%= number_to_currency(earning.booking.commission, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ')%> </small>
        </span>
        <br>
        <% if earning.booking.city_tax_value > 0 %>
          <span>
            <small>Taxa tur: <%= number_to_currency(earning.booking.city_tax_value, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ')%></small>
          </span>
          <br>
        <% end %>
        <% if earning.booking.cleaning_value > 0 %>
          <span class="badge bg-secondary">
            <small>Neteja: <%= number_to_currency(earning.booking.cleaning_value, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ')%></small>
          </span>
          <br>
        <% end %>
        <% if earning.booking.other_charges != 0 %>
          <span class="badge bg-warning">
            <small>Altres: <%= number_to_currency(earning.booking.other_charges, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ')%></small>
          </span>
          <br>
        <% end %>
      </div>
      <div class="col-lg-2 nowrap">
        <small class="text-info">Segons contracte</small><br>
        <% contract_price = earning.vrental.rate_price(earning.booking.checkin, earning.booking.checkout) %>
        <% if contract_price.present? %>
          <%= number_to_currency(contract_price, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ') %>
        <% end %>
      </div>
      <div class="col-lg-2">
        <small class="text-info nowrap">Descompte</small><br>
        <% unless earning.discount == 0 || earning.discount == 1 %>
          <div class="h-75 d-flex flex-column justify-content-between">
            <%= number_to_percentage(earning.discount * 100, precision: 2, separator: ',') if earning.discount %>
            <small class="fst-italic text-primary"><%= earning.description if earning.description %></small>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-lg-2 nowrap">
      <small class="text-info">Import liquidació</small><br>
      <%= number_to_currency(earning.amount, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u").delete(' ') if earning.amount %>
    </div>
    <div class="col-lg-2 d-flex flex-column justify-content-start">
      <%= link_to edit_vrental_earning_path(earning.vrental, earning), class: "text-info text-decoration-none" do %>
        <i class="fas fa-pen fa-sm"></i><small> Modificar</small>
      <% end %>
      <% if earning.booking.present? && (earning.locked == true || earning.booking.locked == true) %>
        <%= link_to unlock_vrental_earning_path(earning.vrental, earning), class: "text-warning text-decoration-none", data: {turbo_method: :unlock, turbo_confirm: "Segur que vols desbloquejar aquest ingres? Si ho fas, l'import i el descompte s'actualitzaràn al importar reserves des de Beds24." } do %>
          <i class="fas fa-unlock fa-sm"></i><small> Desbloquejar</small>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
