<h4 class="text-info text-center">Nou ingres <%= @vrental.name if @vrental %></h4>
<%= simple_form_for [@vrental, @earning], html: { data: { turbo: false }} do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :description %>
    <%= f.input :amount %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: "Guardar", class: "btn btn-secondary" %>
  </div>
<% end %>
