<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :comtype_id, collection: @comtypes.map {|ct| [t("#{ct.company_type}"),ct.id]} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :businessname, label: 'Nom comercial de la empresa' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :aicat %>
      </div>
      <div class="col-lg-6">
        <%= f.input :api %>
      </div>
    </div>
    <hr>
    <h6 class="my-2 text-primary text-center">Oficina de l'empresa</h6>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <%= f.input :officeaddress, label: 'Adreça oficina' %>
      </div>
      <div class="col-lg-2">
        <%= f.input :officezip, label: 'Codi postal' %>
      </div>
      <div class="col-lg-3">
        <%= f.input :officecity, label: 'Municipi' %>
      </div>
      <div class="col-lg-3">
        <%= f.input :officephone, label: 'Telèfon' %>
      </div>
    </div>

    <hr>
    <h6 class="my-2 text-primary text-center">Dades fiscals de l'empresa</h6>
    <hr>
    <div class="row">
      <div class="col-lg-8">
        <%= f.input :companyname, label: 'Nom registrat de la empresa' %>
      </div>
      <div class="col-lg-4">
        <%= f.input :vat, label: 'CIF' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= f.input :address, label: 'Adreça fiscal' %>
      </div>
      <div class="col-lg-2">
        <%= f.input :companyzip, label: 'Codi postal' %>
      </div>
      <div class="col-lg-3">
        <%= f.input :companycity, label: 'Municipi' %>
      </div>
      <div class="col-lg-3">
        <%= f.input :companyphone, label: 'Telèfon' %>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-end py-4">
      <div class="d-flex flex-column align-items-center">
        <% if profile %>
          <% if profile.photo.attached? %>
            <%= cl_image_tag profile.photo.key, height: 70 %>
            <%= link_to "Esborrar aquest logo", purge_photo_profile_path(profile), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquest logo?"} %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= f.input :photo, label: 'Logo', as: :file %>
      </div>
    </div>
    <div class="form-actions text-end">
      <%= f.button :submit, t('global.forms.submit'), class: 'btn-primary' %>
    </div>
<% end %>
