<tr>
  <th scope="row">Data proposada:<%= l(date, format: :long_day) %>
  </th>
  <td>
    <% if previous_booking.present? %>
      <% if previous_booking.is_a?(Booking) %>
        checkout: <%= l(previous_booking.checkout, format: :long_day) %>
        <br>
        <%= previous_booking.firstname %> <%= previous_booking.lastname %> <br>
      <% elsif previous_booking.is_a?(OwnerBooking) %>
        checkout: <%= l(previous_booking.checkin, format: :long_day) %> <br>
        owner
        <%= previous_booking.note %>
      <% end %>
    <% else %>
      No previous booking
    <% end %>
    <br>
  </td>
  <td><%= booking_vrental.name %> <%= reason %>
    <% if last_cleaning.present? %>
      <% unless last_cleaning == "no_display" %>
        last cleaned: <%= last_cleaning.cleaning_date %>
        <br>
        last cleaning: <%# last_cleaning.cleaning_type %>
      <% end %>
    <% else %>
      last cleaned: never
    <% end %>
  </td>
  <td>
    <% if next_booking.present? %>
      <% if next_booking.is_a?(Booking) %>
        checkin: <%= l(next_booking.checkin, format: :long_day) %>
        <br>
        <%= next_booking.firstname %> <%= next_booking.lastname %> <br>
        <%= next_booking.adults %> adults <%= next_booking.children %> children
      <% elsif next_booking.is_a?(OwnerBooking) %>
        <%= l(next_booking.checkin, format: :long_day) %> <br>
        <%= next_booking.note %>
      <% end %>
      <br>
      Max capacity: <%= booking_vrental.max_guests %>
    <% else %>
      No next booking
    <% end %>
    <br>
  </td>
</tr>
<tr>
  <td colspan="4">
    <% booking.cleaning_schedules.each do |cleaning_schedule| %>
      <%= render "cleaning_schedules/cleaning_schedule", cleaning_schedule: cleaning_schedule, booking: booking %>
    <% end %>
    <% unless booking.cleaning_schedules.exists?(cleaning_type: "full_cleaning") %>
      <% if booking.is_a?(Booking) %>
        <% booking_id = booking.id %>
      <% elsif booking.is_a?(OwnerBooking) %>
        <% owner_booking_id = booking.id %>
      <% end %>
      <%= turbo_frame_tag "new_cleaning_schedule", src: new_office_cleaning_schedule_path(@office, cleaning_date: date, vrental_id: booking_vrental.id, booking_id: booking_id, owner_booking_id: owner_booking_id) %>
    <% end %>
  </td>
</tr>
