<tr>
  <th scope="row">
    <h6><%= booking_vrental.name %></h6>
    <span class="text-sm fw-normal">
      <%= t('vrental_max_guests') %>: <%= booking_vrental.max_guests %>
      <br>
      <% if booking_vrental.beds_detail_full_words %>
        <% booking_vrental.beds_detail_full_words.each do |bed_type_count| %>
          <%= bed_type_count %>
          <br>
        <% end %>
      <% end %>
    </span>
  </th>
  <td>
    <% if previous_booking.present? %>
      <% if previous_booking.checkout == checkin_date %>
        <h6 class="text-danger"><%= t('same_day_checkout') %></h6>
      <% else %>
        <h6 class="text-warning"><%= t('previous_checkout') %></h6>
      <% end %>
      <%= previous_booking_info(previous_booking) %>
    <% else %>
      <span class="fw-normal"><%= t('no_previous_checkout') %></span>
    <% end %>
    <% if last_cleaning.present? %>
      <% if last_cleaning.cleaning_date < Date.today %>
        <div><%= t('cleaning_done') %>: <%= link_to l(last_cleaning.cleaning_date, format: :long_day), office_cleaning_schedule_path(@office, last_cleaning), class: "btn btn-sm btn-secondary", target: "_blank" %></div>
        <div><%= t(last_cleaning.cleaning_type) %></div>
      <% else %>
        <div><%= t('scheduled_cleaning') %>: <%= link_to l(last_cleaning.cleaning_date, format: :long_day), office_cleaning_schedule_path(@office, last_cleaning), class: "btn btn-sm btn-secondary", target: "_blank"  %></div>
        <div><%= t(last_cleaning.cleaning_type) %></div>
      <% end %>
      <% if last_cleaning.cleaning_date < (checkin_date - 5.days) %>
        <div class="text-info"><%= t('last_cleaning_5_days_ago') %></div>
      <% end %>
      <% if last_cleaning.cleaning_type.in?(["checkout_laundry_pickup", "checkout_no_laundry"]) %>
        <div class="text-danger"><%= t('finish_cleaning') %></div>
      <% end %>
    <% end %>
  </td>
  <td>
    <h6 class="text-warning"><%= t(reason) %></h6>
    <div><%= l(checkin_date, format: :long_day) %></div>
    <div><%= booking_info(booking) %></div>
  </td>
  <td>
    <% if booking.is_a?(Booking) && booking.notes.present? %>
      <div class="text-primary"><%= booking.notes %></div>
    <% end %>
  </td>
</tr>
<tr>
  <td colspan="4">
    <% if booking_vrental.needs_cleaning(checkin_date) %>
      <% if booking.is_a?(Booking) %>
        <% booking_id = booking.id %>
      <% elsif booking.is_a?(OwnerBooking) %>
        <% owner_booking_id = booking.id %>
      <% end %>
      <h6 class="text_warning"><%= t('add_cleaning_schedule') %></h6>
      <%= turbo_frame_tag "new_cleaning_schedule", src: new_office_cleaning_schedule_path(@office, cleaning_date: checkin_date, vrental_id: booking_vrental.id, booking_id: booking_id, owner_booking_id: owner_booking_id, reason: reason) %>
    <% end %>
  </td>
</tr>
