<div class="d-flex justify-content-between align-items-center">
  <%= form_with(url: path, method: "get") do %>
    <div class="d-flex justify-content-start align-items-end">
      <div class="form-group me-2">
        <%= label_tag(:vrental_id, t('vrental_title')) %>
        <%= select_tag(:vrental_id,
               options_for_select([[t('show_them_all'), nil]] + @vrentals.map { |vr| [vr.name, vr.id] },
               selected: params[:vrental_id]),
               include_blank: false,
               class: "form-select") %>
      </div>
      <div class="form-group me-2">
        <%= label_tag(:from, t('from')) %>
        <%= text_field_tag(:from, params[:from] || Date.today, class: "form-control datepicker", type: "date") %>
      </div>
      <div class="form-group me-2">
        <%= label_tag(:to, t('to')) %>
        <%= text_field_tag(:to, params[:to] || Date.today + 14.days, class: "form-control datepicker", type: "date") %>
      </div>
      <div class="form-group">
        <%= submit_tag(t('filter'), class: "btn btn-sm btn-info") %>
      </div>
    </div>
  <% end %>
</div>
<hr>
