<%= simple_form_for [company, office] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :beds_owner_id %>
    <%= f.input :beds_key %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :post_code %>
    <%= f.input :region %>
    <%# f.input :country %>
    <%= f.input :phone %>
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :opening_hours %>
    <%= f.input :manager %>
    <%= f.input :local_realtor_number %>
    <%= f.input :office_photos, as: :file, input_html: { multiple: true } %>
  </div>
  <div class="form-actions d-flex justify-content-end">
    <%= f.button :submit, t("global.forms.submit"), class: "btn btn-secondary" %>
  </div>
<% end %>
