<div class="d-flex justify-content-start mb-3">
  <%= link_to organize_cleaning_company_office_path(@company, @office), class: "btn btn-sm btn-secondary" do %>
    <i class="fa-solid fa-circle-chevron-left me-2"></i><%= t('global.forms.back') %>
  <% end %>
</div>
<div>
  <h5><span class="text-primary text-uppercase"><%= t('checkouts') %></span> <%= l(@start_date, format: :long_day) %> - <%= l(@end_date, format: :long_day) %></h5>
  <%= render "filter_checkout" %>
  <% @checkout_all.each do |booking| %>
    <% next_booking = booking.vrental.next_booking(booking.checkout) %>
    <% next_cleanings = booking.vrental.next_cleanings(booking.checkout) %>
    <%= render "booking_details", office: @office, checkout_booking: booking, booking_vrental: booking.vrental, checkin_booking: next_booking, relevant_cleanings: next_cleanings %>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
