<div class="d-flex justify-content-end">
  <%= link_to t('global.forms.back'), organize_cleaning_company_office_path(@company, @office), class: "btn btn-sm btn-info" %>
</div>
<table class="table table-striped mt-5">
  <thead>
    <h5><span class="text-primary text-uppercase"><%= t('checkins') %></span> <%= l(@start_date, format: :long_day) %> - <%= l(@end_date, format: :long_day) %></h5>
  </thead>
  <tbody>
    <% @checkin_all.each do |booking| %>
      <% previous_booking = booking.vrental.previous_booking(booking.checkin) %>
      <% last_cleaning = booking.vrental.last_cleaning(booking.checkin) %>
      <%= render "checkin_booking_details", office: @office, booking: booking, booking_vrental: booking.vrental, checkin_date: booking.checkin, previous_booking: previous_booking, reason: "checkin", last_cleaning: last_cleaning %>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
