<div class="d-flex justify-content-between">
  <% current_user.owned_company.offices.each do |office| %>
    <div class="d-flex flex-column">
      <h6><%= office.name %></h6>
      <span class="label bg-light-success text-success prt-type mb-3"><%= office.vrentals.count %> <%= t("vrental", count: office.vrentals.count) %></span>
      <%= link_to edit_company_office_path(current_user.owned_company, office), class: "btn btn-sm btn-secondary" do %>
        <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
        Modificar oficina <%= office.name %>
      <% end %>
      <% if !@vrental && current_user.admin? %>
        <p>Importar immobles de la oficina</p>
        <%= form_tag import_properties_office_path(office), method: :get, class: "d-inline-block" do %>
          <div class="form-group mt-2">
            <%= label_tag :import_name, "Importar nom de l'immoble o de la propietat?" %>
            <%= select_tag :import_name, options_for_select(['property','room']) %>
          </div>
          <div class="form-group mt-2">
            <%= label_tag :no_import, "No importar immobles amb aquestes paraules en el nom de l'immoble o habitació (separar amb comma)" %>
            <%= text_field_tag :no_import, params[:no_import], class: "form-control" %>
          </div>
          <%= submit_tag "Importar", class: "btn btn-sm btn-primary mt-3" %>
        <% end %>
        <%# link_to "Eliminar tots els immobles de l'oficina", destroy_all_properties_office_path(office), class: "link text-underscore text-danger mt-3" %>
      <% end %>
    </div>
  <% end %>
</div>
