<div class="d-flex justify-content-between">
  <%= render 'shared/get_all_bookings', office: @office %>
  <%= link_to t('cleaning_companies'), cleaning_companies_path, class: "btn btn-sm btn-primary" %>
  <%= link_to t('view_and_print_schedules'), office_cleaning_schedules_path(@office), class: "btn btn-sm btn-primary" %>
</div>
<hr>
<% if @no_previous_cleaning.any? %>
  <div class="alert alert-danger position-relative">
    <%= t('add_cleaning_schedule') %>
    <ul>
      <% @no_previous_cleaning.each do |booking| %>
        <% if booking.vrental.present? %>
          <li>
            <%= link_to booking.vrental.name, cleaning_checkin_company_office_path(@company, @office, vrental_id: booking.vrental.id) %>:
            <%= l(booking.checkin, format: :long_day) %> -
            <%= l(booking.checkout, format: :long_day) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @previous_cleaning_incomplete.any? %>
  <div class="alert alert-warning position-relative">
    <%= t('incomplete_cleaning') %>
    <ul>
      <% @previous_cleaning_incomplete.each do |booking| %>
        <% if booking.vrental.present? %>
          <li>
            <%= link_to booking.vrental.name, cleaning_checkin_company_office_path(@company, @office, vrental_id: booking.vrental.id) %>:
            <%= l(booking.checkin, format: :long_day) %> -
            <%= l(booking.checkout, format: :long_day) %>
            <br>
            <span class="text-secondary text-sm">
              <%= t('last_cleaning') %>: <%= l(booking.vrental.last_cleaning(booking.checkin).cleaning_date) %> <%= booking.vrental.last_cleaning(booking.checkin).cleaning_company.name %> <%= t(booking.vrental.last_cleaning(booking.checkin).cleaning_type) %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @cleaned_6_days_ago.any? %>
  <div class="alert alert-info position-relative">
    <%= t('last_cleaning_6_days_ago') %>
    <ul>
      <% @cleaned_6_days_ago.each do |booking| %>
        <% if booking.vrental.present? %>
          <li>
            <%= link_to booking.vrental.name, cleaning_checkin_company_office_path(@company, @office, vrental_id: booking.vrental.id) %>:
            <%= l(booking.checkin, format: :long_day) %> -
            <%= l(booking.checkout, format: :long_day) %>
            <br>
            <span class="text-secondary text-sm">
              <%= t('last_cleaning') %>: <%= l(booking.vrental.last_cleaning(booking.checkin).cleaning_date) %> <%= booking.vrental.last_cleaning(booking.checkin).cleaning_company.name %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <% @office.vrentals.each do |vrental| %>
    <% if vrental.cleanings_overlap_booking.any? %>
      <div class="alert alert-warning position-relative">
        <% vrental.cleanings_overlap_booking.each do |overlap_cleaning| %>
          <div><%= t('cleaning_overlaps_booking') %></div>
          <div><%= overlap_cleaning[:booking].vrental&.name %></div>
          <div><%= t('scheduled_cleaning') %> <%= link_to l(overlap_cleaning[:cleaning].cleaning_date), office_cleaning_schedule_path(@office, overlap_cleaning[:cleaning]) %></div>
          <div><%= t('booking') %>: <%= l(overlap_cleaning[:booking].checkin) %> - <%= l(overlap_cleaning[:booking].checkout) %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to t('organize_cleaning_by_checkouts'), cleaning_checkout_company_office_path(@company, @office), class: "link" %> <%= l(@start_date) %> - <%= l(@end_date) %>
</div>
<div>
  <%= link_to t('organize_cleaning_by_checkins'), cleaning_checkin_company_office_path(@company, @office), class: "link" %> <%= l(@start_date) %> - <%= l(@end_date) %>
</div>
</div>
<hr>
