<div class="py-2 d-flex justify-content-end">
  <%= link_to t('view_and_print_schedules'), office_cleaning_schedules_path(@office), class: "btn btn-sm btn-primary" %>
</div>
<table class="table table-striped mt-5">
  <thead>
    <h5><span class="text-primary text-uppercase"><%= t('checkouts') %></span> <%= l(@start_date, format: :long_day) %> <%= l(@end_date, format: :long_day) %></h5>
  </thead>
  <tbody>
    <% @checkout_all.each do |booking| %>
      <% next_booking = booking.vrental.next_booking(booking.checkout) %>
      <%= render "checkout_booking_details", office: @office, booking: booking, booking_vrental: booking.vrental, checkout_date: booking.checkout, next_booking: next_booking, reason: "checkout" %>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<table class="table table-striped mt-5">
  <thead>
    <h5><span class="text-primary text-uppercase"><%= t('checkins') %></span> <%= l(@start_date, format: :long_day) %> <%= l(@end_date, format: :long_day) %></h5>
  </thead>
  <tbody>
    <% @checkin_all.each do |booking| %>
      <% previous_booking = booking.vrental.previous_booking(booking.checkin) %>
      <% last_cleaning = booking.vrental.last_cleaning(booking.checkin) %>
      <%= render "checkin_booking_details", office: @office, booking: booking, booking_vrental: booking.vrental, checkin_date: booking.checkin, previous_booking: previous_booking, reason: "checkin", last_cleaning: last_cleaning %>
    <% end %>
  </tbody>
</table>
