<%= simple_form_for(@bedroom, data: { turbo: false }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :bedroom_type %>
    <%= f.association :vrental %>
    <%= f.simple_fields_for :bed do |p| %>
      <%= p.input :bed_type, as: :select, collection: Bed::BED_TYPES.map { |bed_type| [t(bed_type), bed_type]}, include_blank: false %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
