

<h1>Diferents tipus d'empresa</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipus</th>
      <th scope="col">Modificar</th>
      <th scope="col">Esborrar</th>
    </tr>
  </thead>
  <tbody>
    <% @comtypes.each_with_index do |comtype, index| %>
        <tr>
        <th scope="row"> <%= index + 1 %></th>
        <td><%= comtype.company_type %></td>
        <td><%= link_to 'Modificar', edit_comtype_path(comtype) %></td>
        <td><%= link_to 'Eliminar el tipus d\'empresa', comtype, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquest tipus d'empresa?"} %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'Afegir un tipus d\'empresa nou', new_comtype_path, class: "btn btn-secondary" %>
