<div class="container">
  <div class="card-deck mb-3">
    <!-- Registration section-->
    <section>
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center mb-4 box-shadow">
          <div class="mb-3">
            <%= link_to :back, class: "btn btn-light btn-icon-split me-3" do %>
              <span class="icon text-white-600">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text m-0 text-primary" style="font-size: 0.85rem">
                <%= t("devise.shared.links.back") %>
              </span>
            <% end %>
          </div>
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded-4" src="https://res.cloudinary.com/dlzusxobf/image/upload/v1664869979/vecteezy_man-entering-cloud-server-data-password_4689082_bx1egr.jpg" alt="Iniciar sessió" /></div>
            <div class="col-md-6">
              <h2><%= t(".title", resource: resource.model_name.human) %></h2>
              <small class="text-success"><%= "Usuari es admin" if current_user.admin? %></small>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
                <% end %>
                <%= f.label :password, class: "form-label" %>
                <div class="input-group mb-3" data-controller="password-toggle">
                  <%= f.input_field :password,
                                    required: false,
                                    autocomplete: "new-password",
                                    hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                                    data: { "password-toggle-target" => "unhide" },
                                    class: "form-control" %>
                  <span class="input-group-text">
                    <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
                  </span>
                </div>
                <%= f.label :password_confirmation, class: "form-label" %>
                <div class="input-group mb-3" data-controller="password-toggle">
                  <%= f.input_field :password_confirmation,
                                    required: false,
                                    autocomplete: "new-password",
                                    data: { "password-toggle-target" => "unhide" },
                                    class: "form-control" %>
                  <span class="input-group-text">
                    <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
                  </span>
                </div>
                <%= f.label :current_password, class: "form-label" %>
                <div class="input-group mb-3" data-controller="password-toggle">
                  <%= f.input_field :current_password,
                                    hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                                    required: true,
                                    autocomplete: "current-password",
                                    data: { "password-toggle-target" => "unhide" },
                                    class: "form-control" %>
                  <span class="input-group-text">
                    <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
                  </span>
                </div>
              </div>
              <div class="form-actions d-grid">
                <%= f.button :submit, t(".update"), class: "btn btn-primary" %>
              </div>
            <% end %>
            <div class="py-4">
            <h3><%# t(".cancel_my_account") %></h3>

            <p><%# t(".unhappy") %> <%= button_to t(".cancel_my_account"), registration_path(resource_name), method: :delete, form: {  data: { turbo: :false, confirm: t(".are_you_sure") } }, class: "btn btn-danger"  %></p>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
