<div class="container">
  <div class="mb-4">
    <h5 class="text-center text-info mb-5"><%= t('availability_and_discounts') %></h5>
    <%= link_to t('new_availability_rule'), new_vrental_availability_rule_path(@vrental), class: "btn btn-sm btn-primary" %>
  </div>
  <% @available_dates.each do |av_rule| %>
    <div class="row border-bottom">
      <div class="col-3 text-info"><%= l(av_rule.on_date) %></div>
      <div class="col-3 text-success"><%= av_rule.inventory == 1 ? t('available', count: 1) : "#{av_rule.inventory} #{t('available', count: av_rule.inventory )}" %></div>
      <div class="col-3 text-danger"><%= av_rule.multiplier < 100 && av_rule.multiplier > 0 ? "#{t('discount')} -#{100 - av_rule.multiplier}%" : '' %></div>
      <div class="col-3">
        <%= link_to edit_vrental_availability_rule_path(@vrental, av_rule), class: "text-info" do %>
          <i class="fas fa-solid fa-edit"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
