
<%= simple_form_for(@bathroom) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :bathroom_type %>
    <%= f.association :vrental %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
