<%= simple_form_for [@vrental, @invoice], html: {data: {turbo: false}} do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :location, input_html: { value: f.object.location || @vrental.office&.city } %>
    <% stats = @vrental.statements.where(invoice_id: nil) + @invoice.statements  %>
    <% if stats.present? %>
      <div data-controller="checkbox" class="d-flex flex-column align-items-start">
        <div class="form-check <%= "d-none" if stats.count < 2 %>">
          <%= check_box_tag 'select_all', '1', false, data: { checkbox_target: 'selectAll', action: 'click->checkbox#toggleAll' }, class: "form-check-input check_boxes optional" %>
          <%= label_tag 'select-all-checkbox', 'Selecciona totes les liquidacions' %>
        </div>
        <div data-checkbox-target="checkboxes">
          <%= f.input :statement_ids, label: "Selecciona les liquidacions que vols afegir a la factura:", as: :check_boxes, collection: stats.map {|s| ["#{l(s.start_date)} - #{l(s.end_date)}", s.id]}, wrapper: :vertical_collection %>
        </div>
      </div>
    <% else %>
      <p><%= @vrental.name %> no té liquidacions pendents d'adjudicar.</p>
      <%= hidden_field_tag 'invoice[statement_ids][]', '' %>
    <% end %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
