<h4 class="font-weight-bold text-primary text-center py-2">Factures</h4>
<% if @invoices.present? %>
  <% if current_user.admin? %>
    <%= t('total') %>: <%= number_to_currency(@total_agency_fees_invoiced, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
    <% unless @vrental.present? %>
      <div class="container d-flex justify-content-end">
        <%= link_to 'Baixar factures en excel', download_all_invoices_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
  <div class="container">
    <% @invoices.each do |invoice| %>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
        <div><%= invoice.invoice_number_formatted %></div>
        <div><%= l(invoice.date) %></div>
        <div><%= link_to invoice.vrental.name, invoice.vrental %></div>
        <div>
          <% if invoice.statements %>
            <div class="d-flex flex-column">
              <% invoice.statements.each do |statement| %>
                <small><%= link_to "Liquidació #{l(statement.start_date)} - #{l(statement.end_date)}", vrental_statement_path(invoice.vrental, statement) %></small>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-md-end"><%= number_to_currency(invoice.agency_total, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %></div>
        <% if current_user.admin? || current_user.manager? %>
          <div>
            <%= link_to edit_vrental_invoice_path(invoice.vrental, invoice), class: "text-secondary text-decoration-none" do %>
              <i class="fas fa-edit fa-sm"></i>
            <% end %>
            <% if Date.current == invoice.created_at.to_date && !invoice.statements.any? %>
              <%= link_to invoice, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta factura?"}, class: "text-danger text-decoration-none" do %>
                <i class="fas fa-trash-can fa-sm"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center"><%= t('no_invoices') %></p>
  <% end %>
