<% form_objects = @vrental ? [@vrental, owner] : @owner %>
<%= simple_form_for form_objects, html: { data: { turbo: false }} do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :fullname %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <% if current_user.admin? || current_user.manager? %>
      <%= f.input :email %>
    <% else %>
      <%= f.input :email, input_html: { value: current_user.email } %>
    <% end %>
    <%= f.input :document %>
    <%= f.input :account %>
    <%= f.input :language, collection: I18n.available_locales.map { |locale| [t(locale), locale.to_s] }, selected: I18n.locale %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
