<h4 class="text-center mb-5"><%= t("owners") %></h4>
<div class="d-flex flex-column flex-md-row justify-content-between">
  <div class="d-flex flex-column flex-md-row justify-content-start align-items-center gap-2">
    <%= form_with url: filter_owners_path, method: :get, data: { controller: "filter", filter_target: "form", turbo_frame: "owners" }, class: "d-flex flex-row gap-2" do |form| %>
      <%= form.select :language,
            options_for_select(
            [[t("ca"),'ca'],[t("en"),'en'],[t("es"),'es'],[t("fr"),'fr']],
            ),
            { include_blank: t("show_all_languages") },
            class: "form-select",
            data: { action: "change->filter#search" }
          %>
      <%= form.text_field :property_or_owner_name,
          placeholder: t('search_by_property_or_owner'),
          autocomplete: "off",
          class: "form-control w-auto",
          data: { action: "input->filter#search" } %>
    <% end %>
    <%= link_to owners_path, class: "text-secondary" do %>
      <i class="fa-solid fa-filter-circle-xmark me-2"></i>
    <% end %>
  </div>
  <%= link_to new_owner_path, class: "btn btn-sm btn-success" do %>
    <i class="fa fa-solid fa-plus me-2"></i><%= t('add_owner') %>
  <% end %>
</div>
<%= turbo_frame_tag "owners", class: "card-body" do %>
  <div class="container-fluid my-3">
    <div>
      <div class="row border border-top border-bottom fw-bold bg-light">
        <div class="col col-lg-3 py-3 nowrap" id="owner-fullname" relative>
          Nom i cognoms
        </div>
        <div class="col-lg-1 py-3" id="owner-language" relative>
          Idioma
        </div>
        <div class="col-lg-2 py-3" id="owner-language" relative>
          Accès a web
        </div>
        <div class="col-lg-1 py-3" id="owner-phone" relative>
          Telèfon
        </div>
        <div class="col-lg-2 py-3" id="owner-email" relative>
          Email
        </div>
        <div class="col-lg-2 py-3" id="owner-vrentals" relative>
          Immobles
        </div>
        <div class="col-lg-1 py-3">
        </div>
      </div>
    </div>
    <div class="tbody">
      <% @owners.each do |owner| %>
        <div class="row border">
          <div class="col-lg-3 align-self-center"><%= link_to owner.fullname, owner, class: "link" %></div>
          <div class="col-lg-1 align-self-center"><%= owner.language if owner.language %></div>
          <div class="col-lg-2 align-self-center">
            <% if owner.user.present? && !(owner.user.role == "admin" || owner.user.role == "manager") %>
              <i class="fas fa-check-circle text-success me-2"></i>
              <%= link_to t("withdraw_access"), owner.user,
                data: {turbo_method: :delete, turbo_confirm: t("are_you_sure")}, class: "text-danger text-decoration-none" %>
            <% end  %>
            <% if owner.user.blank? %>
              <span class="spinner-border spinner-border-sm d-none" id="grant-access-spinner" role="status" aria-hidden="true"></span>
              <%= link_to t('grant_access'), grant_access_owner_path(owner), id: "grant-access-link", onclick: "showSpinner();" %>
            <% end %>
          </div>
          <div class="col-lg-1 align-self-center"><%= owner.phone %></div>
          <div class="col-lg-2 align-self-center"><%= owner.email %></div>
          <div class="col-lg-2 align-self-center">
            <% owner.vrentals.each do |vrental| %>
              <%= link_to vrental.name, vrental, class: "link" %>
              <% if vrental != owner.vrentals.last %>
                <span class="text-secondary">,</span>
              <% end %>
            <% end %>
          </div>
          <div class="col-lg-1 align-self-center nowrap d-flex justify-content-between">
            <%= link_to edit_owner_path(owner), class: "text-info text-decoration-none" do %>
              <i class="fas fa-edit fa-sm"></i>
            <% end %>
            <%= link_to owner, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{owner.fullname}?"}, class: "text-danger text-decoration-none" do %>
              <i class="fas fa-trash fa-sm"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% end %>
<script>
  function showSpinner() {
    document.getElementById("grant-access-link").style.display = "none";
    document.getElementById("grant-access-spinner").classList.remove("d-none");
    document.getElementById("grant-access-link").disabled = true;
  }
</script>
