<div class="container">
  <div class="d-flex justify-content-between gap-3">
    <div>
      <%= link_to t('edit'), edit_owner_path(@owner), class: "btn btn-sm btn-secondary" %>
      <% if current_user.admin? || current_user.manager? %>
        <% unless @owner.user.present? %>
          <%= link_to t('grant_access'), grant_access_owner_path(@owner), class: "btn btn-sm btn-success" %>
        <% end %>
        <%= link_to t('delete'), @owner, class: "btn btn-sm btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@owner.fullname}?"} %>
      <% end %>
    </div>
  </div>
  <div>
    <h4 class="mt-4 mb-3 font-weight-bold text-primary"><%= @owner.fullname %></h4>
  </div>
  <div class="card shadow mb-4 p-4">
    <p>
      <strong><%= t('owner') %></strong>
      <%= @owner.fullname %>
    </p>
    <p>
      <strong><%= t('language') %></strong>
      <%= @owner.language %>
    </p>
    <p>
      <strong><%= t('address') %></strong>
      <%= @owner.address %>
    </p>
    <p>
      <strong><%= t('phone') %></strong>
      <%= @owner.phone %>
    </p>
    <p>
      <strong><%= t('email') %></strong>
      <%= @owner.email %>
    </p>
    <p>
      <strong><%= t('document') %></strong>
      <%= @owner.document %>
    </p>
    <p>
      <strong><%= t('bank_account') %></strong>
      <%= @owner.account %>
    </p>
    <strong><%= t('properties') %></strong>
    <% @owner.vrentals.each do |vrental| %>
      <p><%= vrental.name %></p>
    <% end %>
  </div>
</div>
