<%= simple_form_for [ realestate, contract ] do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <%= f.association :buyer, label_method: :fullname, label: 'Inquili', include_blank: true, label: ("Seleccionar comprador o #{link_to 'Afegir comprador nou', new_buyer_path, target: "_blank"}.").html_safe %>
    </div>
    <div class="col-lg-6">
      <%= f.association :rstemplate, collection: @rstemplates, label_method: :title, label: 'Model de contracte', include_blank: true, label: ("Seleccionar model o #{link_to 'Afegir model nou', new_rstemplate_path,  target: "_blank"}.").html_safe %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6 text-nowrap">
      <%= f.input :signdate, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-6 text-nowrap">
      <%= f.input :place, label: 'Lloc de la firma' %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <%= f.input :price, hint: "per exemple: 300000" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :pricetext, hint: "per exemple: TRES-CENTS MIL" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <%= f.input :down_payment, hint: "per exemple: 3000" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :down_payment_text, hint: "per exemple: TRES MIL" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <%= f.input :dp_part1, hint: "per exemple: 3000" %>
    </div>
    <div class="col-lg-3">
      <%= f.input :dp_part1_text, hint: "per exemple: TRES MIL" %>
    </div>
    <div class="col-lg-3">
      <%= f.input :dp_part2, hint: "per exemple: 3000" %>
    </div>
    <div class="col-lg-3">
      <%= f.input :dp_part2_text, hint: "per exemple: TRES MIL" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <%= f.input :signdate_notary, hint: "per exemple: Palamos" %>
    </div>
    <div class="col-lg-4">
      <%= f.input :min_notice, hint: "per exemple: 5 dies" %>
    </div>
    <div class="col-lg-4">
      <%= f.input :court, hint: "per exemple: La Bisbal d'Empordà" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <%= f.input :contentarea, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } }, hint: 'Per exemple: El pis s\'entrega amb el mobiliari i equipaments que es descriuen en l\'inventari adjunt.' %>
  </div>




  <div class="row justify-content-md-center">
    <% if contract.photos.attached? %>
      <% contract.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 200 %>
        <%= photo.id %>
        <%= link_to "Esborrar aquesta foto", photo_path(photo), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta foto?"} %>
      <% end %>
    <% end %>
    <%= f.input :photos, label: 'Fotos', as: :file, input_html: { multiple: true } %>
  </div>
  <div class="row justify-content-md-center">
    <% if contract.addendums.attached? %>
      <% @contract.addendums.each_with_index do |addendum, index| %>
        <div class="d-flex justify-content-start">
          <%= link_to "Anexe #{index + 1} #{addendum.filename}", addendum.url, target: "_blank", class: "pe-3" %>
          <%= link_to photo_path(addendum), class: "text-danger text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar l'anexe #{addendum.filename}?"} do %>
            <i class="fas fa-trash-can fa-sm"></i>
          <% end %>
        </div>
                <%# link_to "Esborrar Anexe #{addendum.filename}", photo_path(addendum), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar l'anexe #{addendum.filename}?"} %>
      <% end %>
    <% end %>
    <%= f.input :addendums, label: 'Anexes', as: :file, input_html: { multiple: true } %>
  </div>
  <div class="form-actions row gx-4">
    <div class="col text-end">
      <div class="p-3">
        <%= f.submit "Desar", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
