<%= simple_form_for [ realestate, contract ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <%= f.association :rstemplate, collection: @rstemplates, label_method: :title, include_blank: true, label: ("Seleccionar model o #{link_to 'Afegir model nou', new_rstemplate_path,  target: "_blank"}.").html_safe %>
    </div>
    <div class="col-lg-3 text-nowrap">
      <%= f.input :signdate, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-3 text-nowrap">
      <%= f.input :place, label: 'Lloc de la firma' %>
    </div>
  </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-6">
        <%= f.association :buyer, label_method: :fullname,include_blank: true, label: ("Seleccionar comprador o #{link_to 'Afegir comprador nou', new_buyer_path, target: "_blank"}.").html_safe %>
      </div>
      <div class="col-lg-3">
        <%= f.input :price, hint: "per exemple: 300000" %>
      </div>
      <div class="col-lg-3">
        <%= f.input :pricetext, hint: "per exemple: TRES-CENTS MIL" %>
      </div>
    </div>
    <div class="row justify-content-md-center">

    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-6">
        <%= f.input :down_payment, hint: "per exemple: 3000" %>
      </div>
      <div class="col-lg-6">
        <%= f.input :down_payment_text, hint: "per exemple: TRES MIL" %>
      </div>
    </div>
    <p>
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Omplir si les arres es realitzen en 2 pagaments
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
              <div class="row justify-content-md-center">
                <div class="col-lg-3">
                  <%= f.input :dp_part1, hint: "per exemple: 3000" %>
                </div>
                <div class="col-lg-3">
                  <%= f.input :dp_part1_text, hint: "per exemple: TRES MIL" %>
                </div>
                <div class="col-lg-3">
                  <%= f.input :dp_part2, hint: "per exemple: 3000" %>
                </div>
                <div class="col-lg-3">
                  <%= f.input :dp_part2_text, hint: "per exemple: TRES MIL" %>
                </div>
              </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-4">
        <%= f.input :signdate_notary, as: :string, input_html: {class: "datepicker"} %>
      </div>
      <div class="col-lg-4">
        <%= f.input :min_notice, hint: "per exemple: 5 dies" %>
      </div>
      <div class="col-lg-4">
        <%= f.input :court, hint: "per exemple: La Bisbal d'Empordà" %>
      </div>
    </div>
    <div class="row justify-content-md-center my-5">
      <div>
        <%= f.input :addendums, label: 'Afegir anexes', as: :file, input_html: { multiple: true } %>
      </div>
      <div>
        <% if contract.addendums.attached? %>
          <% @contract.addendums.each_with_index do |addendum, index| %>
            <div class="d-flex justify-content-start">
              <%= link_to "Anexe #{index + 1} #{addendum.filename}", addendum.url, target: "_blank", class: "pe-3 pb-3" %>
              <%= link_to photo_path(addendum), class: "text-danger text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar l'anexe #{addendum.filename}?"} do %>
                Esborrar<i class="fas fa-trash-can fa-sm"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <%= f.input :contentarea, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } } %>
    </div>
    <div class="my-5">
        <%= f.input :photos, label: 'Afegir fotos', as: :file, input_html: { multiple: true } %>
    </div>
    <div>
      <% if contract.photos.attached? %>
        <% contract.photos.each do |photo| %>
          <figure>
            <%= cl_image_tag photo.key, height: 200 %>
            <figcaption>
              <%= link_to photo_path(photo), class: "text-danger text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar la foto #{photo.filename}?"} do %>
                Esborrar<i class="fas fa-trash-can fa-sm"></i>
              <% end %>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    </div>
    <div class="form-actions row gx-4 my-5">
      <div class="col text-end">
        <div class="p-3">
          <%= f.submit "Desar", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
