<%= simple_form_for task, html: { data: { turbo: false }} do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <% frame_id = dom_id(task, "name_turbo_frame") %>
    <%= turbo_frame_tag frame_id do %>
      <%= f.input :start_time, as: :time, required: true, class: "form-select-sm", selected: Time.parse("12:00") %>
      <%= f.input :title, required: true, class: "form-control-sm" %>
      <div class="d-none">
        <%= f.input :start_date, as: :string, required: true, class: "form-control-sm", input_html: { value: @default_date } %>
      </div>
      <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-sm btn-secondary' %>
    <% end %>
  </div>
<% end %>
