<p id="notice"><%= notice %></p>
<div class="container">
  <div class="d-flex justify-content-between">
      <div>
        <%= link_to sellers_path, class: "btn btn-light btn-icon-split me-3" do %>
          <span class="icon text-white-600">
              <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text m-0 text-primary" style="font-size: 0.85rem">
            Tornar
          </span>
        <% end %>
      </div>
      <div>
        <%= link_to 'Modificar', edit_seller_path(@seller), class: "btn btn-secondary" %> | <%= link_to 'Esborrar', @seller, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@seller.fullname}?"} %>
      </div>
  </div>
  <div>
    <h4 class="mt-4 mb-3 font-weight-bold text-primary"><%= @seller.fullname %></h4>
  </div>
  <div class="card shadow mb-4 p-4">
    <p>
      <strong>Nom i cognoms:</strong>
      <%= @seller.fullname %>
    </p>
    <p>
      <strong>Idioma:</strong>
      <%= @seller.language %>
    </p>
    <p>
      <strong>Adreça:</strong>
      <%= @seller.address %>
    </p>
    <p>
      <strong>Telèfon:</strong>
      <%= @seller.phone %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @seller.email %>
    </p>
    <p>
      <strong>DNI:</strong>
      <%= @seller.document %>
    </p>
    <p>
      <strong>Compte bancari:</strong>
      <%= @seller.account %>
    </p>
    <strong>Propietats:</strong>
    <% @seller.realestates.each do |rental| %>
      <p><%= realestate.address %></p>
    <% end %>
  </div>
</div>
