<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to 'Modificar', edit_vrowner_path(@vrowner), class: "btn btn-secondary" %> <%= link_to 'Esborrar', @vrowner, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@vrowner.fullname}?"} %>
    </div>
  </div>
  <div>
    <h4 class="mt-4 mb-3 font-weight-bold text-primary"><%= @vrowner.fullname %></h4>
  </div>
  <div class="card shadow mb-4 p-4">
    <p>
      <strong>Nom i cognoms:</strong>
      <%= @vrowner.fullname %>
    </p>
    <p>
      <strong>Idioma:</strong>
      <%= @vrowner.language %>
    </p>
    <p>
      <strong>Adreça:</strong>
      <%= @vrowner.address %>
    </p>
    <p>
      <strong>Telèfon:</strong>
      <%= @vrowner.phone %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @vrowner.email %>
    </p>
    <p>
      <strong>DNI:</strong>
      <%= @vrowner.document %>
    </p>
    <p>
      <strong>Compte bancari:</strong>
      <%= @vrowner.account %>
    </p>
    <strong>Propietats:</strong>
    <% @vrowner.vrentals.each do |vrental| %>
      <p><%= vrental.name %></p>
    <% end %>
  </div>
</div>
