<div id="<%= dom_id tourist %>">
  <p>
    <strong>Firstname:</strong>
    <%= tourist.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= tourist.lastname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tourist.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tourist.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= tourist.address %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= tourist.country_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= tourist.country %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= tourist.document %>
  </p>

</div>
