<div class="d-flex justify-content-end">
  <%= link_to new_rate_plan_path, class: "btn btn-sm btn-primary" do %>
    <i class="fas fa-plus fa-sm me-2"></i> <%= t('new_rate_plan') %>
  <% end %>
</div>
<div class="d-flex flex-column align-items-center">
  <h4 class="text-primary mb-2"><%= @company.name if @company %></h4>
  <p class="text-info"><%= t('rate_plans') %></p>
</div>
<div id="rate_plans">
  <%= render @rate_plans %>
</div>
