<h4 class="text-primary text-center"><%= t('rate_plan') %> <%= @rate_plan.name %></h4>
<div class="text-center py-2 border-bottom">
  <span class="me-2"><%= t('from') %>: <%= l(@rate_plan.start) if @rate_plan.start %></span>
  <span class="me-2"><%= t('to') %>: <%= l(@rate_plan.end) if @rate_plan.end %></span>
  <span class="me-2"><%= t('activerecord.attributes.rate_plan.gen_min') %>: <%= @rate_plan.gen_min %></span>
  <span class="me-2"><%= t('activerecord.attributes.rate_plan.gen_arrival') %>: <%= t("#{Rate::ARRIVAL_DAY[@rate_plan.gen_arrival]}") %></span>
  <span class="span"><%= link_to t('edit'), edit_rate_plan_path(@rate_plan), class: "btn btn-sm btn-primary" %></span>
</div>
<% if @rate_plan.rate_periods.exists? %>
  <% @rate_plan.rate_periods.each do |rate_period| %>
    <div class="row py-2">
      <div class="col-lg-3"><%= t(rate_period.name) %></div>
      <div class="col-lg-3"><%= l(rate_period.firstnight, format: :standard) %></div>
      <div class="col-lg-3"><%= l(rate_period.lastnight, format: :standard) %> </div>
      <div class="col-lg-1"><%= rate_period.min_stay %></div>
      <div class="col-lg-2"><%= t("#{Rate::ARRIVAL_DAY[rate_period.arrival_day]}") %></div>
    </div>
  <% end %>
<% else %>
  <div class="text-center text-secondary"><%= link_to "add_rate_periods", rate_plan_rate_periods_path(@rate_plan), class: "btn btn-sm btn-success" %></div>
<% end %>
