<div id="<%= dom_id booking %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>
  <p>
    <strong>Checkin:</strong>
    <%= booking.checkin %>
  </p>
  <p>
    <strong>Checkout:</strong>
    <%= booking.checkout %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>
  <p>
    <strong>Commission:</strong>
    <%= booking.commission %>
  </p>
  <p>
    <strong>Referrer:</strong>
    <%= booking.referrer %>
  </p>
  <p>
    <strong>Beds booking:</strong>
    <%= booking.beds_booking_id %>
  </p>
</div>
