<div class="row my-1 border-bottom text-sm">
  <div class="col-lg-2">
    <% if booking.overlapping_bookings.present? %>
      <% booking.overlapping_bookings.each do |overlap| %>
        <span class="badge bg-danger"><%= t('overbooking') %></span>
      <% end %>
    <% end %>
    <span><%= booking.firstname %> <%= booking.lastname %></span><br>
    <span><%= t('adults') %>: <%= booking.adults %></span><br>
    <span><%= t('children') %>: <%= booking.children %></span><br>
    <span><%= booking.nights %> <%= t('nights') %></span>
    <% if booking.status == "0" %>
      <span class="badge bg-danger"><%= t('cancelled_booking') %></span>
    <% end %>
  </div>
  <div class="col-lg-2">
    <span><%= I18n.l(booking.checkin, format: :standard) %></span><br>
  </div>
  <div class="col-lg-2">
    <span><%= I18n.l(booking.checkout, format: :standard) %></span><br>
  </div>
  <div class="col-lg-2">
    <span class="text-info">Import reserva</span><br>
    <span>
      <% if booking && booking.charges.present? %>
        <%= number_to_currency(booking.price_no_portal, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
      <% else %>
        <%= number_to_currency(booking.price, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
      <% end %>
    </span>
    <br>
    <span>
      <span>PVP: <%= number_to_currency(booking.price_with_portal, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %></span>
    </span>
    <br>
    <span>
      <span class="text-info"> <%= booking.referrer %>: <%= number_to_currency(booking.commission, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%> </span>
    </span>
  </div>
  <div class="col-lg-2">
    <% if booking.city_tax_value > 0 %>
      <span>
        <span>Taxa tur: <%= number_to_currency(booking.city_tax_value, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%></span>
      </span>
      <br>
    <% end %>
    <% if booking.cleaning_value > 0 %>
      <span class="badge bg-secondary">
        <span>Neteja: <%= number_to_currency(booking.cleaning_value, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%></span>
      </span>
      <br>
    <% end %>
    <% if booking.other_charges != 0 %>
      <span class="badge bg-warning">
        <span>Altres: <%= number_to_currency(booking.other_charges, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%></span>
      </span>
      <br>
    <% end %>
  </div>
  <div class="col-lg-2">
    <span><%= link_to edit_vrental_booking_path(booking.vrental, booking) do %>
        <i class="fa-solid fa-pen-to-square me-2"></i><%= t('edit_booking') %>
      <% end %>
    </span>
  </div>
</div>
