<p><%= t('check_in') %>: <%= I18n.l(@booking.checkin, format: :standard) %></p>
<p><%= t('check_out') %>: <%= I18n.l(@booking.checkout, format: :standard) %></p>
<p><%= t('first_name') %>: <%= @booking.firstname %></p>
<p><%= t('last_name') %>: <%= @booking.lastname %></p>
<p><%= t('adults') %>: <%= @booking.adults %></p>
<p><%= t('children') %>: <%= @booking.children %></p>
