<%= render 'shared/get_bookings' %>
<h4 class="text-center"><%= t('bookings') %></h4>
<% if @bookings.present? %>
  <div id="earnings" class="container mt-5">
    <hr>
    <div class="row">
      <div class="col-lg-2 fw-bold nowrap"><%= t('client_details') %></div>
      <div class="col-lg-2 fw-bold nowrap"><%= t('check_in') %></div>
      <div class="col-lg-2 fw-bold nowrap"><%= t('check_out') %></div>
      <div class="col-lg-2 fw-bold nowrap"><%= t('booking_price') %></div>
      <div class="col-lg-2 fw-bold nowrap"><%= t('others') %></div>
      <div class="col-lg-2 fw-bold nowrap"></div>
    </div>
    <hr>
    <%= render @bookings %>
  </div>
<% end %>
