<div class="container">
  <div class="card-deck mb-3">
    <!-- Registration section-->
    <section>
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center mb-4 box-shadow">
          <div class="mb-3">
            <%= link_to :back, class: "btn btn-light btn-icon-split me-3" do %>
              <span class="icon text-white-600">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text m-0 text-primary" style="font-size: 0.85rem">
                <%= t("devise.shared.links.back") %>
              </span>
            <% end %>
          </div>
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded-4" src="https://res.cloudinary.com/dlzusxobf/image/upload/v1664869979/vecteezy_man-entering-cloud-server-data-password_4689082_bx1egr.jpg" alt="Iniciar sessió" /></div>
            <div class="col-md-6">
<h2><%= t(".change_your_password") %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put },  data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.label :password, label: t(".new_password"), class: "form-label" %>
    <div class="input-group mb-3" data-controller="password-toggle">
      <%= f.input_field :password,
                        required: true,
                        autofocus: true,
                        autocomplete: "new-password",
                        hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                        data: { "password-toggle-target" => "unhide" },
                        class: "form-control" %>
      <span class="input-group-text">
        <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
      </span>
    </div>
    <%= f.label :password_confirmation, label: t(".new_password"), class: "form-label" %>
    <div class="input-group mb-3" data-controller="password-toggle">
      <%= f.input_field :password_confirmation,
                        required: true,
                        autocomplete: "new-password",
                        data: { "password-toggle-target" => "unhide" },
                        class: "form-control" %>
      <span class="input-group-text">
        <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
      </span>
    </div>
  </div>

  <div class="form-actions d-grid">
    <%= f.button :submit, t(".change_my_password"), class: "btn btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

        </div>
      </div>
    </section>
  </div>
</div>
