<div class="header change-logo">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <%= link_to home_path, class: "nav-brand static-logo" do %>
          <%= image_tag("logo-light.png", class: "logo", alt: "") %>
        <% end %>
        <%= link_to home_path, class: "nav-brand fixed-logo" do %>
          <%= image_tag("logo.png", class: "logo", alt: "") %>
        <% end %>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">
          <li class="active"><%= link_to t("bookings"), root_path, class: "active" %></li>
          <li><a href="JavaScript:void(0);"><%= t("costa_brava") %><span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="JavaScript:void(0);"><%= t("apartments") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li>
                    <%= link_to t("with_pool"), list_path(pt: [t("apartment")], pf: [t("pool")]) %>
                  </li>
                  <li><a href="list-layout-with-map.html"><%= t("with_view") %></a></li>
                  <li><a href="list-layout-full.html"><%= t("in_centre") %></a></li>
                  <li><a href="list-layout-full.html"><%= t("on_budget") %></a></li>
                </ul>
              </li>
              <li><a href="javascript:void(0);"><%= t("houses") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="grid-layout-with-sidebar.html"><%= t("with_pool") %></a></li>
                  <li><a href="classical-layout-with-sidebar.html"><%= t("with_private_pool") %></a></li>
                  <li><a href="grid-layout-with-map.html"><%= t("with_view") %></a></li>
                  <li><a href="grid-layout-with-map.html"><%= t("with_garden") %></a></li>
                  <li><a href="classical-property.html"><%= t("unique") %></a></li>
                </ul>
              </li>
              <!--
              <li><a href="JavaScript:void(0);"><%= t("view_on_map") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="list-layout-with-map.html">List With Map</a></li>
                  <li><a href="grid-layout-with-map.html">Grid With Map</a></li>
                  <li><a href="classical-layout-with-map.html">Classical With Map</a></li>
                  <li><a href="half-map.html">Half Map Search</a></li>
                </ul>
              </li>
              -->
            </ul>
          </li>
          <li><a href="JavaScript:void(0);"><%= t("barcelona") %><span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="JavaScript:void(0);"><%= t("vacation_rentals") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="single-property-1.html"><%= t("with_view") %></a></li>
                  <li><a href="single-property-2.html"><%= t("without_view") %></a></li>
                </ul>
              </li>
              <li><a href="JavaScript:void(0);"><%= t("long_term") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="single-property-1.html"><%= t("with_view") %></a></li>
                  <li><a href="single-property-2.html"><%= t("without_view") %></a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="JavaScript:void(0);"><%= t("services") %><span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="blog.html"><%= t("realtor") %></a></li>
              <li>
                <%= link_to submit_property_path, class: "text-success" do %>
                  <%= image_tag("submit.svg", class: "mr-2", width: "20", alt: "") %> <%= t("add_property") %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="active"><%= link_to t("contact_us"), root_path, class: "active" %></li>
          <li class="active"><%= link_to t("news"), root_path, class: "active" %></li>
          <!--
          <li><a href="JavaScript:void(0);" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</a></li>
          -->
        </ul>
        <ul class="nav-menu nav-menu-social align-to-right">
          <% if user_signed_in? %>
            <li>
              <div class="btn-group account-drop">
                <button type="button" class="btn btn-order-by-filt dropdown-toggle" id="showbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.photo.attached? %>
                    <%# cl_image_tag current_user.photo.key, class: "avater-img", alt="" %>
                  <% else %>
                    <%= image_tag "https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/sistach_favicon_c9rb1y.png", alt: "Sistach Finques", class: "avater-img" %>
                  <% end %>
                </button>
                <div class="dropdown-menu pull-right animated flipInX" id="showing">
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa-solid fa-address-card"></i><%= t("edit_profile") %>
                  <% end %>
                  <%= link_to vrentals_path do %>
                    <i class="fa-solid fa-building-circle-check"></i><%= t("vrentals") %>
                  <% end %>
                  <%= link_to owners_path do %>
                    <i class="fa-solid fa-building-user"></i><%= t("owners") %>
                  <% end %>
                  <%= link_to vragreements_path do %>
                    <i class="fa-solid fa-file-signature"></i><%= t("contracts") %>
                  <% end %>
                  <!--
                  <a href="#"><i class="fa-solid fa-bookmark"></i>Bookmarked Listings</a>
                  <a href="#"><i class="fa-solid fa-unlock"></i>Change Password</a>
                  -->
                  <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#logout">
                    <%= image_tag("user-dark.svg", width: "12", class: "mr-2", alt: "") %>
                    <%= t("sign_out") %>
                  </a>
                </div>
              </div>
            </li>
          <% else %>
            <li class="add-listing light">
              <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login">
                <%= image_tag("user-dark.svg", width: "12", class: "mr-2", alt: "") %>
                <%= t("sign_in") %>
              </a>
            </li>
          <% end %>
          <%= language_dropdown(I18n.locale || params[:locale]) %>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="clearfix"></div>
<%= render 'shared/log_in_modal' %>
<%= render 'shared/log_out_modal' %>
<%# render 'shared/sign_up_modal' %>
