<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="footer-widget">
            <ul class="footer-menu">
              <li><%= image_tag("logo-light.png", class: "img-footer", alt: "Sistach Rentals") %></li>
              <li class="me-5">
                <%= form_with url: list_path, method: :get, local: true do |form| %>
                  <div class="input-group input-group-sm mb-3">
                    <%= form.text_field :nm,
                        class: 'form-control form-control-sm',
                        placeholder: t("search_by_name"),
                        aria: { label: t("search_by_name"), describedby: "button-addon2" } %>
                    <%= form.button class: 'btn btn-sm btn-outline-secondary', id: 'button-addon2' do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    <% end %>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <% @company.offices.each do |office| %>
          <div class="col-lg-3 col-md-3">
            <div class="footer-widget">
              <h4 class="widget-title"><%= t('office').capitalize %> <%= office.name %></h4>
              <ul class="footer-menu">
                <li><%= office.street %></li>
                <li><%= office.post_code %> <%= office.city %> <%= "(#{office.region})" if office.region %></li>
                <li><a href="tel:<%= office.phone.gsub(/[^0-9]/, '') if office.phone %>"><%= office.phone %></a></li>
                <li><a href="mailto:<%= office.email %>"><%= office.email %></a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="mb-0">
            ©  <%= Date.current.year %> <%= @company.name %> | <%= link_to t('privacy_policy'), privacy_policy_path %> | <%= link_to t('terms_of_service'), terms_of_service_path %>
          </p>
        </div>
        <!--
        <div class="col-lg-6 col-md-6 text-right">
          <ul class="footer-bottom-social">
            <li>
              <a href="#"><i class="ti-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-linkedin"></i></a>
            </li>
          </ul>
        </div>
        -->
      </div>
    </div>
  </div>
</footer>
