<div class="header change-logo">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <%= link_to home_path, class: "nav-brand static-logo" do %>
          <%= image_tag("logo-light.png", class: "logo", alt: "") %>
        <% end %>
        <%= link_to home_path, class: "nav-brand fixed-logo" do %>
          <%= image_tag("logo.png", class: "logo", alt: "") %>
        <% end %>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">
          <li class="active"><%= link_to t("home"), root_path, class: "active" %></li>
          <li><a href="JavaScript:Void(0);"><%= t("vacation_rentals") %><span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="JavaScript:Void(0);"><%= t("apartments") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="list-layout-with-sidebar.html"><%= t("with_pool") %></a></li>
                  <li><a href="list-layout-with-map.html"><%= t("with_view") %></a></li>
                  <li><a href="list-layout-full.html"><%= t("in_centre") %></a></li>
                  <li><a href="list-layout-full.html"><%= t("on_budget") %></a></li>
                </ul>
              </li>
              <li><a href="JavaScript:Void(0);"><%= t("houses") %><span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="grid-layout-with-sidebar.html"><%= t("with_pool") %></a></li>
                  <li><a href="classical-layout-with-sidebar.html"><%= t("with_private_pool") %></a></li>
                  <li><a href="grid-layout-with-map.html"><%= t("with_view") %></a></li>
                  <li><a href="grid-layout-with-map.html"><%= t("with_garden") %></a></li>
                  <li><a href="classical-property.html"><%= t("unique") %></a></li>
                </ul>
              </li>
              <li><a href="JavaScript:Void(0);">With Map Property<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="list-layout-with-map.html">List With Map</a></li>
                  <li><a href="grid-layout-with-map.html">Grid With Map</a></li>
                  <li><a href="classical-layout-with-map.html">Classical With Map</a></li>
                  <li><a href="half-map.html">Half Map Search</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="JavaScript:Void(0);">Features<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="JavaScript:Void(0);">Single Property<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="single-property-1.html">Single Property 1</a></li>
                  <li><a href="single-property-2.html">Single Property 2</a></li>
                  <li><a href="single-property-3.html">Single Property 3</a></li>
                </ul>
              </li>
              <li><a href="JavaScript:Void(0);">Agencies & Agents<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="agents.html">Agents List</a></li>
                  <li><a href="agent-page.html">Agent Page</a></li>
                  <li><a href="agencies.html">Agencies List</a></li>
                  <li><a href="agency-page.html">Agency Page</a></li>
                </ul>
              </li>
              <li><a href="JavaScript:Void(0);">My Account<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="dashboard.html">User Dashboard</a></li>
                  <li><a href="payment.html">Payment Confirmation</a></li>
                  <li><a href="my-profile.html">My Profile</a></li>
                  <li><a href="my-property.html">Property List</a></li>
                  <li><a href="bookmark-list.html">Bookmarked Listings</a></li>
                  <li><a href="change-password.html">Change Password</a></li>
                </ul>
              </li>
              <li>
                <a href="compare-property.html">Compare Property</a>
              </li>
              <li>
                <a href="submit-property.html">Submit Property</a>
              </li>
            </ul>
          </li>
          <li><a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li><a href="blog.html">Blogs Page</a></li>
              <li><a href="blog-detail.html">Blog Detail</a></li>
              <li><a href="component.html">Shortcodes</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="404.html">Error Page</a></li>
              <li><a href="contact.html">Contacts</a></li>
            </ul>
          </li>
          <!--
          <li><a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</a></li>
          -->
        </ul>
        <ul class="nav-menu nav-menu-social align-to-right">
          <%= language_dropdown(I18n.locale || params[:locale]) %>
          <li>
            <%= link_to submit_property_path, class: "text-success" do %>
              <%= image_tag("submit.svg", class: "mr-2", width: "20", alt: "") %> <%= t("add_property") %>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <ul class="nav-menu nav-menu-social align-to-right">
              <li>
                <div class="btn-group account-drop">
                  <button type="button" class="btn btn-order-by-filt dropdown-toggle" id="showbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.photo.attached? %>
                      <%# cl_image_tag current_user.photo.key, class: "avater-img", alt="" %> <%= current_user.email %>
                    <% else %>
                      <%= image_tag "https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/sistach_favicon_c9rb1y.png", alt: "Sistach Finques", class: "avater-img" %> <%= current_user.email %>
                    <% end %>
                  </button>
                  <div class="dropdown-menu pull-right animated flipInX" id="showing">
                    <a href="#"><i class="fa-solid fa-address-card"></i>My Profile</a>
                    <a href="#"><i class="fa-solid fa-building-circle-check"></i>Property List</a>
                    <a href="#"><i class="fa-solid fa-bookmark"></i>Bookmarked Listings</a>
                    <a href="#"><i class="fa-solid fa-unlock"></i>Change Password</a>
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#logout">
                      <%= image_tag("user-dark.svg", width: "12", class: "mr-2", alt: "") %>
                      <%= t("sign_out") %>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          <% else %>
            <li class="add-listing light">
              <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login">
                <%= image_tag("user-dark.svg", width: "12", class: "mr-2", alt: "") %>
                <%= t("sign_in") %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="clearfix"></div>
<%= render 'shared/log_in_modal' %>
<%= render 'shared/log_out_modal' %>
<%# render 'shared/sign_up_modal' %>
