<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2><%= t("featured_title") %></h2>
          <p><%= t("featured_text") %></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center g-4">
      <% @featured_vrentals.each do |vrental| %>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="property-listing card border rounded-3">
            <div class="listing-img-wrapper p-3">
              <div class="list-img-slide position-relative">
                <% if vrental.coupons.present? %>
                  <div class="position-absolute top-0 left-0 ms-3 mt-3 z-index-9">
                    <div class="label bg-success text-light d-inline-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-tags me-2"></i>-<%= number_to_percentage(vrental.coupons.first.amount, precision: 0, format: "%n%") %> <%= vrental.coupons.first.name %>
                    </div>
                  </div>
                <% end %>
                <div class="location-property-wrap rounded-4">
                  <div class="location-property-thumb">
                    <% if vrental.image_urls.present? %>
                      <%= link_to book_property_path(vrental_id: vrental.id) do %>
                        <%= image_tag vrental.image_urls.order(position: :asc).first.url, class: "img-custom-slide mx-auto rounded", alt: vrental.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="listing-caption-wrapper px-3">
              <div class="listing-detail-wrapper">
                <div class="listing-short-detail-wrap">
                  <div class="listing-short-detail">
                    <div class="d-flex align-items-center">
                      <% if vrental.rental_term.present? %>
                        <span class="label bg-light-success text-success prt-type me-2"><%= t(vrental.rental_term) %></span>
                      <% end %>
                      <% if vrental.property_type %>
                        <span class="label bg-light-purple text-purple property-cats"><%= t(vrental.property_type) %></span>
                      <% end %>
                    </div>
                    <h4 class="listing-name fw-semibold fs-5 mb-1">
                      <% if user_signed_in? && current_user.admin? %>
                        <%= link_to vrental.name, edit_vrental_path(vrental) %>
                      <% else %>
                        <%= link_to vrental.display_name, book_property_path(vrental_id: vrental.id) %>
                      <% end %>
                    </h4>
                    <div class="prt-location text-muted-2">
                      <span class="svg-icon svg-icon-2hx">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor"/>
                          <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor"/>
                        </svg>
                      </span>
                      <%= vrental.town&.name %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="price-features-wrapper">
                <div class="list-fx-features d-flex align-items-center justify-content-between">
                  <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-building-shield fs-xs"></i></div>
                    <% if vrental.max_guests.present? %>
                      <span class="text-muted-2 fs-sm"><%= vrental.max_guests %> <%= t("guest", count: vrental.max_guests) %></span>
                    <% end %>
                  </div>
                  <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bed fs-xs"></i></div>
                    <span class="text-muted-2 fs-sm"><%= vrental.real_bedrooms&.count %> <%= t("bedroom", count: vrental.real_bedrooms&.count) %></span>
                  </div>
                  <div class="listing-card d-flex align-items-center">
                    <div class="square--25 text-muted-2 fs-sm circle gray-simple me-2"><i class="fa-solid fa-bath fs-xs"></i></div>
                    <span class="text-muted-2 fs-sm"><%= vrental.bathrooms&.count %> <%= t("bathroom", count: vrental.bathrooms&.count) %></span>
                  </div>
                </div>
              </div>
              <div class="listing-detail-footer d-flex align-items-center justify-content-between py-4">
                <div class="listing-short-detail-flex">
                  <span class="d-flex label bg-light-success text-success prt-type text-sm"><%= t("from") %>
                    <h6 class="listing-card-info-price line-height-1 mx-2">
                      <%= number_to_currency(vrental.lowest_future_price, unit: "€", separator: ",", delimiter: ".", precision: 0, format: "%n%u") %>
                    </h6>
                    <%= t("night") %></span>
                </div>
                <div class="footer-flex">
                  <%= link_to book_property_path(vrental_id: vrental.id), class: "prt-view" do %>
                    <span class="svg-icon text-primary svg-icon-2hx">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.43 8.56949L10.744 15.1395C10.6422 15.282 10.5804 15.4492 10.5651 15.6236C10.5498 15.7981 10.5815 15.9734 10.657 16.1315L13.194 21.4425C13.2737 21.6097 13.3991 21.751 13.5557 21.8499C13.7123 21.9488 13.8938 22.0014 14.079 22.0015H14.117C14.3087 21.9941 14.4941 21.9307 14.6502 21.8191C14.8062 21.7075 14.9261 21.5526 14.995 21.3735L21.933 3.33649C22.0011 3.15918 22.0164 2.96594 21.977 2.78013C21.9376 2.59432 21.8452 2.4239 21.711 2.28949L15.43 8.56949Z" fill="currentColor"/>
                        <path opacity="0.3" d="M20.664 2.06648L2.62602 9.00148C2.44768 9.07085 2.29348 9.19082 2.1824 9.34663C2.07131 9.50244 2.00818 9.68731 2.00074 9.87853C1.99331 10.0697 2.04189 10.259 2.14054 10.4229C2.23919 10.5869 2.38359 10.7185 2.55601 10.8015L7.86601 13.3365C8.02383 13.4126 8.19925 13.4448 8.37382 13.4297C8.54839 13.4145 8.71565 13.3526 8.85801 13.2505L15.43 8.56548L21.711 2.28448C21.5762 2.15096 21.4055 2.05932 21.2198 2.02064C21.034 1.98196 20.8409 1.99788 20.664 2.06648Z" fill="currentColor"/>
                      </svg>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
        <%= link_to t('view_more_properties'), list_path, class: "btn btn-success px-md-5 rounded" %>
      </div>
    </div>
  </div>
</section>
