<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <%= image_tag("https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/logo_light_hvbgn4.png", class: "img-footer", alt: "Sistach Finques") %>
            <div class="footer-add">
              <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-network-wired"></i> Extranet</a>
            </div>
          </div>
        </div>
        <% if current_user.owned_company&.offices.present? %>
          <% current_user.owned_company&.offices.each do |office| %>
            <div class="col">
              <div class="footer-widget">
                <h4 class="widget-title">Oficina <%= office.name %></h4>
                <ul class="footer-menu">
                  <li><%= office.street %></li>
                  <li><%= office.post_code %> <%= office.city %> <%= "(#{office.region})" if office.region %></li>
                  <li><a href="tel:<%= office.phone&.delete(" ") %>"><%= office.phone %></a></li>
                  <li><a href="mailto:<%= office.email %>"><%= office.email %></a></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="mb-0">
            ©  <%= Date.current.year %> Sistach Finques | <a href="/avis-legal">Avís legal | Política de privacitat</a>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <ul class="footer-bottom-social">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ============================ Footer End ================================== -->
