<div class="d-flex flex-column justify-content-end mb-3">
  <p class="text-muted-2"><%= t('import_bookings') %></p>
  <%= form_with url: import_bookings_office_path(@estartit_office), method: 'get', class: "d-flex justify-content-end align-items-end gap-2", data: { action: "submit->import-bookings#submit", import_bookings_target: "form" } do |form| %>
    <%= form.date_field :to_date, value: (Date.today + 14.days).strftime('%Y-%m-%d'), class: 'datepicker' %>
    <button class="btn btn-sm btn-secondary" type="submit" data-import-bookings-target="submitButton">
      <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" data-import-bookings-target="spinner"></span>
      <span
          data-import-bookings-target="buttonText"
          data-loading-text="<%= t('loading') %>"
          data-original-text="<%= t('update_bookings') %>"
        >
        <%= t('update_bookings') %>
      </span>
    </button>
    <span class="alert" data-import-bookings-target="statusMessage"></span>
  <% end %>
</div>
