<div class="header header-light head-shadow change-logo">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <%= link_to home_path, class: "nav-brand static-logo" do %>
          <%= image_tag("logo-light.png", class: "logo", alt: "") %>
        <% end %>
        <%= link_to home_path, class: "nav-brand fixed-logo" do %>
          <%= image_tag("logo.png", class: "logo", alt: "") %>
        <% end %>
        <div class="nav-toggle"></div>
        <div class="mobile_nav">
          <ul>
            <li>
              <%= link_to new_vrental_path, class: "text-success", data: { toggle: "tooltip", placement: "top" }, title: t('add_property') do %>
                <i class="fa-solid fa-house-circle-check"></i>
              <% end %>
            </li>
            <%# render 'shared/user_menu' %>
          </ul>
        </div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <%= render 'shared/admin_menu_items' if @admin_area %>
        <ul class="nav-menu nav-menu-social align-to-right d-lg-flex d-none align-items-center gap-3">
          <% if @admin_area && current_user.admin? || current_user.manager? || current_user.owner.present? && (current_user.owner.access_type && current_user.owner.access_type != "basic") %>
            <li>
              <%= link_to new_vrental_path, class: "text-success" do %>
                <i class="fa-solid fa-house-circle-check me-2"></i><%= t("add_property") %>
              <% end %>
            </li>
          <% end %>
          <%= render 'shared/user_menu' %>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Navigation -->
<script>
  $(document).ready(function(){
  				$("#showbutton").click(function(){
  				$("#showing").slideToggle("slow");
  });
  });
</script>
