<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid ps-5">

      <%# change the link and the image dynamically based on the profile image? Or add user image? %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dlzusxobf/image/upload/v1665045942/FINQUES_SISTACH__Finques_nxoogg.png" %>
      <% end %>
        <%# link_to "#", class: "w-40 self-center" do %>
        <%# if profile.photo.attached? %>
        <%# cl_image_tag profile.photo.key, height: 70, crop: :fill %>
        <%# else %>
        <%# <p>Aquest perfil no té logo adjuntat.</p> %>
        <%# end %>
        <%# end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <% if profile_logged_in? %>
                  <%# if IMMOBILIARIA %>
                  <% if current_profile.companytype == "Immobiliària" %>
                    <%# First dropdown - LLOGUER ANUAL %>
                    <li class="nav-item dropdown">
                      <%= link_to "Lloguer anual", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <%= link_to "Immobles", rentals_path, class: "dropdown-item" %>
                        <%= link_to "Propietaris", owners_path, class: "dropdown-item" %>
                        <%= link_to "Inquilins", renters_path, class: "dropdown-item" %>
                        <%= link_to "Contractes", agreements_path, class: "dropdown-item" %>
                        <%= link_to "Models de contracte", rentaltemplates_path, class: "dropdown-item" %>
                      </div>
                    </li>
                    <%# Second dropdown - COMPRAVENDES %>
                    <li class="nav-item dropdown">
                      <%= link_to "Compravendes", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <%= link_to "Immobles", rentals_path, class: "dropdown-item" %>
                        <%= link_to "Propietaris", owners_path, class: "dropdown-item" %>
                        <%= link_to "Inquilins", renters_path, class: "dropdown-item" %>
                        <%= link_to "Contractes", agreements_path, class: "dropdown-item" %>
                        <%= link_to "Models de contracte", rentaltemplates_path, class: "dropdown-item" %>
                      </div>
                    </li>
                    <%# if TURISTIC %>
                  <% else %>
                    <%# <li class="nav-item dropdown">
                      <%= link_to "Turístic", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
                      <li><%= link_to "Immobles", vrentals_path, class: "nav-link nav-line" %></li>
                      <li><%= link_to "Propietaris", vrowners_path, class: "nav-link nav-line" %> </li>
                      <li><%= link_to "Models de contracte", vrentaltemplates_path, class: "nav-link nav-line" %> </li>
                      <li><%= link_to "Contractes", vragreements_path, class: "nav-link nav-line" %> </li>




                      <%# </div> %>
                    <%# </li> %>
                  <% end %>
                    <%# DROPDOWN EL TEU PERFIL %>
                    <li class="nav-item dropdown">
                      <%# link missing below %>
                      <%# if I want to put profile photo here, the class to add is custom-avatar %>
                      <%# <% if current_user.profiles %>
                      <%= link_to "#{current_profile.businessname}", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <%= link_to "Canvia de perfil", new_profile_session_path, class: "dropdown-item" %>
                          <%= link_to "Els meus perfils", new_profile_session_path, class: "dropdown-item" %>
                          <%= link_to "Editar el compte", edit_user_registration_path, class: "dropdown-item" %>
                          <%= button_to "Sortir", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "dropdown-item" %>
                        </div>
                    </li>
              <% else %>
                    <li class="nav-item">
                      <%= link_to t("create_profile"), new_profile_path, class: 'btn btn-confirm' %>
                    </li>
                      <li>
                      <%= link_to "El teu compte", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <%= link_to "Editar el compte", edit_user_registration_path, class: "dropdown-item" %>
                          <%= button_to "Sortir", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "dropdown-item" %>
                        </div>
                    </li>
              <% end %>
            <% else %>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
                </li>
            <% end %>
              <% if controller.controller_name == "agreements" || controller.controller_name == "vragreements" %>
                    <li>
                    <% if I18n.locale === :ca || params[:locale] === :ca %>
                      <%= link_to url_for(locale: :ca), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                          <span class="flag-icon flag-icon-es-ca"> </span> <%= t('locale') %>
                        <% end %>
                    <% elsif I18n.locale === :en || params[:locale] === :en %>
                      <%= link_to url_for(locale: :en), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                          <span class="flag-icon flag-icon-gb"> </span> <%= t('locale') %>
                        <% end %>
                    <% elsif I18n.locale === :es || params[:locale] === :es %>
                      <%= link_to url_for(locale: :es), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                          <span class="flag-icon flag-icon-es"> </span> <%= t('locale') %>
                        <% end %>
                    <% elsif I18n.locale === :fr || params[:locale] === :fr %>
                      <%= link_to url_for(locale: :fr), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                          <span class="flag-icon flag-icon-fr"> </span> <%= t('locale') %>
                        <% end %>
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <%= link_to url_for(locale: :en), class: "dropdown-item" do %>
                          <span class="flag-icon flag-icon-gb"> </span> English
                          <% end %>
                          <%= link_to url_for(locale: :ca), class: "dropdown-item" do %>
                          <span class="flag-icon flag-icon-es-ca"> </span> Català
                          <% end %>
                          <%= link_to url_for(locale: :es), class: "dropdown-item" do %>
                          <span class="flag-icon flag-icon-es"> </span> Español
                          <% end %>
                          <%= link_to url_for(locale: :fr), class: "dropdown-item" do %>
                          <span class="flag-icon flag-icon-fr"> </span> Français
                          <% end %>
                        </div>
                    </li>
                <% end %>
          </ul>
      </div>
    </div>
  </div>
