<!-- ============================ Smart Testimonials ================================== -->
<section class="gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2><%= t('clients_opinions') %></h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="smart-textimonials smart-center" id="smart-textimonials">
          <!-- Single Item -->
          <% @featured_reviews.each do |review| %>
            <div class="item">
              <div class="item-box">
                <div class="smart-tes-author">
                  <div class="st-author-box">
                    <div class="st-author-info">
                      <h4 class="st-author-title">
                        <%= link_to review.vrental.name, vrental_path(review.vrental), class: "link" %>
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="smart-tes-content">
                  <p><%= review.send("comment_#{locale}") %></p>
                </div>
                <div class="st-author-info">
                  <% if review.source == "airbnb" %>
                    <div class="article_comments_thumb">
                      <i class="fa-brands fa-airbnb" style="color: #ff385d; font-size: 36px;"></i>
                    </div>
                  <% end %>
                  <h4 class="st-author-title"><%= review.client_name %></h4>
                  <span class="st-author-subtitle"><%= review.send("client_location_#{locale}") %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Smart Testimonials End ================================== -->
