<div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard mt-5">
  <div class="hero-search-content">
    <%= form_with url: list_map_path, data: { controller: 'search' }, method: :get, 'data-turbo-cache': false do |form| %>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12 b-r d-flex align-items-center">
          <%= form.text_field :check_in, as: :string, data: { search_target: "checkin" }, class: "form-control", placeholder: "Check-in"  %>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 b-r d-flex align-items-center">
          <%= form.text_field :check_out, as: :string, data: { search_target: "checkout" }, class: "form-control", placeholder: "Check-out"    %>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 p-0 elio">
          <div class="form-group">
            <div class="input-with-icon">
              <select name="guests" id="guests" class="form-control" data-placeholder="<%= t('guests').capitalize %>">
                <option value="">&nbsp;</option>
                <% (1..20).each do |n| %>
                  <option value="<%= n %>"><%= n %> <%= t("guest", count: n) %></option>
                <% end %>
              </select>
              <i class="fas fa-user"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 p-0 elio">
          <div class="form-group">
            <div class="input-with-icon">
              <select name="location" id="location" class="form-control" data-placeholder="<%= t('location').capitalize %>">
                <option value="">&nbsp;</option>
                <% if @towns %>
                  <% @towns.each do |town| %>
                    <option value="<%= town.id %>"><%= town.name %></option>
                  <% end %>
                <% end %>
              </select>
              <i class="fas fa-location-dot"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2">
          <div class="form-group">
            <a role="button" class="collapsed ad-search" data-bs-toggle="collapse" href="#advance-search" aria-expanded="false" aria-controls="advance-search"><i class="fas fa-sliders-h"></i></a>
          </div>
        </div>
        <!-- Collapse Advance Search Form start -->
        <div class="collapse" id="advance-search" aria-expanded="false" role="banner">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group mb-2">
                <div class="input-with-icon">
                  <select name="type" id="type" class="form-control" data-placeholder="<%= t('type').capitalize %>">
                    <option value="">&nbsp;</option>
                    <% @property_types.each do |type| %>
                      <option value="<%= type %>"><%= t(type) %></option>
                    <% end %>
                  </select>
                  <i class="fas fa-house"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group mb-2">
                <div class="input-with-icon">
                  <select name="bedrooms" id="bedrooms" class="form-control" data-placeholder="<%= t('bedrooms').capitalize %>">
                    <option value="">&nbsp;</option>
                    <% (1..@highest_bedroom_count).each do |n| %>
                      <option value="<%= n %>"><%= n %> <%= t("bedroom", count: n) %></option>
                    <% end %>
                  </select>
                  <i class="fas fa-bed"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group mb-2">
                <div class="input-with-icon">
                  <select name="bathrooms" id="bathrooms" class="form-control" data-placeholder="<%= t('bathrooms').capitalize %>">
                    <option value="">&nbsp;</option>
                    <% (1..@highest_bathroom_count).each do |n| %>
                      <option value="<%= n %>"><%= n %> <%= t("bathroom", count: n) %></option>
                    <% end %>
                  </select>
                  <i class="fas fa-bath"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
              <h4 class="text-dark"><%= t("features").capitalize %></h4>
              <ul class="no-ul-list third-row">
                <% @features.each do |feature| %>
                  <li>
                    <input id="feature-<%= feature.id %>" class="checkbox-custom" name="selected_features[]" type="checkbox" value="<%= feature.id %>">
                    <label for="feature-<%= feature.id %>" class="checkbox-custom-label"><%= t(feature.name).capitalize %></label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- Collapse Advance Search Form End -->
        <div class="col-lg-2 col-md-3 col-sm-12">
          <div class="form-group">
            <%= button_tag t("search"), class: "btn search-btn black", data: { turbo: false } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
