<div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard">
  <div class="hero-search-content">
    <%= form_with url: list_path, method: :get, data: { controller: 'search-bar', available: @company.future_available_dates.to_json } do |form| %>
      <%= form.hidden_field :request_context, value: "availability" %>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 b-r">
          <div class="form-group d-flex flex-column flex-lg-row gap-2">
            <div class="form-group borders">
              <div class="input-with-icon">
                <%= form.text_field :check_in, value: params[:check_in], as: :string, data: { search_bar_target: "checkin" }, class: "form-control", placeholder: t('check_in'), required: true %>
                <i class="fa-solid fa-calendar-days"></i>
              </div>
            </div>
            <div class="form-group border-start borders">
              <div class="input-with-icon">
                <%= form.text_field :check_out, value: params[:check_out], as: :string, data: { search_bar_target: "checkout" }, class: "form-control", placeholder: t('check_out'), required: true %>
                <i class="fa-solid fa-calendar-days"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-md-0 elio">
          <div class="form-group border-start borders">
            <div class="input-with-icon">
              <select name="guests" id="guests" class="form-control" data-placeholder="<%= t('guests').capitalize %>">
                <option value="">&nbsp;</option>
                <% (1..20).each do |n| %>
                  <option value="<%= n %>"><%= n %> <%= t("guest", count: n) %></option>
                <% end %>
              </select>
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-md-0 elio">
          <div class="form-group border-start borders">
            <div class="input-with-icon">
              <select name="location" id="location" class="form-control" data-placeholder="<%= t('location').capitalize %>" >
                <option value="">&nbsp;</option>
                <% if @locations %>
                  <% @locations.each do |location| %>
                    <option value="<%= location %>"><%= location %></option>
                  <% end %>
                <% end %>
              </select>
              <i class="fa solid fa-location-dot"></i>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
          <div class="form-group">
            <%= button_tag t("search"), class: "btn btn-dark full-width" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
