<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark toggled"
    id="accordionSidebar"
    data-sidebar-target="bar"
>
  <% if user_signed_in? %>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Control de panel</span>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        <%= current_user.companies.first&.name if current_user.companies %>
      </div>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link collapsed", data: { toggle: "collapse", target: "#collapseTuristic" }, 'aria-expanded': true, 'aria-controls': "collapseTwo" do %>
          <i class="fas fa-fw fa-umbrella-beach"></i>
          <span>Lloguer turístic</span>
        <% end %>
        <div id="collapseTuristic" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" data-sidebar-target="coll">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to "Immobles", vrentals_path, class: "collapse-item" %>
            <%= link_to "Propietaris", vrowners_path, class: "collapse-item" %>
            <%= link_to "Models de contracte", vrentaltemplates_path, class: "collapse-item" %>
            <%= link_to "Contractes", vragreements_path, class: "collapse-item" %>
            <%= link_to "Ingressos", earnings_path, class: "collapse-item" %>
            <%= link_to "Despeses", expenses_path, class: "collapse-item" %>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
    <% end %>
    <div class="text-center">
      <button
        class="rounded-circle border-0"
        id="sidebarToggle"
        data-sidebar-target="sidebartoggler"
        data-action="click->sidebar#toggleit"
        >
      </button>
    </div>
  </ul>
