<% if current_user.owner.present? %>
  <li class="<%= 'active' if current_page?(edit_owner_path(current_user.owner)) %>">
    <%= link_to edit_owner_path(current_user.owner) do %>
      <i class="fa-solid fa-house-user"></i><%= t("owner") %>
    <% end %>
  </li>
  <% if current_user.owner.vrentals.any?  %>
    <li class="<%= 'active' if current_page?(vrentals_path) %>">
      <%= link_to vrentals_path do %>
        <i class="fa-solid fa-house-circle-check"></i><%= t("property", count: current_user.owner.vrentals.count).capitalize %>
      <% end %>
    </li>
  <% end %>
  <% if current_user.owner.access_type && current_user.owner.access_type != "basic" %>
    <li class="<%= 'active' if current_page?(new_vrental_path) %>">
      <%= link_to new_vrental_path do %>
        <i class="fa-solid fa-house-circle-check"></i><%= t("add_property") %>
      <% end %>
    </li>
  <% end %>
<% end %>
