<li class="<%= 'active' if current_page?(add_booking_conditions_vrental_path(@vrental)) %>">
  <%= link_to add_booking_conditions_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("property_other_details") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(vrental_rates_path(@vrental)) %>">
  <%= link_to vrental_rates_path(@vrental) do %>
    <i class="fa-solid fa-money-check-dollar"></i><%= t('rates') %>
  <% end %>
</li>
