<section class="bg-light pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <a href="javascript:void(0);" onclick="openFilterSearch()" class="btn btn-dark full-width mb-4"><%= t('open_menu') %><i class="fa-solid fa-bars ms-2"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="simple-sidebar sm-sidebar" id="filter_search">
          <div class="search-sidebar_header">
            <h4 class="ssh_heading"><%= t('close_menu') %></h4>
            <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="fa-regular fa-circle-xmark fs-5 text-muted-2"></i></button>
          </div>
          <div class="sidebar-widgets">
            <div class="dashboard-navbar">
              <% if @office && @office.office_photos.present? %>
                <div class="d-user-avater">
                  <%= cl_image_tag @office.office_photos.first.key, crop: :fill, class: "img-fluid avater", alt: "#{@company.name}" %>
                </div>
              <% end %>
              <div class="d-navigation">
                <ul>
                  <% if current_user.admin? || current_user.manager? %>
                    <li class="<%= 'active' if current_page?(dashboard_path) %>">
                      <%= link_to dashboard_path do %>
                        <i class="fa-solid fa-gauge"></i><%= t("dashboard") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(empty_vrentals_path) %>">
                      <%= link_to empty_vrentals_path do %>
                        <i class="fa-solid fa-calendar-check"></i><%= t('empty_vrentals') %>
                      <% end %>
                    </li>
                  <% end %>
                  <% if @vrental && @vrental.persisted? %>
                    <li class="<%= 'active' if current_page?(@vrental) %>">
                      <%= link_to @vrental do %>
                        <i class="fa-solid fa-house"></i><%= t("view_property") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(edit_vrental_path(@vrental)) %>">
                      <%= link_to edit_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("property_details") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(add_owner_vrental_path(@vrental)) %>">
                      <%= link_to add_owner_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("property_owner") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(add_booking_conditions_vrental_path(@vrental)) %>">
                      <%= link_to add_booking_conditions_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("property_booking_conditions") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(add_descriptions_vrental_path(@vrental)) %>">
                      <%= link_to add_descriptions_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("property_descriptions") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(add_features_vrental_path(@vrental)) %>">
                      <%= link_to add_features_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("property_features") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_rates_path(@vrental)) %>">
                      <%= link_to vrental_rates_path(@vrental) do %>
                        <i class="fa-solid fa-money-check-dollar"></i><%= t('rates') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(add_photos_vrental_path(@vrental)) %>">
                      <%= link_to add_photos_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-image"></i><%= t('photos') %>
                      <% end %>
                    </li>
                    <% if current_user.admin? || current_user.manager? %>
                      <li class="<%= 'active' if current_page?(vrental_availabilities_path(@vrental)) %>">
                        <%= link_to vrental_availabilities_path(@vrental) do %>
                          <i class="fa-solid fa-calendar"></i><%= t('availability') %>
                        <% end %>
                      </li>
                      <li class="<%= 'active' if current_page?(vrental_bookings_path(@vrental)) %>">
                        <%= link_to vrental_bookings_path(@vrental) do %>
                          <i class="fa-solid fa-calendar-check"></i><%= t('bookings') %>
                        <% end %>
                      </li>
                    <% end %>
                    <li class="<%= 'active' if current_page?(vrental_vragreements_path(@vrental)) %>">
                      <%= link_to vrental_vragreements_path(@vrental) do %>
                        <i class="fa-solid fa-file-signature"></i><%= t('contracts') %>
                      <% end %>
                    </li>
                    <% if current_user.owner.present? %>
                      <li class="<%= 'active' if current_page?(vrental_owner_bookings_path(@vrental)) %>">
                        <%= link_to vrental_owner_bookings_path(@vrental) do %>
                          <i class="fa-solid fa-arrow-trend-up"></i><%= t('owner_bookings') %>
                        <% end %>
                      </li>
                    <% end %>
                    <li class="<%= 'active' if current_page?(vrental_earnings_path(@vrental)) %>">
                      <%= link_to vrental_earnings_path(@vrental) do %>
                        <i class="fa-solid fa-arrow-trend-up"></i><%= current_user.admin? || current_user.manager? ? t('earnings') : t('bookings') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_expenses_path(@vrental)) %>">
                      <%= link_to vrental_expenses_path(@vrental) do %>
                        <i class="fa-solid fa-arrow-trend-down"></i><%= t('expenses') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_statements_path(@vrental)) %>">
                      <%= link_to vrental_statements_path(@vrental) do %>
                        <i class="fa-solid fa-file-invoice-dollar"></i><%= t('statements') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_invoices_path(@vrental)) %>">
                      <%= link_to vrental_invoices_path(@vrental) do %>
                        <i class="fa-solid fa-file-invoice-dollar"></i><%= t('invoices') %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to book_property_path(vrental_id: @vrental.id), target: '_blank' do %>
                        <i class="fa-solid fa-eye"></i><%= t('view_on_website') %>
                      <% end %>
                    </li>
                  <% else %>
                    <% if current_user.admin? || current_user.manager? || current_user.owner.present? && current_user.owner.vrentals.any? %>
                      <li class="<%= 'active' if current_page?(vrentals_path) %>">
                        <%= link_to vrentals_path do %>
                          <i class="fa-solid fa-house-circle-check"></i><%= t("vrentals") %>
                        <% end %>
                      </li>
                    <% else %>
                      <li class="<%= 'active' if current_page?(new_vrental_path) %>">
                        <%= link_to new_vrental_path do %>
                          <i class="fa-solid fa-house-circle-check"></i><%= t("add_property") %>
                        <% end %>
                      </li>
                    <% end %>
                    <% if current_user.admin? || current_user.manager? %>
                      <li class="<%= 'active' if current_page?(owners_path) %>">
                        <%= link_to owners_path do %>
                          <i class="fa-solid fa-house-user"></i><%= t("owners") %>
                        <% end %>
                      </li>
                      <li class="<%= 'active' if current_page?(vrentaltemplates_path) %>">
                        <%= link_to vrentaltemplates_path do %>
                          <i class="fa-solid fa-file"></i><%= t("contract_templates") %>
                        <% end %>
                      </li>
                    <% elsif current_user.owner.present? %>
                      <li class="<%= 'active' if current_page?(owner_path(current_user.owner)) %>">
                        <%= link_to owner_path(current_user.owner) do %>
                          <i class="fa-solid fa-house-user"></i><%= t("owners") %>
                        <% end %>
                      </li>
                    <% else %>
                      <li class="<%= 'active' if current_page?(new_owner_path) %>">
                        <%= link_to new_owner_path do %>
                          <i class="fa-solid fa-house-user"></i><%= t("add_owner") %>
                        <% end %>
                      </li>
                    <% end %>
                    <% if current_user.admin? || current_user.manager? || (current_user.owner.present? && current_user.owner.vrentals.any? && current_user.owner.vrentals.any? { |vrental| vrental.vragreements.any? }) %>
                      <li class="<%= 'active' if current_page?(vragreements_path) %>">
                        <%= link_to vragreements_path do %>
                          <i class="fa-solid fa-file-signature"></i><%= t("contracts") %>
                        <% end %>
                      </li>
                    <% end %>
                    <% if (current_user.admin? || current_user.manager?) %>
                      <% unless @vrental %>
                        <li class="<%= 'active' if current_page?(companies_path) %>">
                          <%= link_to companies_path do %>
                            <i class="fa-solid fa-house-laptop"></i><%= t("companies") %>
                          <% end %>
                        </li>
                        <% unless controller.controller_name == 'companies' %>
                          <% if @company.offices %>
                            <li class="<%= 'active' if current_page?(company_offices_path(@company)) %>">
                              <%= link_to company_offices_path(@company) do %>
                                <i class="fa-solid fa-briefcase"></i><%= t("offices") %>
                              <% end %>
                            </li>
                          <% end %>
                        <% end %>
                      <% end %>
                      <li class="<%= 'active' if current_page?(new_vrgroup_path) %>">
                        <%= link_to new_vrgroup_path do %>
                          <i class="fa-solid fa-link"></i><%= t("add_group") %>
                        <% end %>
                      </li>
                      <% if @office %>
                        <li class="<%= 'active' if current_page?(company_office_coupons_path(@company, @office)) %>">
                          <%= link_to company_office_coupons_path(@company, @office) do %>
                            <i class="fa-solid fa-tags"></i><%= t("coupons") %>
                          <% end %>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="dashboard-wraper">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function openFilterSearch() {
  	document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
  	document.getElementById("filter_search").style.display = "none";
  }
</script>
