<section class="bg-light pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <%# <a href="javascript:void(0);" onclick="openFilterSearch()" class="btn btn-dark full-width mb-4">Dashboard Navigation<i class="fa-solid fa-bars ms-2"></i></a> %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="simple-sidebar sm-sidebar" id="filter_search">
          <div class="search-sidebar_header">
            <h4 class="ssh_heading"><%= t('close_filter') %></h4>
            <%# <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="fa-regular fa-circle-xmark fs-5 text-muted-2"></i></button> %>
          </div>
          <div class="sidebar-widgets">
            <div class="dashboard-navbar">
              <% if @office && @office.office_photos.present? %>
                <div class="d-user-avater">
                  <%= cl_image_tag @office.office_photos.first.key, crop: :fill, class: "img-fluid avater", alt: "#{@company.name}" %>
                </div>
              <% end %>
              <div class="d-navigation">
                <ul>
                  <% if @vrental && @vrental.persisted? %>
                    <li class="<%= 'active' if current_page?(@vrental) %>">
                      <%= link_to @vrental do %>
                        <i class="fa-solid fa-house"></i><%= t("property_details") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(edit_vrental_path(@vrental)) %>">
                      <%= link_to edit_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-square-pen"></i><%= t("edit_property") %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(edit_photos_vrental_path(@vrental)) %>">
                      <%= link_to edit_photos_vrental_path(@vrental) do %>
                        <i class="fa-solid fa-image"></i><%= t('photos') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_rates_path(@vrental)) %>">
                      <%= link_to vrental_rates_path(@vrental) do %>
                        <i class="fa-solid fa-money-check-dollar"></i><%= t('rates') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_vragreements_path(@vrental)) %>">
                      <%= link_to vrental_vragreements_path(@vrental) do %>
                        <i class="fa-solid fa-file-signature"></i><%= t('contracts') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_earnings_path(@vrental)) %>">
                      <%= link_to vrental_earnings_path(@vrental) do %>
                        <i class="fa-solid fa-arrow-trend-up"></i><%= t('earnings') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_expenses_path(@vrental)) %>">
                      <%= link_to vrental_expenses_path(@vrental) do %>
                        <i class="fa-solid fa-arrow-trend-down"></i><%= t('expenses') %>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if current_page?(vrental_statements_path(@vrental)) %>">
                      <%= link_to vrental_statements_path(@vrental) do %>
                        <i class="fa-solid fa-file-invoice-dollar"></i><%= t('statements') %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to book_property_path(vrental_id: @vrental.id), target: '_blank' do %>
                        <i class="fa-solid fa-eye"></i><%= t('view_on_website') %>
                      <% end %>
                    </li>
                  <% end %>
                  <li class="<%= 'active' if current_page?(dashboard_path) %>">
                    <%= link_to dashboard_path do %>
                      <i class="fa-solid fa-gauge"></i><%= t("dashboard") %>
                    <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?(new_vrgroup_path) %>">
                    <%= link_to new_vrgroup_path do %>
                      <i class="fa-solid fa-link"></i><%= t("add_group") %>
                    <% end %>
                  </li>
                  <% if @office %>
                    <li class="<%= 'active' if current_page?(company_office_coupons_path(@company, @office)) %>">
                      <%= link_to company_office_coupons_path(@company, @office) do %>
                        <i class="fa-solid fa-tags"></i><%= t("coupons") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="dashboard-wraper">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function openFilterSearch() {
  	document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
  	document.getElementById("filter_search").style.display = "none";
  }
</script>
