<li class="<%= 'active' if current_page?(dashboard_path) %>">
  <%= link_to dashboard_path do %>
    <i class="fa-solid fa-gauge"></i><%= t("dashboard") %>
  <% end %>
</li>
<!--
<li class="<%= 'active' if current_page?(empty_vrentals_path) %>">
  <%= link_to empty_vrentals_path do %>
    <i class="fa-solid fa-calendar-check"></i><%= t('empty_vrentals') %>
  <% end %>
</li>
-->
<li class="<%= 'active' if current_page?(vrentals_path) %>">
  <%= link_to vrentals_path do %>
    <i class="fa-solid fa-house-circle-check"></i><%= t("vrentals") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(owners_path) %>">
  <%= link_to owners_path do %>
    <i class="fa-solid fa-house-user"></i><%= t("owners") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(vrentaltemplates_path) %> d-none d-lg-flex">
  <%= link_to vrentaltemplates_path do %>
    <i class="fa-solid fa-file"></i><%= t("contract_templates") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(vragreements_path) %> d-none d-lg-flex">
  <%= link_to vragreements_path do %>
    <i class="fa-solid fa-file-signature"></i><%= t("contracts") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(companies_path) %> d-none d-lg-flex">
  <%= link_to companies_path do %>
    <i class="fa-solid fa-house-laptop"></i><%= t("companies") %>
  <% end %>
</li>
<% unless controller.controller_name == 'companies' %>
  <% if @company && @company.offices %>
    <li class="<%= 'active' if current_page?(company_offices_path(@company)) %> d-none d-lg-flex">
      <%= link_to company_offices_path(@company) do %>
        <i class="fa-solid fa-briefcase"></i><%= t("offices") %>
      <% end %>
    </li>
  <% end %>
<% end %>
<li class="<%= 'active' if current_page?(rate_plans_path) %> d-none d-lg-flex">
  <%= link_to rate_plans_path do %>
    <i class="fa-solid fa-tags"></i><%= t("rate_plans") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_vrgroup_path) %> d-none d-lg-flex">
  <%= link_to new_vrgroup_path do %>
    <i class="fa-solid fa-link"></i><%= t("add_group") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_post_path) %> d-none d-lg-flex">
  <%= link_to new_post_path do %>
    <i class="fa-solid fa-edit"></i><%= t("add_post") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(feeds_path) %> d-none d-lg-flex">
  <%= link_to feeds_path do %>
    <i class="fa-solid fa-edit"></i><%= t("news_feeds") %>
  <% end %>
</li>
<% if @office && @office.persisted?%>
  <li class="<%= 'active' if current_page?(company_office_coupons_path(@company, @office)) %> d-none d-lg-flex">
    <%= link_to company_office_coupons_path(@company, @office) do %>
      <i class="fa-solid fa-tags"></i><%= t("coupons") %>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(get_reviews_from_airbnb_office_path(@office)) %> d-none d-lg-flex">
    <%= link_to get_reviews_from_airbnb_office_path(@office) do %>
      <i class="fa-solid fa-tags"></i><%= t("get_reviews_from_airbnb") %>
    <% end %>
  </li>
<% end %>
<!--
<li class="<%= 'active' if current_page?(sidekiq_web_path) %>">
  <%= link_to sidekiq_web_path, target: "_blank" do %>
    <i class="fas fa-network-wired"></i> Sidekiq
  <% end %>
</li>
-->
