<li class="<%= 'active' if current_page?(@vrental) %>">
  <%= link_to @vrental do %>
    <i class="fa-solid fa-house"></i><%= t("view_property") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(edit_vrental_path(@vrental)) %>">
  <%= link_to edit_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("property_details") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(add_owner_vrental_path(@vrental)) %>">
  <%= link_to add_owner_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("property_owner") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(add_descriptions_vrental_path(@vrental)) %>">
  <%= link_to add_descriptions_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("property_descriptions") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(add_features_vrental_path(@vrental)) %>">
  <%= link_to add_features_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("property_features") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(add_bedrooms_bathrooms_vrental_path(@vrental)) %>">
  <%= link_to add_bedrooms_bathrooms_vrental_path(@vrental) do %>
    <i class="fa-solid fa-square-pen"></i><%= t("bedrooms_bathrooms") %>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(add_photos_vrental_path(@vrental)) %>">
  <%= link_to add_photos_vrental_path(@vrental) do %>
    <i class="fa-solid fa-image"></i><%= t('photos') %>
  <% end %>
</li>
