<section class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <%# <a href="javascript:void(0);" onclick="openFilterSearch()" class="btn btn-dark full-width mb-4">Dashboard Navigation<i class="fa-solid fa-bars ms-2"></i></a> %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="simple-sidebar sm-sidebar" id="filter_search">
          <div class="search-sidebar_header">
            <h4 class="ssh_heading"><%= t('close_filter') %></h4>
            <%# <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="fa-regular fa-circle-xmark fs-5 text-muted-2"></i></button> %>
          </div>
          <div class="sidebar-widgets">
            <div class="dashboard-navbar">
              <% if @office && @office.office_photos.present? %>
                <div class="d-user-avater">
                  <%= cl_image_tag @office.office_photos.first.key, crop: :fill, class: "img-fluid avater", alt: "#{@company.name}" %>
                  <%# <h4>Adam Harshvardhan</h4> %>
                  <%# <span>Canada USA</span> %>
                </div>
              <% end %>
              <div class="d-navigation">
                <ul>
                  <!--
                  <li><a href="dashboard.html"><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
                  <li class="active"><a href="my-profile.html"><i class="fa-solid fa-address-card"></i>My Profile</a></li>
                  <li><a href="bookmark-list.html"><i class="fa-solid fa-bookmark"></i>Bookmarked Listings</a></li>
                  <li><a href="my-property.html"><i class="fa-solid fa-building-circle-check"></i>My Properties</a></li>
                  <li><a href="submit-property-dashboard.html"><i class="fa-solid fa-house"></i>Submit New Property</a></li>
                  <li><a href="change-password.html"><i class="fa-solid fa-unlock"></i>Change Password</a></li>
                  <li><a href="#"><i class="fa-solid fa-power-off"></i>Log Out</a></li>
                  -->
                  <li>
                    <%= link_to "dashboard_path" do %>
                      <i class="fa-solid fa-gauge"></i><%= t("dashboard") %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_vrgroup_path do %>
                      <i class="fa-solid fa-link"></i><%= t("add_group") %>
                    <% end %>
                  </li>
                  <% if @office %>
                    <li>
                      <%= link_to company_office_coupons_path(@company, @office) do %>
                        <i class="fa-solid fa-tags"></i><%= t("coupons") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="dashboard-wraper">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function openFilterSearch() {
  	document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
  	document.getElementById("filter_search").style.display = "none";
  }
</script>
