<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
    <div class="modal-content" id="sign-up">
      <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="bi bi-
close"></i></span>
      <div class="modal-body">
        <div class="col-md-12">
          <h4 class="modal-header-title"><%= t("sign_up") %></h4>
        </div>
        <div class="login-form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <%= f.text_field :email, class: "form-control", placeholder: "E-mail", autocomplete: "email" %>
                    <i class="bi bi-person-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <%= f.text_field :email, class: "form-control", placeholder: "E-mail", autocomplete: "email" %>
                    <i class="bi bi-person-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="input-group mb-3" data-controller="password-toggle">
                  <%= f.input_field :password,
                        required: true,
                        placeholder: t("password"),
                        autocomplete: "new-password",
                        hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                        data: { "password-toggle-target" => "unhide" },
                        class: "form-control" %>
                  <span class="input-group-text">
                    <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
                  </span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="input-group mb-3" data-controller="password-toggle">
                  <%= f.input_field :password_confirmation,
                        required: true,
                        placeholder: t("confirm_password"),
                        autocomplete: "new-password",
                        data: { "password-toggle-target" => "unhide" },
                        class: "form-control" %>
                  <span class="input-group-text">
                    <a class="show" data-password-toggle-target="show" data-action="click->password-toggle#password"><i class="fas fa-eye-slash fa-sm"></i></a>
                  </span>
                </div>
              </div>
              <!--
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <select class="form-control">
                      <option>As a Customer</option>
                      <option>As a Agent</option>
                      <option>As a Agency</option>
                    </select>
                    <i class="bi bi-briefcase"></i>
                  </div>
                </div>
              </div>
              -->
            </div>
            <div class="form-group">
              <%= f.button :submit, t("sign_up"), class: "btn btn-md full-width btn-theme-light-2 rounded" %>
            </div>
          <% end %>
        </div>
        <div class="text-center">
          <p class="mt-5"><i class="bi bi-person-fill mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
