<div class="container-fluid d-flex justify-content-between">
  <div>
    <%= link_to 'javascript:history.back()', class: "btn btn-sm btn-icon-split me-3" do %>
      <span class="icon text-white-600">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text m-0 text-primary" style="font-size: 0.85rem">
        <%= t('global.forms.back') %>
      </span>
    <% end %>
  </div>
</div>
<div class="container-fluid mb-3">
  <h4 class="mt-4 mb-3 text-primary text-center"><%= link_to @vrental.name, @vrental %></h4>
  <nav class="navbar navbar-dark d-flex justify-content-center gap-3">
    <%= link_to "Modificar l'immoble", edit_vrental_path(@vrental), class: "btn btn-light #{'active' if current_page?(edit_vrental_path(@vrental))}" %>
    <%= link_to "Fotos", add_photos_vrental_path(@vrental), class: "btn btn-light #{'active' if current_page?(add_photos_vrental_path(@vrental))}" %>
    <%= link_to "Pàgina web", book_property_path(vrental_id: @vrental.id), class: "btn btn-light #{'active' if current_page?(add_photos_vrental_path(@vrental))}" %>
    <%= link_to "Contractes", vrental_vragreements_path(@vrental), class: "btn btn-light #{'active' if current_page?(vrental_vragreements_path(@vrental))}" %>
    <%= link_to "Tarifes", vrental_rates_path(@vrental), class: "btn btn-light #{'active' if current_page?(vrental_rates_path(@vrental))}" %>
    <%= link_to "Ingressos", vrental_earnings_path(@vrental), class: "btn btn-light #{'active' if current_page?(vrental_earnings_path(@vrental))}" %>
    <%= link_to "Despeses", vrental_expenses_path(@vrental), class: "btn btn-light #{'active' if current_page?(vrental_expenses_path(@vrental))}"  %>
    <%= link_to "Liquidacions", vrental_statements_path(@vrental), class: "btn btn-light #{'active' if current_page?(vrental_statements_path(@vrental))}" %>
  </nav>
</div>
