<div class="container-fluid">
  <%= link_to 'javascript:history.back()', class: "btn btn-light btn-icon-split me-3" do %>
    <span class="icon text-white-600">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text m-0 text-primary" style="font-size: 0.85rem">
      Tornar
    </span>
  <% end %>
  <%= link_to edit_vrental_path(@vrental), class: "btn btn-secondary btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-pen"></i>
    </span>
    <span class="text">
      Modificar l'immoble
    </span>
  <% end %>
  <%= link_to vrental_vragreements_path(@vrental), class: "btn btn-warning btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-file-signature"></i>
    </span>
    <span class="text">
      Contractes
    </span>
  <% end %>
  <%= link_to vrental_rates_path(@vrental), class: "btn btn-info btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-euro-sign"></i>
    </span>
    <span class="text">
      Tarifes
    </span>
  <% end %>
  <%= link_to vrental_earnings_path(@vrental), class: "btn btn-success btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-chart-line"></i>
    </span>
    <span class="text">
      Ingressos
    </span>
  <% end %>
  <%= link_to vrental_expenses_path(@vrental), class: "btn btn-danger btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-cart-arrow-down"></i>
    </span>
    <span class="text">
      Despeses
    </span>
  <% end %>
  <%= link_to vrental_statements_path(@vrental), class: "btn btn-primary btn-icon-split" do %>
    <span class="icon text-white-50">
      <i class="fas fa-file-invoice-dollar"></i>
    </span>
    <span class="text">
      Liquidacions
    </span>
  <% end %>
  <h4 class="mt-4 mb-3 text-primary text-center"><%= @vrental.name %></h4>
</div>
