<!-- Topbar -->
<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <button
    class="btn btn-secondary d-md-none rounded-circle m-3"
    data-sidebar-target="topbartoggler"
    data-action="click->sidebar#togglesidebar"
  >
    <i class="fa fa-bars"></i>
  </button>
  <!-- Switch Profile buttons -->
    <div class="container-fluid justify-content-around">
      <% if profile_logged_in? %>
        <% current_user.profiles.each do |profile| %>
          <%= form_with url: profile_sessions_path , scope: :profile_session, local: true, class: "d-none d-md-block" do |f| %>
            <%= hidden_field_tag "profile_id", profile.id %>
            <%= button_tag type:'submit', class: "btn btn-light btn-icon-split me-3" do %>
              <span class="icon text-gray-600">
                  <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text m-0 text-primary" style="font-size: 0.85rem">
                <%= profile.businessname %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <div class="topbar-divider"></div>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown">
      <%= link_to "#", class: "nav-link dropdown-toggle", id: "userDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <span class="me-2 d-inline text-gray-600 small">
          <%= current_user.email %>
        </span>
        <%# <img class="img-profile rounded-circle" src="img/undraw_profile.svg"/> %>
      <% end %>
      <!-- Dropdown - User Information -->
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="userDropdown"
      >
        <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
          <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
          Editar el compte
        <% end %>
          <div class="dropdown-divider">
          </div>
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#logoutModal"
          >
            <i
              class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
            ></i>
            Sortir
          </a>
      </div>
    </li>
      <% if controller.controller_name == "agreements" || controller.controller_name == "vragreements" %>
        <li class="nav-item dropdown">
          <% I18n.available_locales.each do |lang| %>
            <% if I18n.locale === lang || params[:locale] === lang %>
              <%= link_to url_for(locale: lang), class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                  <% if lang === :ca %>
                  <span class="flag-icon flag-icon-es-ca"> </span> <span class="ms-1 d-none d-lg-inline text-gray-600 small"><%= t('locale') %></span>
                  <% elsif lang === :en %>
                  <span class="flag-icon flag-icon-gb"> </span> <span class="ms-1 d-none d-lg-inline text-gray-600 small"><%= t('locale') %></span>
                  <% elsif lang === :es %>
                  <span class="flag-icon flag-icon-es"> </span> <span class="ms-1 d-none d-lg-inline text-gray-600 small"><%= t('locale') %></span>
                  <% elsif lang === :fr %>
                  <span class="flag-icon flag-icon-fr"> </span> <span class="ms-1 d-none d-lg-inline text-gray-600 small"><%= t('locale') %></span>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to url_for(locale: :en), class: "dropdown-item" do %>
              <span class="flag-icon flag-icon-gb"> </span> English
              <% end %>
              <%= link_to url_for(locale: :ca), class: "dropdown-item" do %>
              <span class="flag-icon flag-icon-es-ca"> </span> Català
              <% end %>
              <%= link_to url_for(locale: :es), class: "dropdown-item" do %>
              <span class="flag-icon flag-icon-es"> </span> Español
              <% end %>
              <%= link_to url_for(locale: :fr), class: "dropdown-item" do %>
              <span class="flag-icon flag-icon-fr"> </span> Français
              <% end %>
            </div>
        </li>
      <% end %>
  </ul>
</nav>
<!-- End of Topbar -->
<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vols tancar la sessió?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Selecciona "Sortir" si vols tancar la sessió.
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
        >
          Cancel·lar
        </button>
        <%= button_to "Sortir", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
