<!-- Topbar -->
<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <button
    id="sidebarToggleTop"
    class="btn btn-link d-md-none rounded-circle mr-3"
    data-sidebar-target="sidebutton"
    data-action="click->sidebar#toggleit"
  >
    <i class="fa fa-bars"></i>
  </button>
  <!-- Sidebar Switch Profile forms -->
  <div class="container-fluid justify-content-around">
    <% current_user.profiles.each do |profile| %>
      <%= form_with url: profile_sessions_path , scope: :profile_session, local: true do |f| %>
        <%= hidden_field_tag "profile_id", profile.id %>
        <%= button_tag type:'submit', class: "btn btn-light btn-icon-split me-3" do %>
          <span class="icon text-gray-600">
              <i class="fas fa-arrow-right"></i>
          </span>
          <span class="text m-0 text-primary" style="font-size: 0.85rem">
            <%= profile.businessname %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="topbar-divider d-none d-sm-block"></div>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown">
      <%= link_to "#", class: "nav-link dropdown-toggle", id: "userDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
          <%= current_user.email %>
        </span>
        <%# <img class="img-profile rounded-circle" src="img/undraw_profile.svg"/> %>
      <% end %>
      <!-- Dropdown - User Information -->
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="userDropdown"
      >
        <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Editar el compte
        <% end %>
          <div class="dropdown-divider">
          </div>
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#logoutModal"
          >
            <i
              class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
            ></i>
            Logout
          </a>
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vols tancar la sessió?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Selecciona "Sortir" si vols tancar la sessió.
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
        >
          Cancel·lar
        </button>
        <%= button_to "Sortir", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
