<% if current_user.admin? || current_user.manager? || (current_user.owner.present? && current_user.owner.vrentals.any?) %>
  <li>
    <%= link_to vrentals_path do %>
      <i class="fa-solid fa-house-circle-check me-2"></i><%= t("vrentals") %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to new_vrental_path, class: "text-success" do %>
      <i class="fa-solid fa-house-circle-check me-2"></i><%= t("add_property") %>
    <% end %>
  </li>
<% end %>
<% if current_user.admin? %>
  <li>
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-chart-line me-2"></i><%= t("dashboard") %>
    <% end %>
  </li>
  <% unless controller.controller_name == 'companies' %>
    <li>
      <% link_to edit_company_path(@company) do %>
        <i class="fa-solid fa-house-laptop me-2"></i><%= t('company') %>
      <% end %>
    </li>
    <li>
      <%= link_to company_offices_path(@company) do %>
        <i class="fa-solid fa-briefcase me-2"></i><%= t('offices') %>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to users_path do %>
      <i class="fa-solid fa-user me-2"></i><%= t('authorize_users') %>
    <% end %>
  </li>
<% end %>
<li>
  <%= link_to edit_user_registration_path do %>
    <i class="fa-solid fa-address-card me-2"></i><%= t("edit_profile") %>
  <% end %>
</li>
<!--<a href="#"><i class="fa-solid fa-bookmark"></i>Bookmarked Listings</a>
                  <a href="#"><i class="fa-solid fa-unlock"></i>Change Password</a>-->
<li>
  <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#logout">
    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i><%= t("sign_out") %>
  </a>
</li>
