<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%# wicked_pdf_stylesheet_link_tag "application" -%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="row pb-1 text-muted border-bottom">
      <div class="col-3">
        <img alt="Api Girona" src="https://res.cloudinary.com/dlzusxobf/image/upload/v1667826447/apigirona_y9ue0x.png" style="height: 100px;" />
      </div>
      <div class="text-center col-6">
        <span class="font-weight-bold"><%= @vrental.office&.name %> 路 <%= @vrental.office&.company&.name %> 路 <%= @vrental.office&.company&.vat_number %></span>
        <br>
        <span><%= @vrental.office&.street %>, <%= @vrental.office&.post_code %> <%= @vrental.office&.city %></span>
        <br>
        <span><%= @vrental.office&.email %> 路 <%= @vrental.office&.website %></span>
        <br>
        <span><%= @vrental.office&.phone %> 路 <%= @vrental.office&.mobile %></span>
      </div>
      <div class="col-3 text-end text-right">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, width: "170px" %>
        <% else %>
          <img src="https://www.sistachrentals.com/wp-content/uploads/2019/12/marca_sistach_rentals_transparent.png" style="width: 170px;">
        <% end %>
      </div>
    </div>
  </body>
</html>
