<%= simple_form_for [@vrental, @statement] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.hidden_field :request_context, value: 'add_earnings' %>
    <%= f.input :date, as: :string, input_html: {class: "datepicker", value: Date.today} %>
    <%= f.input :location, input_html: { value: "L'Estartit" } %>
    <%= f.input :start_date, as: :string, input_html: {class: "datepicker", value: Date.today.beginning_of_year} %>
    <%= f.input :end_date, as: :string, input_html: {class: "datepicker", value: Date.today.end_of_year} %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
