<% if @last_year_statements %>
  <div class="d-flex flex-column flex-lg-row border-bottom justify-content-between gap-3 py-2">
    <div>
      <%= @last_year %>:
    </div>
    <div>
      <%= t('total_net_owner') %>:
      <%= number_to_currency(@vrental.total_net_owner_year(@last_year), unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
    </div>
    <div>
      <%= t('total_paid_owner') %>:
      <%= number_to_currency(@vrental.total_owner_payments_year(@last_year), unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
    </div>
    <div>
      <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#indexAnnualStatement">
        <%= @last_year %>: <%= t('pdf_annual_statement') %>
      </button>
    </div>
  </div>
  <%= render 'vrentals/pdf_annual_statement_modal', vrental: @vrental, year: @last_year, locale: @vrental.owner.present? ? @vrental.owner.language : "ca" %>
<% else %>
  <%= t('there_are_no_statements') %>
<% end %>
