<div class="d-flex justify-content-between">
  <h4 class="font-weight-bold text-primary text-center mb-2">Afegir despeses</h4>
  <%= link_to new_vrental_expense_path(@vrental), class: "btn btn-secondary" do %>
    <i class="fas fa-plus fa-sm"></i>
    <span class="text">Nova despesa</span>
  <% end %>
</div>
<hr>
<div class="container-fluid w-50">
  <%= simple_form_for [@vrental, @statement] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <% exps = @vrental.expenses.where(statement_id: nil) + @statement.expenses %>
      <% if exps.present? %>
        <%= f.input :expense_ids, label: "Selecciona despeses que vols afegir a la liquidació:", as: :check_boxes, collection: exps.map {|e| ["#{e.description} #{number_to_currency(e.amount, unit: "€", separator: ",", delimiter: ".", precision: 2)}", e.id]}, wrapper: :vertical_collection %>
      <% else %>
        <p><%= @vrental.name %> no té despeses pendents d'adjudicar. Pots afegir una despesa nova clickant sobre el botó "Nova despesa"</p>
        <%= hidden_field_tag 'statement[expense_ids][]', '' %>
      <% end %>
    </div>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
</div>
