<div class="container-fluid">
  <h5 class="m-3 font-weight-bold text-primary text-center">Ingressos</h5>
  <hr>
  <div id="earnings">
    <%= render @statement_earnings if @statement_earnings %>
  </div>
</div>
<%= simple_form_for [@vrental, @statement] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.hidden_field :request_context, value: 'add_expenses' %>
    <%= render @statement_earnings if @statement_earnings %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
