<h4 class="font-weight-bold text-primary text-center mb-2">Afegir ingressos</h4>
<hr>
<% if @statement_earnings.present? %>
  <%= simple_form_for [@vrental, @statement] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.hidden_field :request_context, value: 'add_expenses' %>
      <%= render @statement_earnings %>
    </div>
    <div class="form-actions text-end mb-5">
      <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
    </div>
  <% end %>
<% else %>
  <% if @vrental.rates.where("DATE_PART('year', firstnight) = ?", Date.today.year).exists? %>
    <%= link_to get_bookings_vrental_path(@vrental), class: "btn btn-secondary" do %>
      <i class="fas fa-file-import"></i> Importar reserves des de Beds
    <% end %>
  <% else %>
    <small>Per poder importar reserves, primer has de importar tarifes d'aquest any</small>
    <%= link_to get_rates_vrental_path(@vrental), class: "btn btn-secondary" do %>
      <i class="fas fa-file-import"></i> Importar tarifes des de Beds
    <% end %>
  <% end %>
<% end %>
