<div class="container">
  <hr>
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="d-flex justify-content-around align-items-baseline">
      <h4 class="text-info text-center pe-3">Liquidacions</h4>
      <% if @vrental.statements.present? %>
        <h6 class="text-center">Total: <%= number_to_currency(@total_statements, unit: "€", separator: ",", delimiter: ".", precision: 2) %></h6>
      <% end %>
    </div>
  </div>
  <% if @vrental.statements %>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Ref.</th>
          <th scope="col">Data inici</th>
          <th scope="col">Data final</th>
          <th scope="col">Factura</th>
          <th scope="col">Ingresos</th>
          <th scope="col">Agència + IVA</th>
          <th scope="col">Despeses</th>
          <th scope="col">Net propietari</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <% @vrental.statements.each do |statement| %>
          <tr>
            <th scope="row">
              <%= link_to vrental_statement_path(@vrental, statement), class: "text-info text-decoration-none" do %>
                <%= statement.ref_number %>
              <% end %>
            </th>
            <td><%= I18n.l(statement.start_date) %></td>
            <td><%= I18n.l(statement.end_date) %></td>
            <td><%= statement.invoice.id if statement.invoice %></td>
            <td><%= number_to_currency(statement.total_statement_earnings, unit: "€", separator: ",", delimiter: ".", precision: 2) %></td>
            <td><%= number_to_currency((statement.agency_commission + statement.agency_commission_vat), unit: "€", separator: ",", delimiter: ".", precision: 2) %></td>
            <td><%= number_to_currency(statement.total_expenses, unit: "€", separator: ",", delimiter: ".", precision: 2) %></td>
            <td><%= number_to_currency(statement.net_income_owner, unit: "€", separator: ",", delimiter: ".", precision: 2) %></td>
            <td class="">
              <%= link_to edit_vrental_statement_path(@vrental, statement), class: "text-primary text-decoration-none p-1" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to vrental_statement_path(@vrental, statement), class: "text-danger text-decoration-none",  data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar la liquidació #{statement.ref_number}?"} do %>
                <i class="fas fa-trash-can"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="my-3">
    <% if @vrental %>
      <%= link_to new_vrental_statement_path(@vrental), class: "btn btn-primary" do %>
        <i class="fas fa-plus fa-sm"></i>
        <span class="text">Nova liquidació per <%= @vrental.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
