  <%= render 'shared/get_bookings' %>
<div class="container d-flex justify-content-between">
  <div class="flex-column">
    <h6>Total imports liquidacions: <%= number_to_currency(@vrental.total_statements, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") if @vrental.total_statements.present? %></h6>
    <% if @vrental.statements.present? %>
      <h6>Total net propietari: <%= number_to_currency(@vrental.total_net_owner, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") if @vrental.total_net_owner.present? %>
        <% if @vrental.owner_payment_difference.present? %>
          <% if @vrental.owner_payment_difference.positive? %>
            (<span class="text-warning">Pendent pagar al propietari: <%= number_to_currency(@vrental.owner_payment_difference, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %> </span>)
          <% elsif @vrental.owner_payment_difference.negative? %>
            (<span class="text-warning">El propietari ha cobrat de mès: <%= number_to_currency(@vrental.owner_payment_difference * -1, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %> </span>)
          <% end %>
        <% else %>
          (Tot pagat <i class="fas fa-check-circle text-success"></i>)
        <% end %>
      <% end %>
    </h6>
  </div>
</div>
<% @booking_years.each do |year| %>
  <div class="container">
    <hr>
    <div class="d-flex justify-content-between align-items-end">
      <div class="d-flex flex-column align-items-start">
        <h4 class="text-primary text-center pe-3">Liquidacions <%= year %></h4>
        <% if @vrental.statements_without_invoice(year).present? %>
          <%= link_to new_vrental_invoice_path(@vrental), class: "btn btn-sm btn-success" do %>
            <i class="fa-solid fa-plus"></i>
            Afegir factura
          <% end %>
        <% end %>
      </div>
      <div class="d-flex flex-column align-items-end gap-3">
        <% if @vrental.periods_missing_statement(year).present? %>
          <% @vrental.periods_missing_statement(year).each do |period| %>
            <button type="button" class="btn btn-sm bg-light-purple text-purple property-cats" data-bs-toggle="modal" data-bs-target="#statement<%= period[0] %>">
              <i class="fa-solid fa-plus me-1"></i>
              Nova liquidació <%= I18n.l(period[0]) %> - <%= I18n.l(period[1]) %>
            </button>
            <%= render "statement_modal", vrental: @vrental, statement: Statement.new, start_date: period[0], end_date: period[1] %>
          <% end %>
        <% elsif @vrental.statements.present? && @vrental.expenses_without_statement.present? %>
          <% last_statement = @vrental.statements.order(start_date: :desc).first %>
          <a type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#statement<%= last_statement.id %>">
            <i class="fas fa-edit"></i> Falta afegir despeses per <%= year %>
          </a>
          <%= render "statement_modal", vrental: @vrental, statement: last_statement %>
        <% else %>
          <%= link_to "Liquidació annual #{year}", annual_statement_vrental_path(@vrental, year: year, locale: @vrental.owner ? @vrental.owner.language : "ca"), class: "text-info text-decoration-none fw-bold", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
    <% if @vrental.this_year_statements(year).present? %>
      <hr>
      <div class="container type--fine-print">
        <div class="row">
          <div class="col-lg-2 text-sm nowrap">Liquidació</div>
          <div class="col-lg-1 text-sm nowrap">Factura</div>
          <div class="col-lg-1 text-sm nowrap">Ingresos</div>
          <div class="col-lg-1 text-sm nowrap">Agència + IVA</div>
          <div class="col-lg-1 text-sm nowrap">Despeses prop.</div>
          <div class="col-lg-1 text-sm nowrap">Net prop.</div>
          <div class="col-lg-3 text-end text-sm nowrap">Pagada?</div>
          <div class="col-lg-1 border-start text-sm nowrap">Editar</div>
        </div>
        <hr>
        <% @vrental.this_year_statements(year).each do |statement| %>
          <div class="row align-items-center">
            <div class="col-lg-2 nowrap">
              <%= link_to vrental_statement_path(@vrental, statement, locale: @vrental.owner ? @vrental.owner.language : "ca"), class: "btn btn-sm bg-light-purple text-purple property-cats" do %>
                <%= I18n.l(statement.start_date) %> - <%= I18n.l(statement.end_date) %>
              <% end %>
            </div>
            <div class="col-lg-1 nowrap">
              <%= link_to "#{statement.invoice.invoice_number_formatted}", vrental_invoice_path(@vrental, statement.invoice, locale: @vrental.owner ? @vrental.owner.language : "ca"), class: "btn btn-sm bg-light-purple text-purple property-cats" if statement.invoice.present? %>
            </div>
            <div class="col-lg-1 text-info text-sm nowrap">
              <%= number_to_currency(statement.total_statement_earnings, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u", format: "%n%u") %>
            </div>
            <div class="col-lg-1 text-success text-sm nowrap">
              <%= number_to_currency(statement.agency_commission_vat_total, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
            </div>
            <div class="col-lg-1 text-danger text-sm nowrap">
              <%= number_to_currency(statement.total_expenses_owner, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
            </div>
            <div class="col-lg-1 text-primary text-sm nowrap">
              <%= number_to_currency(statement.net_income_owner, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %>
            </div>
            <div class="col-lg-3 d-flex flex-column align-items-end">
              <% if statement.owner_payments.present? %>
                <% statement.owner_payments.order(:date).each do |payment| %>
                  <div class="text-sm">
                    <i class="fas fa-check-circle text-success"></i>
                    <%= l(payment.date) %>: <%= link_to "#{number_to_currency(payment.amount, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")}", edit_statement_owner_payment_path(statement, payment), data: { bs_toggle: "modal", bs_target: "#ownerPayment#{statement.id}#{payment.id}"} %>
                    <%= render "owner_payment_modal", statement: statement, owner_payment: payment, pending_payment: statement.net_income_owner - statement.total_owner_payments %>
                    <% unless statement.invoice.present? && Date.current > statement.invoice.created_at.to_date %>
                      <%= link_to statement_owner_payment_path(statement, payment), class: "text-danger text-decoration-none",  data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar el pagament de la liquidació #{statement.start_date}?"} do %>
                        <i class="fas fa-trash-can"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <div>
                <a type="button" class="link text-sm text-primary" data-bs-toggle="modal" data-bs-target="#ownerPayment<%= statement.id %>">
                  <i class="fa-solid fa-euro-sign me-1"></i>Afegir pagament
                </a>
                <%= render "owner_payment_modal", statement: statement, owner_payment: OwnerPayment.new, pending_payment: statement.net_income_owner - statement.total_owner_payments %>
              </div>
            </div>
            <div class="col-lg-1 d-flex justify-content-between border-start">
              <a type="button" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#statement<%= statement.id %>">
                <i class="fas fa-edit"></i>
              </a>
              <%= render "statement_modal", vrental: @vrental, statement: statement %>
              <% if !statement.invoice || (statement.invoice && Date.current == statement.invoice.created_at.to_date) %>
                <%= link_to vrental_statement_path(@vrental, statement), class: "text-danger text-decoration-none",  data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar la liquidació del #{statement.start_date}?"} do %>
                  <i class="fas fa-trash-can"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
