<p><%= t('hello', recipient: @user.owner.firstname) %></p>
<p><%= t('welcome_text', email: @user.email, password: @user.owner.temporary_password).html_safe %></p>
<p><%= t('sign_in') %>: <%= link_to t('sign_in'), new_session_url(@user, 'user[email]' => @user.email), target: '_blank' %></p>
<p><%= t('thanks_trust') %></p>
<hr>
<% if @office.present? %>
  <p><%= @office.company.administrator %></p>
  <p><%= @office.company.name %></p>
  <p><%= @office.address %></p>
  <p><%= @office.email %></p>
<% end %>
