<p><%= t('hello', recipient: @user.owner.firstname) %></p>
<p><%= t('welcome_text', email: @user.email).html_safe %></p>
<p><%= t('password') %>: <%= link_to t('create_password'), edit_password_url(@user, reset_password_token: @token) %></p>
<p><%= t('thanks_trust') %></p>
<hr>
<% if @office.present? %>
  <p><%= @office.company.administrator %></p>
  <p><%= @office.company.name %></p>
  <p><%= @office.address %></p>
  <p><%= @office.email %></p>
<% end %>
