<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Immobles lloguer anual</h4>
    <hr>
    <div class="container d-flex justify-content-center mt-5">
      <%= form_with url: list_rentals_path, method: :get, data: { turbo_frame: "rentals"}, class: "row g-3" do |form| %>
        <div class="col-auto">
          <%= form.select :status,
            options_for_select(
            [[t("inactive"),'inactive'],[t("pending"),'pending'],[t("signed"),'signed']],
            ),
            { include_blank: 'tots' },
            class: "form-select"
          %>
        </div>
        <div class="col-auto">
          <%= form.text_field :address,
          placeholder: "Buscar per adreça",
          class: "form-control bg-white border-0 small",
          autocomplete: "off" %>
        </div>
        <div class="col-auto">
          <%= form.button class: "btn btn-primary me-3" do %>
            <i class="fas fa-search fa-sm"></i>
          <% end %>
        </div>
        <div class="col-auto">
          <%= link_to "Veure tots els immobles", rentals_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "rentals", class: "card-body" do %>
      <%= render "shared/flashes" %>
      <div class="container-fluid my-3">
        <div class="row border border-top border-bottom fw-bold bg-light">
          <div class="col col-lg-2 py-3 border-start border-end" id="rstatus" relative>
          <%= sort_indicator if params[:column] == "status" %>
          <%= sort_link(column: "status", label: "Estatus") %>
          </div>
          <div class="col-lg-2 py-3 border-start border-end" id="raddress" relative>
          <%= sort_indicator if params[:column] == "address" %>
          <%= sort_link(column: "address", label: "Adreça") %>
          </div>
          <div class="col-lg-2 py-3 border-start border-end" id="rcity" relative>
          <%= sort_indicator if params[:column] == "city" %>
          <%= sort_link(column: "city", label: "Població") %>
          </div>
          <div class="col-lg-2 py-3 border-start border-end" id="rowner-name" relative>
          <%= sort_indicator if params[:column] == "owners.fullname" %>
          <%= sort_link(column: "owners.fullname", label: "Propietari") %>
          </div>
          <div class="col-lg-2 py-3 border-start border-end">COPIAR</div>
          <div class="col-lg-2 py-3 border-start border-end">Contracte</div>
        </div>
        <div>
          <% @rentals.each do |rental| %>
            <div class="row border">
              <div class="col-lg-2 border-start border-end">
                <%= t("#{rental.status}") %>
              </div>
              <div class="col-lg-2 border-start border-end">
                <%= link_to "#{rental.address}", rental %>
              </div>
              <div class="col-lg-2 border-start border-end">
                <%= rental.city %>
              </div>
              <% if rental.owner %>
                <div class="col-lg-2 border-start border-end">
                  <%= rental.owner.fullname %>
                </div>
              <% else %>
                <div class="col-lg-2 border-start border-end">
                  <%= link_to 'Afegir propietari', edit_rental_path(rental) %>
                </div>
              <% end %>
              <div class="col-lg-2 border-start border-end">
                <%= link_to 'Copiar immoble', copy_rental_path(rental) %>
              </div>
              <div class="col-lg-2 border-start border-end">
                <%= link_to 'Afegir contracte', new_rental_agreement_path(rental), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%# two equal signs is the same as .html_safe after or raw in front %>
      <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
