<div class="d-flex justify-content-between">
  <div>
    <%= link_to 'Modificar', edit_rental_path(@rental), class: "btn btn-secondary" %> <%= link_to 'Esborrar', @rental, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@rental.address}?"} %>
  </div>
</div>
<div>
  <h4 class="mt-4 mb-3 font-weight-bold text-primary"><%= @rental.address %></h4>
</div>
<div class="card shadow mb-4 p-4">
  <p>
    <strong>Adreça:</strong>
    <%= @rental.address %>
  </p>
  <p>
    <strong>Població:</strong>
    <%= @rental.city %>
  </p>
  <p>
    <strong>Cadastre:</strong>
    <%= @rental.cadastre %>
  </p>
  <p>
    <strong>Certificat energètic:</strong>
    <%= @rental.energy %>
  </p>
  <p>
    <strong>Descripció:</strong>
    <%= @rental.description %>
  </p>
  <p>
    <strong>Propietari:</strong>
    <%= @rental.owner.fullname %>
  </p>
</div>
