<div class="rating-overview">
  <div class="rating-overview-box">
    <h6 class="property_block_title"><%= @vrental.reviews.count %> <%= t('reviews') %> </h6>
    <span class="rating-overview-box-total"><%= @vrental.reviews_median %></span>
    <span class="rating-overview-box-percent"><%= t('out_of_five') %></span>
    <div class="star-rating" data-rating="<%= @vrental.reviews_median %>">
      <%= stars_for_rating(@vrental.reviews_median) %>
    </div>
  </div>
  <div class="author-review">
    <div class="comment-list">
      <ul>
        <li class="article_comments_wrap">
          <article>
            <div class="comment-details">
              <div class="comment-meta">
                <div class="comment-left-meta">
                  <h4 class="author-name"><%= @featured_review.client_name %></h4>
                  <div class="comment-date"><%= @featured_review.send("client_location_#{locale}") %></div>
                  <div class="star-rating" data-rating="<%= @featured_review.rating %>">
                    <%= stars_for_rating(@featured_review.rating) %>
                  </div>
                </div>
              </div>
              <div class="comment-text">
                <p><%= @featured_review.send("comment_#{locale}") %></p>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="property_block_wrap style-2">
  <div class="property_block_wrap_header">
    <a data-bs-toggle="collapse" data-bs-target="#clSix" aria-controls="clSix" href="javascript:void(0);" aria-expanded="true">
      <h4 class="property_block_title"><%= t('view_more_reviews') %> </h4>
    </a>
  </div>
  <div id="clSix" class="panel-collapse collapse">
    <div class="block-body">
      <div class="author-review">
        <div class="comment-list">
          <ul>
            <% @reviews.each do |review| %>
              <li class="article_comments_wrap">
                <article>
                  <div class="comment-details">
                    <div class="comment-meta">
                      <div class="comment-left-meta">
                        <h4 class="author-name"><%= review.client_name %></h4>
                        <div class="comment-date"><%= review.send("client_location_#{locale}") %></div>
                        <div class="star-rating" data-rating="<%= review.rating %>">
                          <%= stars_for_rating(review.rating) %>
                        </div>
                      </div>
                    </div>
                    <div class="comment-text">
                      <p><%= review.send("comment_#{locale}") %></p>
                    </div>
                  </div>
                </article>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
