<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="simple-sidebar sm-sidebar" id="filter_search"  style="left:0;">
    <div class="search-sidebar_header">
      <h4 class="ssh_heading">Close Filter</h4>
      <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="fas fa-times"></i>
      </button>
    </div>
    <div class="sidebar-widgets">
      <div class="search-inner p-0">
        <%= form_with url: filter_path, method: :get, data: { controller: "search-properties", search_properties_target: "form" } do |form| %>
          <div class="filter_wraps">
            <%= render 'single_search',
              form: form,
              target_id: 'ptype',
              target_param: :pt,
              items: @property_types.map {|name| t(name)}.sort_by { |translation| translation },
              selected_items: params[:pt],
              param_name: :pt,
              filter_name: 'property_type'
            %>
            <%= render 'single_search',
              form: form,
              target_id: 'pbedrooms',
              target_param: :pb,
              items: @property_bedrooms,
              selected_items: params[:pb],
              param_name: :pb,
              filter_name: 'property_bedrooms'
            %>
            <%= render 'single_search',
              form: form,
              target_id: 'pfeatures',
              target_param: :pf,
              items: @property_features.map {|name| t(name) }.sort_by { |translation| translation },
              selected_items: params[:pf],
              param_name: :pf,
              filter_name: 'property_features'
            %>
            <%= hidden_field_tag(:check_in, params[:check_in]) %>
            <%= hidden_field_tag(:check_out, params[:check_out]) %>
            <%= hidden_field_tag(:guests, params[:guests]) %>
            <%= hidden_field_tag(:location, params[:location]) %>
            <div class="form-group filter_button">
              <%= form.submit t("search"), class: "btn btn-primary rounded full-width", data: { action: "click->search-properties#addParams"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  function openFilterSearch() {
  	document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
  	document.getElementById("filter_search").style.display = "none";
  }
</script>
