<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="simple-sidebar sm-sidebar" id="filter_search"  style="left:0;">
    <div class="search-sidebar_header">
      <h4 class="ssh_heading">Close Filter</h4>
      <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="fas fa-times"></i>
      </button>
    </div>
    <div class="sidebar-widgets">
      <div class="search-inner p-0">
        <div class="filter-search-box">
          <div class="_mp_filter_first">
            <div class="index-search">
              <%= form_with url: list_path, method: :get, class: "d-flex" do |form| %>
                <%= form.text_field :ref,
                      class: "form-control",
                      value: params[:property_name],
                      placeholder: t("find_by_vrental_name")
                    %>
                <div class="input-group-append">
                  <%= form.button class: "input-group-text index-button", value: t("search") do %>
                    <i class="fas fa-search fa-sm"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= form_with url: list_path, method: :get do |form| %>
          <div class="filter_wraps">
            <%= render 'single_search',
              form: form,
              target_id: 'ptype',
              target_param: :pt,
              items: @property_types.map {|name| t(name)}.sort_by { |translation| translation },
              selected_items: @selected_property_types,
              param_name: :pt,
              filter_name: 'property_type'
            %>
            <%= render 'single_search',
              form: form,
              target_id: 'pbedrooms',
              target_param: :pb,
              items: @property_bedrooms,
              selected_items: @selected_property_bedrooms,
              param_name: :pb,
              filter_name: 'property_bedrooms'
            %>
            <%= render 'single_search',
              form: form,
              target_id: 'pfeatures',
              target_param: :pf,
              items: @property_features.map {|name| t(name).capitalize }.sort_by { |translation| translation },
              selected_items: @selected_property_types,
              param_name: :pf,
              filter_name: 'property_features'
            %>
            <div class="form-group filter_button">
              <button type="submit" class="btn btn btn-primary rounded full-width">Cercar</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  function openFilterSearch() {
  	document.getElementById("filter_search").style.display = "block";
  }
  function closeFilterSearch() {
  	document.getElementById("filter_search").style.display = "none";
  }
</script>
