<div class="col-xl-12 col-lg-12 col-md-12">
  <div class="property-listing property-1 bg-white p-2 rounded">
    <div class="listing-img-wrapper">
      <% if vrental.image_urls.present? %>
        <%= link_to book_property_path(vrental_id: vrental.id) do %>
          <%= image_tag vrental.image_urls.order(position: :asc).first.url, class: "img-fluid mx-auto rounded", alt: vrental.name %>
        <% end %>
      <% end %>
    </div>
    <div class="listing-content">
      <div class="listing-detail-wrapper-box">
        <div class="listing-detail-wrapper d-flex align-items-start justify-content-between">
          <div class="listing-short-detail">
            <span class="label bg-light-danger text-danger d-inline-flex mb-1"><%= t(vrental.property_type) %></span>
            <h4 class="listing-name mb-0">
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to vrental.name, edit_vrental_path(vrental) %>
              <% else %>
                <%= vrental.name %>
              <% end %>
            </h4>
            <!--
            <div class="fr-can-rating">
              <i class="fas fa-star fs-xs filled"></i>
              <i class="fas fa-star fs-xs filled"></i>
              <i class="fas fa-star fs-xs filled"></i>
              <i class="fas fa-star fs-xs filled"></i>
              <i class="fas fa-star fs-xs"></i>
              <span class="reviews_text fs-sm text-muted ms-2">(34 Reviews)</span>
            </div>
            -->
          </div>
          <div class="list-price d-flex flex-row">
            <% if price.present? %>
              <h6 class="listing-card-info-price text-secondary type--strikethrough me-3 <%= 'd-none' unless discount.to_i > 10 %>"><%= number_to_currency(rate_price, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %></h6>
              <h6 class="listing-card-info-price text-primary"><%= number_to_currency(price, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u") %></h6>
            <% elsif params[:check_in].present? && params[:check_out].present? && params[:guests] %>
              <span class="label bg-light-warning text-warning d-inline-flex mb-1"><%= t("not_available") %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="price-features-wrapper">
        <div class="list-fx-features d-flex align-items-center justify-content-between mt-3 mb-1">
          <% if vrental.max_guests %>
            <div class="listing-card d-flex align-items-center">
              <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-users fs-xs"></i></div>
              <%= vrental.max_guests %> <%= t("guests", count: vrental.max_guests) %>
            </div>
          <% end %>
          <% if vrental.bedrooms.present? %>
            <div class="listing-card d-flex align-items-center">
              <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-bed fs-xs"></i></div>
              <%= vrental.bedrooms.count %> <%= t("bedrooms", count: vrental.bedrooms.count) %>
            </div>
          <% end %>
          <% if vrental.bathrooms.present? %>
            <div class="listing-card d-flex align-items-center">
              <div class="square--25 text-muted-2 fs-sm circle gray-simple me-1"><i class="fa-solid fa-bath fs-xs"></i></div>
              <%= vrental.bathrooms.count %> <%= t("bathrooms", count: vrental.bathrooms.count) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="listing-footer-wrapper">
        <div class="listing-locate">
          <span class="listing-location text-muted-2"><i class="fa-solid fa-location-pin me-1"></i><%= vrental.town&.name %></span>
        </div>
        <div class="listing-detail-btn">
          <% if params[:check_in] && params[:check_out] && params[:guests] %>
            <%= link_to t("book").capitalize, book_property_path(vrental_id: vrental.id, check_in: check_in, check_out: check_out, guests: guests, price: price, rate_price: rate_price, discount: discount), class: "btn btn-sm px-4 fw-medium btn-primary" %>
          <% else %>
            <a class="btn btn-sm btn-warning d-inline-flex mb-1 dates-missing-js"><%= t("select_dates") %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
