<!-- ============================ Hero Banner  Start================================== -->
<% if @property_images.present? %>
  <div class="featured_slick_gallery gray-simple">
    <div class="featured_slick_gallery-slide">
      <% @property_images.each do |image| %>
        <div class="featured_slick_padd">
          <%= link_to image.url, class: "mfp-gallery" do %>
            <%= image_tag image.url, class: "img-fluid mx-auto height-400 w-100", alt:"Lloguer vacances #{@vrental.town&.name}", quality: "auto" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Property Detail Start ================================== -->
<section class="gray-simple pt-5">
  <div class="container">
    <div class="row">
      <!-- property main detail -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <%# Property Details Start %>
        <div class="property_block_wrap style-2 p-4">
          <div class="prt-detail-title-desc">
            <% if @vrental.property_type.present?  %>
              <span class="label text-light bg-success me-3"><%= t(@vrental.property_type) %></span>
            <% end %>
            <% if @vrental.name_on_web == true %>
              <h3 class="mb-1"><%= @vrental.name %></h3>
            <% end %>
            <h3 class="mb-1"><%= @vrental.send("title_#{I18n.locale.to_s}") %></h3>
            <span><i class="lni-map-marker"></i> <%= @vrental.town&.name %></span>
            <div class="list-fx-features">
              <% if @vrental.max_guests %>
                <div class="listing-card-info-icon">
                  <div class="inc-fleat-icon me-1"><%= image_tag("user.svg", width: "13", alt: "") %></div>
                  <%= @vrental.max_guests %> <%= t("guests", count: @vrental.max_guests) %>
                </div>
              <% end %>
              <% if @vrental.bedrooms.present? %>
                <div class="listing-card-info-icon">
                  <div class="inc-fleat-icon me-1"><%= image_tag("bed.svg", width: "13", alt: "") %></div>
                  <%= @vrental.bedrooms.count %> <%= t("bedrooms", count: @vrental.bedrooms.count) %>
                </div>
              <% end %>
              <% if @vrental.bathrooms.present? %>
                <div class="listing-card-info-icon">
                  <div class="inc-fleat-icon me-1"><%= image_tag("bathtub.svg", width: "13", alt: "") %></div>
                  <%= @vrental.bathrooms.count %> <%= t("bathrooms", count: @vrental.bathrooms.count) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Single Block Wrap -->
        <% description_column_name = "description_#{params[:locale]}" %>
        <% if @vrental[description_column_name] %>
          <div class="property_block_wrap style-2">
            <div class="property_block_wrap_header">
              <a data-bs-toggle="collapse" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true">
                <h4 class="property_block_title"><%= t("description") %></h4>
              </a>
            </div>
            <div id="clOne" class="panel-collapse collapse show">
              <div class="block-body">
                <p><%= @vrental[description_column_name] %></p>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Single Block Wrap -->
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-bs-target="#clTwo" aria-controls="clTwo" href="javascript:void(0);" aria-expanded="false">
              <h4 class="property_block_title">Dormitoris i banys</h4>
            </a>
          </div>
          <div id="clTwo" class="panel-collapse collapse show" aria-labelledby="clOne" aria-expanded="true">
            <div class="block-body">
              <ul class="deatil_features">
                <% @vrental.bedrooms.each_with_index do |bedroom, index| %>
                  <li>
                    <strong><%= t(bedroom.bedroom_type) %>  <%= index + 1 %>:</strong>
                    <% bedroom.beds.group(:bed_type).count.each do |bed_type, count| %>
                      <br>
                      <%= count %> <%= t(bed_type, count: count) %>
                    <% end %>
                  </li>
                <% end %>
                <% @vrental.bathrooms.group(:bathroom_type).count.each do |bathroom_type, count| %>
                  <li>
                    <strong><%= count %> <%= t(bathroom_type, count: count) %></strong>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Block Wrap -->
        <% if @vrental.features.present? %>
          <div class="property_block_wrap style-2">
            <div class="property_block_wrap_header">
              <a data-bs-toggle="collapse" data-bs-target="#clThree" aria-controls="clThree" href="javascript:void(0);" aria-expanded="true">
                <h4 class="property_block_title"><%= t("features") %></h4>
              </a>
            </div>
            <div id="clThree" class="panel-collapse collapse show">
              <div class="block-body">
                <ul class="avl-features third color">
                  <% @vrental.features.each do |feature| %>
                    <li><%= t(feature.name) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Single Block Wrap -->
        <% if @vrental.latitude.present? %>
          <div class="property_block_wrap style-2">
            <div class="property_block_wrap_header">
              <a data-bs-toggle="collapse" data-bs-target="#clFour" aria-controls="clFour" href="javascript:void(0);" aria-expanded="true">
                <h4 class="property_block_title"><%= t("location").capitalize %></h4>
              </a>
            </div>
            <div id="clFour" class="panel-collapse collapse show" aria-expanded="true">
              <!--<div class="block-body">-->
              <div style="width: 100%; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
              <!--</div>-->
            </div>
          </div>
        <% end %>
        <!-- Single Block Wrap -->
        <% if @property_images.present? %>
          <div class="property_block_wrap style-2 d-none d-lg-block d-md-block">
            <div class="property_block_wrap_header">
              <a data-bs-toggle="collapse" data-bs-target="#clFive" aria-controls="clFive" href="javascript:void(0);" aria-expanded="true">
                <h4 class="property_block_title"><%= t("photos") %></h4>
              </a>
            </div>
            <div id="clFive" class="panel-collapse collapse show">
              <div class="block-body">
                <ul class="list-gallery-inline">
                  <% @property_images.each do |image| %>
                    <li>
                      <%= link_to image.url, class: "mfp-gallery" do %>
                        <%= image_tag image.url, class: "img-fluid mx-auto", alt:"Lloguer vacances #{@vrental.town&.name}", quality: "auto" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- property Sidebar -->
      <div class="col-lg-4 col-md-12 col-sm-12">
        <%# render "save_share" %>
        <%= render "book_now" %>
      </div>
    </div>
  </div>
</section>
