<div class="iframe-container mt-3">
  <iframe src="https://beds24.com/booking.php?propid=<%= @vrental.beds_prop_id %>&page=book3&limitstart=0&lang=<%= params[:locale] %>&checkin=<%= @checkin %>&checkin_hide=<%= @checkin %>&checkout=<%= @checkout %>&checkout_hide=<%= @checkout %>&numnight=<%= @nights %>&numadult=<%= @guests %>&numchild=0&br1-<%= @vrental.beds_room_id %>=Book" width="100%" height="1100px"></iframe>
</div>
