<section class="gray-simple pt-3" data-controller="iframe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="row justify-content-center">
          <% if @vrental.res_fee.present? %>
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="alert alert-success alert-dismissible fade show property-1 position-relative" role="alert">
                <strong><%= t('good_choice') %></strong> <%= t('to_confirm_booking', res_fee: number_to_percentage(@vrental.res_fee * 100, precision: 2)) %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("close") %>"></button>
              </div>
            </div>
          <% end %>
          <% if @vrental.res_fee.present? && @vrental.free_cancel.present? %>
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="alert alert-info alert-dismissible fade show property-1 position-relative" role="alert">
                <strong><%= t('cancellation_policy') %>: </strong><%= t('cancellation_details', res_fee: number_to_percentage(@vrental.res_fee * 100, precision: 2), free_cancel: @vrental.free_cancel, free_cancel_minus_one: @vrental.free_cancel - 1) %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("close") %>"></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%# fixme check for valid coupons %>
      <% if @vrental.coupons.present? %>
        <span id="coupon-code" data-coupon="<%= @vrental.coupons.first.name %>"></span>
      <% end %>
      <div class="col-lg-12 col-md-12">
        <div class="iframe-container h-100">
          <iframe id="confirm-booking-js" src="https://beds24.com/booking.php?propid=<%= @vrental.beds_prop_id %>&page=book3&limitstart=0&lang=<%= params[:locale] %>&checkin=<%= @checkin %>&checkin_hide=<%= @checkin %>&checkout=<%= @checkout %>&checkout_hide=<%= @checkout %>&numnight=<%= @nights %>&numadult=<%= @guests %>&numchild=0&br1-<%= @vrental.beds_room_id %>=Book" style="width: 100%; height: 100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
