<div class="image-cover hero-banner" style="background:url(https://via.placeholder.com/1920x900) no-repeat;" data-overlay="6">
  <div class="container">
    <h1 class="big-header-capt mb-0">Find Your Property</h1>
    <p class="text-center mb-5">From as low as $10 per day with limited time offer</p>
    <%= render 'shared/search_bar' %>
  </div>
</div>
<%= render 'shared/explore_property' %>
<%= render 'shared/property_by_location' %>
<%= render 'shared/reviews' %>
<%= render 'shared/how_it_works' %>
<%= render 'shared/blog_grid' %>
<!-- This page plugins start -->
<!-- ============================================================== -->
<%# <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/rangeslider.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/slider-bg.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/custom.js"></script> %>
<!-- ============================================================== -->
<!-- This page plugins end -->
