<h1>Pàgines</h1>
<div id="pages">
  <% @pages.each do |page| %>
    <p>
      <% case page.page_type %>
      <% when "homepage" %>
      <%= link_to "Mostrar aquesta pàgina", home_path %>
      <% when "search" %>
      <%= link_to "Mostrar aquesta pàgina", search_path %>
      <% when "map_search" %>
      <%= link_to "Mostrar aquesta pàgina", map_search_path %>
      <% when "about_us" %>
      <%= link_to "Mostrar aquesta pàgina", about_path %>
      <% when "news" %>
      <%= link_to "Mostrar aquesta pàgina", news_path %>
      <% when "contact" %>
      <%= link_to "Mostrar aquesta pàgina", contact_path %>
      <% when "terms" %>
      <%= link_to "Mostrar aquesta pàgina", terms_path %>
    <% else %>
      <%= link_to "Afegir blocks per aquesta pàgina", page %>
    <% end %>
  </p>
<% end %>
</div>
<%= link_to "Nova pàgina", new_page_path %>
