<section class="gray-simple">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6 my-3">
          <div class="blog-wrap-grid">
            <div class="blog-thumb">
              <%= link_to news_post_path(post) do %>
                <img src="<%= post.image_url %>" class="img-fluid" alt="<%= post.send("title_#{locale}") %>" />
              <% end %>
            </div>
            <div class="blog-info d-flex justify-content-between">
              <span class="post-date"><i class="ti-calendar"></i><%= l(post.published_at) if post.published_at %></span>
              <% if current_user && current_user.admin? %>
                <%= link_to toggle_hidden_post_path(post, hidden: true), class: "btn btn-sm btn-secondary" do %>
                  <i class="fa-regular fa-eye-slash me-2"></i><%= t('hide_post') %>
                <% end %>
              <% end %>
            </div>
            <div class="blog-body">
              <h4 class="bl-title"><a href="blog-detail.html"><%= post.send("title_#{locale}") %></a></h4>
              <p><%= post.send("content_#{locale}")&.html_safe %></p>
              <% if post.source.present? %>
                <a href="<%= post.url %>" class="bl-continue" target="_blank"><%= t('read_on', source: post.source) %></a>
              <% else %>
                <%= link_to t('global.forms.continue'), news_post_path(post), class: 'bl-continue' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</section>
