<% @vrental.vragreements.each do |vragreement| %>
  <div class="d-flex gap-4 justify-content-between align-items-center mb-3">
    <%= t(vragreement.status) if vragreement.status.present? %>
    <%= link_to "#{t('contract')} #{I18n.l(vragreement&.start_date) if vragreement.start_date.present? } - #{I18n.l(vragreement&.end_date) if vragreement.end_date.present? }", vrental_vragreement_path(@vrental, vragreement), class: "btn btn-sm btn-light-info" %>
    <span class="text-info"><%= t('owner') %></span>:
    <%= @vrental.owner&.fullname %>
    <div class=" text-end d-flex justify-content-between">
      <%= link_to edit_vrental_vragreement_path(@vrental, vragreement), class: "text-primary text-decoration-none p-1" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to vrental_vragreement_path(@vrental, vragreement), class: "text-danger text-decoration-none",  data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar el contracte per #{vragreement.year}?"} do %>
        <i class="fas fa-trash-can"></i>
      <% end %>
    </div>
  </div>
<% end %>
<%# test %>
<% @vrental.vragreements.each do |vragreement| %>
  <div class="d-flex flex-column flex-lg-row border-bottom justify-content-between gap-3 py-2">
    <div>
      <%= t('contract') %>:
      <%= l(vragreement.start_date) if vragreement.start_date.present? %> - <%= l(vragreement.end_date) if vragreement.end_date.present? %>
    </div>
    <div>
      <%= t('language') %>: <%= t(vragreement.vrentaltemplate.language) if vragreement.vrentaltemplate.present? %>
    </div>
    <div>
      <% if vragreement.signature_image.attached? %>
        <%= t('contract_signed') %> <%= l(vragreement.signdate) if vragreement.signdate.present? %>
      <% else %>
        <%= link_to vrental_vragreement_path(@vrental, vragreement), class: "text-warning" do %>
          <i class="fa-solid fa-signature me-2"></i><%= t('read_sign_contract') %>
        <% end %>
      <% end %>
    </div>
    <div>
      <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#indexVragreement<%= vragreement.id %>">
        <%= vragreement.year %>: <%= t('pdf_contract') %>
      </button>
    </div>
  </div>
  <%= render 'pdf_modal', vragreement: vragreement, vrental: @vrental %>
<% end %>
