<%= simple_form_for [ vrental, vragreement ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row justify-content-md-center">
    <div class="col-lg-2">
      <%= f.input :year, input_html: {value: params[:year]}, readonly: true %>
    </div>
    <div class="col-lg-3">
      <%= f.input :status, as: :radio_buttons, collection: [[t("not sent"),'not sent'],[t("pending"),'pending'],[t("signed"),'signed']] %>
    </div>
    <div class="col-lg-7">
      <%= f.association :vrentaltemplate, collection: @vrentaltemplates, label_method: :title, label: 'Model', include_blank: true, label: ("Seleccionar model de contracte o #{link_to 'Afegir model de contracte nou', new_vrentaltemplate_path,  target: "_blank"}.").html_safe %>
    </div>
  </div>
  <div class="row justify-content-md-center bg-light py-5">
    <% if vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).present? %>
      <h6 class="text-center">Tarifes <%= params[:year] %></h6>
      <%= render vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).order(firstnight: :asc) %>
    <% else %>
      <%= link_to "Afegir tarifes per #{params[:year]}", vrental, target: "_blank", class: "btn btn-info" %>
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <%= f.input :signdate, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-3">
      <%= f.input :place, label: 'Lloc de la firma' %>
    </div>
    <div class="col-lg-3">
      <% if vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).present? %>
        <%= f.input :start_date, as: :string, input_html: {value: l(vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).order(firstnight: :asc).first.firstnight, format: :long)}, readonly: true %>
      <% else %>
        <%# f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
      <% end %>
    </div>
    <div class="col-lg-3">
      <% if vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).present? %>
        <%= f.input :end_date, as: :string, input_html: {value: l(vrental.rates.where("DATE_PART('year', firstnight) = ?", params[:year]).order(lastnight: :desc).first.lastnight, format: :long)}, readonly: true %>
      <% else %>
        <%# f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
      <% end %>
    </div>
  </div>
   <div class="row justify-content-md-center">
     <div class="col-lg-12">
       <%= f.input :vrowner_bookings, input_html: {value: t('.vrowner_bookings')} %>
     </div>
   </div>
<div class="d-flex justify-content-between align-items-end py-4">
      <div class="d-flex flex-column align-items-center">
        <% if vragreement.photos.attached? %>
          <% vragreement.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 200 %>
            <%= link_to "Esborrar aquesta foto", photo_path(photo), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta foto?"} %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= f.input :photos, label: "Afegir fotos", as: :file, input_html: { multiple: true }  %>
      </div>
    </div>
  <div class="form-actions row gx-4">
    <div class="col text-end">
      <div class="p-3">
        <%= f.submit "Desar", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
