<%= simple_form_for [ vrental, vragreement ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col"><%= f.input :status, as: :select, collection: [[t("not sent"), 'not sent'], [t("pending"), 'pending'], [t("signed"), 'signed']], include_blank: true %> </div>
    <div class="col"><%= f.input :signdate, as: :string, input_html: { class: "datepicker"} %></div>
    <div class="col"><%= f.input :place, label: 'Lloc de la firma' %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.input :year, readonly: true %></div>
    <div class="col"><%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %></div>
    <div class="col"><%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %></div>
  </div>
  <div class="row">
    <%= f.association :vrentaltemplate,
                   include_blank: true,
                   label: ("Seleccionar model de contracte o #{link_to 'Afegir model de contracte nou', new_vrentaltemplate_path, target: '_blank'}.").html_safe,
                   hint: t("owner_speaks", name: vrental.owner.fullname, language: t("#{vrental.owner.language}")) if vrental.owner %>
  </div>
  <div class="row">
    <%= f.input :owner_bookings %>
  </div>
  <div class="row justify-content-md-center bg-light py-5">
    <% year_to_display = f.object.year || @year || Date.current.year %>
    <% if @rates.present? %>
      <h5><%= link_to "Tarifes #{year_to_display}", vrental_rates_path, target: "_blank" %></h5>
      <%= render @rates %>
    <% else %>
      <%= link_to "Afegir tarifes", vrental_rates_path, target: "_blank", class: "btn btn-info" %>
    <% end %>
  </div>
  <% if vragreement.photos.attached? %>
    <div class="row d-flex justify-content-between align-items-end py-4">
      <% vragreement.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 200 %>
        <%= link_to "Esborrar aquesta foto", photo_path(photo), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta foto?"} %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <%= f.input :photos, label: "Afegir fotos", as: :file, input_html: { multiple: true }  %>
  </div>
  <div class="form-actions row gx-4">
    <div class="col text-end p-3">
      <%= f.submit "Desar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
