<div class="modal fade" id="#indexVragreement<%= vragreement.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="#indexVragreement<%= vragreement.id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#indexVragreement<%= vragreement.id %>Label"><%= vrental.name %>: <%= t('contract') %> <%= vragreement.year %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body p-0" data-controller="spinner-pdf">
        <div class="d-flex align-items-center p-5" data-spinner-pdf-target="pdfSpinner">
          <span><%= t('preparing_pdf') %>...</span>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
        <iframe data-spinner-pdf-target="pdfViewer" width="100%" height="500" src="<%= vrental_vragreement_path(vrental, vragreement, format: :pdf) %>" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('close') %></button>
      </div>
    </div>
  </div>
</div>
