<div class="d-flex flex-column flex-md-row justify-content-between">
  <div class="d-flex flex-column flex-md-row justify-content-start align-items-center gap-2">
    <%= form_with url: list_vragreements_path, method: :get, data: { controller: "filter", filter_target: "form", turbo_frame: "vragreements" }, class: "d-flex flex-row gap-2" do |form| %>
      <%= form.select :status,
              options_for_select([[t("active"),'active'], [t("proposal"),'proposal'], [t("inactive"),'inactive']]),
              { include_blank: t('all_vrentals') },
              class: "form-select",
              data: { action: "change->filter#search" }
            %>
      <%= form.select :year,
              options_for_select(
              [[Date.today.last_year.year],[Date.today.year],[Date.today.next_year.year]],
             ),
              { include_blank: t('all_years') },
              class: "form-select",
              data: { action: "change->filter#search" }
            %>
      <%= form.text_field :vrental, placeholder: t('search_by_name'),
              class: "form-control w-auto",
              autocomplete: "off",
              data: { action: "input->filter#search" } %>
    <% end %>
    <%= link_to vragreements_path, class: "text-secondary"  do %>
      <i class="fa-solid fa-filter-circle-xmark me-2"></i>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag "vragreements", class: "card-body" do %>
  <div class="container-fluid my-3">
    <div>
      <div class="row border border-top border-bottom fw-bold bg-light">
        <div class="col py-3 border-start border-end"><%= t('contract') %></div>
        <div class="col py-3 border-start border-end" id="vrental" relative>
          <%= sort_indicator if params[:column] == "status" %>
          <%= sort_link_vragreement(column: "status", label: t('activerecord.attributes.vragreement.status')) %>
        </div>
        <div class="col py-3 border-start border-end" id="vrdate" relative>
          <%= sort_indicator if params[:column] == "signdate" %>
          <%= sort_link_vragreement(column: "signdate", label: t('activerecord.attributes.vragreement.signdate')) %>
        </div>
        <div class="col py-3 border-start border-end nowrap" id="vrental" relative>
          <%= t('property', count: 1).capitalize %>
        </div>
        <div class="col py-3 border-start border-end nowrap" id="vrental" relative>
          <%= t('language') %>
        </div>
        <div class="col py-3 border-start border-end" id="comission" relative>
          <%= t('commission') %>
        </div>
      </div>
    </div>
    <div class="tbody">
      <% @vragreements.each do |vragreement| %>
        <div class="row border">
          <div class="col border-start border-end nowrap">
            <%= link_to "#{t('contract')} #{vragreement.year}", vragreement, class: "text-info" %>
          </div>
          <div class="col border-start border-end">
            <%= t(vragreement.status) if vragreement.status.present? %>
          </div>
          <div class="col border-start border-end nowrap">
            <%= l(vragreement.signdate, format: :default) if vragreement.signdate.present? %>
          </div>
          <div class="col border-start border-end nowrap text-primary">
            <%= link_to vragreement.vrental.name, vragreement.vrental%>
          </div>
          <div class="col border-start border-end nowrap">
            <%= vragreement.vrental.owner&.language %>
          </div>
          <div class="col border-start border-end nowrap">
            <%= number_to_percentage(vragreement.vrental.commission.to_f*100, precision: 2) if vragreement.vrental %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# two equal signs is the same as .html_safe after or raw in front %>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% end %>
