<% if @vrental %>
  <div class="row p-2">
    <div class="col-lg-2 nowrap fw-bold"><%= t('status') %></div>
    <div class="col-lg-4 nowrap fw-bold"><%= t('contract') %></div>
    <div class="col-lg-4 nowrap fw-bold"><%= t('owner') %></div>
    <div class="col-lg-2 nowrap fw-bold"></div>
  </div>
  <% @vrental.vragreements.each do |vragreement| %>
    <div class="row p-2">
      <div class="col-lg-2 nowrap border-end"><%= t(vragreement.status) %></div>
      <div class="col-lg-4 nowrap border-end">
        <%= link_to vrental_vragreement_path(@vrental, vragreement), class: "link" do %>
          <i class="fa-solid fa-arrow-right me-2"></i><%= t('contract') %> <%= I18n.l(vragreement.start_date) if vragreement.start_date %> - <%= I18n.l(vragreement.end_date) if vragreement.end_date %>
        <% end %>
      </div>
      <div class="col-lg-4 nowrap border-end"><%= @vrental.owner&.fullname %></div>
      <div class="col-lg-2 nowrap text-end d-flex justify-content-between">
        <%= link_to edit_vrental_vragreement_path(@vrental, vragreement), class: "text-primary text-decoration-none p-1" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to vrental_vragreement_path(@vrental, vragreement), class: "text-danger text-decoration-none",  data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar el contracte per #{vragreement.year}?"} do %>
          <i class="fas fa-trash-can"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="my-5">
    <% if @vrental.has_future_rates? %>
      <% @years_possible_contract.each do |year| %>
        <%= link_to new_vrental_vragreement_path(@vrental, year: year), class: "btn btn-sm btn-secondary mt-2" do %>
          <i class="fas fa-plus fa-sm"></i>
          <span class="text"><%= t('new_contract_for', prop_name: @vrental.name, year: year) %></span>
        <% end %> <br>
      <% end %>
    <% else %>
      <%= link_to vrental_rates_path(@vrental), class: "btn btn-sm btn-secondary" do %>
        <i class="fa-regular fa-calendar-plus me-2"></i><%= t('add_rates_to_add_contract') %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="container-fluid">
    <%= render "vragreements", vragreements: @vragreements %>
  </div>
<% end %>
