<p id="notice"><%= notice %></p>


<h1>Contractes</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data firma</th>
      <th scope="col">Propietari</th>
      <th scope="col">Idioma</th>
      <th scope="col">Immoble</th>
      <th scope="col">Adreça</th>
      <th scope="col">Comissió</th>
      <th scope="col">Plantilla</th>
      <th scope="col">Més detalls</th>
      <th scope="col">Modificar</th>
      <th scope="col">Esborrar</th>
    </tr>
  </thead>
  <tbody>
    <% @vragreements.each_with_index do |vragreement, index| %>
        <tr>
        <th scope="row"> <%= index + 1 %></th>
        <td><%= vragreement.signdate %></td>
        <td><%= vragreement.vrental.vrowner.fullname %></td>
        <td><%= vragreement.vrental.vrowner.language %></td>
        <td><%= vragreement.vrental.name %></td>
        <td><%= vragreement.vrental.address %></td>
        <td><%= vragreement.vrental.commission %></td>
        <td><%= vragreement.vrentaltemplate.title %></td>
        <td>
        <% if vragreement.vrentaltemplate.language == "ca" %>
          <%= link_to 'Més detalls', "/ca/vragreements/#{vragreement.id}" %>
        <% elsif vragreement.vrentaltemplate.language == "en" %>
          <%= link_to 'Més detalls', "/en/vragreements/#{vragreement.id}" %>
        <% elsif vragreement.vrentaltemplate.language == "fr" %>
          <%= link_to 'Més detalls', "/fr/vragreements/#{vragreement.id}" %>
        <% elsif vragreement.vrentaltemplate.language == "es" %>
          <%= link_to 'Més detalls', "/es/vragreements/#{vragreement.id}" %>
        <% end %>
        </td>
        <td><%= link_to 'Modificar', edit_vrental_vragreement_path(vragreement.vrental, vragreement) %></td>
        <td><%= link_to 'Esborrar', vragreement, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar?"} %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'Afegir un contracte turístic nou', vrentals_path %>
