<div class="d-flex justify-content-between">
  <% if current_user && (current_user.admin? || current_user.manager?) && !@vragreement.signature_image.attached? %>
    <div>
      <%= link_to t('edit'), edit_vrental_vragreement_path(@vragreement.vrental, @vragreement), class: "btn btn-sm btn-secondary" %>
      <%= link_to t('delete'), @vragreement, class: "btn btn-sm btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar el contracte de #{@vragreement.vrental.name}?"} %>
    </div>
  <% end %>
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#indexVragreement<%= @vragreement.id %>">
    <%= t('pdf_contract') %>
  </button>
</div>
<div class="page mt-5">
  <%= sanitize @vrcontrato %>
  <%= render "signature" %>
</div>
<div style="page-break-before: always"><span style="display: none;">&nbsp;</span></div>
<div class="d-flex justify-content-center">
  <% @vragreement.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "m-1" %>
  <% end %>
</div>
<%= render 'pdf_modal', vragreement: @vragreement, vrental: @vrental %>
