<div class="container my-4">
  <div class="row">
    <div class="col-lg-9">
      <h4><%= t('bookings') %> <%= Date.today.year %></h4>
    </div>
    <div class="col-lg-3 text-end">
      <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#ownerBooking">
        <%= t('new_owner_booking') %>
      </button>
    </div>
  </div>
  <%= render 'list_edit_modal', owner_booking: OwnerBooking.new %>
  <div class="container-fluid my-3">
    <% @all_bookings.each do |bk| %>
      <div class="row py-2 border-bottom d-flex align-items-center<%= ' bg-light-warning' if bk.is_a?(OwnerBooking) %>">
        <% if bk.is_a?(OwnerBooking) %>
          <div class="col-lg-4"><%= t('owner_booking') %></div>
        <% else %>
          <div class="col-lg-4"><%= bk.name_on_calendar %></div>
        <% end %>
        <div class="col-lg-2"><%= l(bk.checkin, format: :standard) %></div>
        <div class="col-lg-2"><%= l(bk.checkout, format: :standard) %></div>
        <% if bk.is_a?(OwnerBooking) %>
          <div class="col-lg-2"><%= bk.note %></div>
          <div class="col-lg-2 d-flex justify-content-between">
            <% if bk.checkout >= Date.today %>
              <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#ownerBooking<%= bk.id %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <%= render 'list_edit_modal', owner_booking: bk %>
              <%= form_for bk, url: vrental_owner_booking_path(@vrental, bk), method: :patch, remote: true do |f| %>
                <%= f.hidden_field :status, value: "0" %>
                <%= f.button :submit, class: "btn btn-danger btn-sm" do %>
                  <i class="fas fa-trash-can fa-sm"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
<div class="alert position-relative alert-info" role="alert">
  <i class="fa-solid fa-arrow-down me-2"></i><%= t('add_owner_booking_explanation') %>
</div>
<div id="latest-date-js" data-latest-booking-date="<%= @latest_owner_booking.checkin if @latest_owner_booking %>"></div>
<div id="calendar" data-bookings-on-calendar-path="<%= bookings_on_calendar_vrental_path(@vrental) %>"></div>
<div class="modal fade" id="editOwnerBooking" tabindex="-1" aria-labelledby="editOwnerBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newOwnerBooking" tabindex="-1" aria-labelledby="newOwnerBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('new_owner_booking') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', owner_booking: OwnerBooking.new %>
      </div>
    </div>
  </div>
</div>
