<%= link_to "New Owner Booking", new_vrental_owner_booking_path(@vrental), class: "btn btn-primary mb-3" %>
<div class="row">
  <% @owner_bookings.each do |owner_booking| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Booking Details</h5>
          <p class="card-text"><strong>Status:</strong> <%= owner_booking.status %></p>
          <p class="card-text"><strong>Check-In:</strong> <%= owner_booking.checkin.strftime('%Y-%m-%d') %></p>
          <p class="card-text"><strong>Check-Out:</strong> <%= owner_booking.checkout.strftime('%Y-%m-%d') %></p>
          <p class="card-text"><strong>Notes:</strong> <%= owner_booking.note %></p>
          <%= link_to "Edit", edit_vrental_owner_booking_path(@vrental, owner_booking) %>
          <%= form_for owner_booking, url: vrental_owner_booking_path(@vrental, owner_booking), method: :patch, remote: true do |f| %>
            <%= f.hidden_field :status, value: "0" %>
            <%= f.submit "Cancel", class: "btn btn-danger btn-sm", data: { confirm: "Are you sure you want to cancel this booking?" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= calendar @availabilities do |date, availabilities| %>
  <div class="calendar-day">
    <%= date %>
    <% availabilities.each do |availability| %>
      <div class="availability">
        <%= "Inventory: #{availability.inventory}" %>
      </div>
    <% end %>
  </div>
<% end %>
