<div class="container my-4">
  <h4><%= t('owner_bookings') %></h4>
  <ul class="list-group mt-3">
    <% @owner_bookings.each do |owner_booking| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= l(owner_booking.checkin, format: :standard) %> - <%= l(owner_booking.checkout, format: :standard) %>
        <%= form_for owner_booking, url: vrental_owner_booking_path(@vrental, owner_booking), method: :patch, remote: true do |f| %>
          <%= f.hidden_field :status, value: "0" %>
          <%= f.button :submit, class: "btn btn-danger btn-sm" do %>
            <i class="fas fa-trash-can fa-sm"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="alert position-relative alert-info" role="alert">
  <%= t('add_owner_booking_explanation') %>
</div>
<div id="calendar" data-bookings-on-calendar-path="<%= bookings_on_calendar_vrental_path(@vrental) %>"></div>
<div class="modal fade" id="editOwnerBooking" tabindex="-1" aria-labelledby="editOwnerBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newOwnerBooking" tabindex="-1" aria-labelledby="newOwnerBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('new_owner_booking') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', owner_booking: OwnerBooking.new %>
      </div>
    </div>
  </div>
</div>
