<p style="color: green"><%= notice %></p>

<%= render @vrgroup %>

<div>
  <%= link_to "Edit this vrgroup", edit_vrgroup_path(@vrgroup) %> |
  <%= link_to "Back to vrgroups", vrgroups_path %>

  <%= button_to "Destroy this vrgroup", @vrgroup, method: :delete %>
</div>
