<p style="color: green"><%= notice %></p>
<div class="container d-flex justify-content-start gap-4 mb-4">
  <%= link_to t('global.forms.back'), vrgroups_path, class: "btn btn-sm btn-secondary"  %> |
  <%= link_to t('edit_group'), edit_vrgroup_path(@vrgroup), class: "btn btn-sm btn-warning"  %> |
  <%= button_to t('delete'), @vrgroup, method: :delete, class: "btn btn-sm btn-danger" %>
</div>
<%= render @vrgroup %>
