<%= simple_form_for [rate_plan, rate_period], data: {turbo_frame: rate_period} do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="d-lg-flex justify-content-between align-items-end gap-2 px-2 py-4" data-controller="flatpickr-turbo" data-min="<%= rate_plan.start %>" data-max="<%= rate_plan.end %>">
    <%= f.input :name, label: t("name"), priority: [t("general"), "general"], collection: [[t("general"), "general"], [t("easter"), "easter"]], include_blank: false %>
    <%= f.input :firstnight, as: :string, input_html: { "data-flatpickr-turbo-target" => "start" } %>
    <%= f.input :lastnight, as: :string, input_html: { "data-flatpickr-turbo-target" => "end" } %>
    <%= f.input :min_stay %>
    <%= f.input :arrival_day, label: t("arrival_day"), collection: Rate::ARRIVAL_DAY.map { |key, value| [t(value), key] }, include_blank: false %>
    <div class="form-actions mb-3 text-end">
      <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
<% end %>
