<div class="container">
  <h3>Pla de tarifes <%= @rate_plan.name %></h3>
  <p>De <%= l(@rate_plan.start, format: :long) %> a <%= l(@rate_plan.end, format: :long) %></p>
  <p>Dia d'arribada general: <%= t("#{@rate_plan.gen_arrival}") %></p>
  <p>Estada mínima general: <%= @rate_plan.gen_min %></p>
</div>
<div class="text-end">
  <div class="container">
    <h5 class="text-center text-info mb-5">Afegir periode nou</h5>
    <%= turbo_frame_tag "new_rate_period", src: new_rate_plan_rate_period_path(@rate_plan), target: "_top" %>
    <div id="rate_periods">
      <%= render @rate_periods %>
    </div>
  </div>
</div>
