<div id="<%= dom_id payment %>">
  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= payment.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= payment.price %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

</div>
