<%= simple_form_for @vrental, html: { "data-controller": "update-field" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :status, as: :radio_buttons, collection: [[t("active"),'active'], [t("proposal"),'proposal'], [t("inactive"),'inactive']] %>
    <%= f.input :name, required: true, input_html: { "data-update-field-target" => "vrentalName", "data-action": "input->update-field#updatePropKey" } %>
    <%= f.input :commission, required: true %>
    <%= f.input :feature_ids, as: :check_boxes, collection: Feature.all.uniq.map {|f| [t("#{f.name}"), f.id]}.sort_by{|translation| translation}, wrapper: :horizontal_collection %>
    <div class="p-3 mt-3 border border-secondary rounded-4" id="vrowner-details">
      <h6>Propietari</h6>
      <div class="row g-3">
        <div class="col">
          <%= f.association :vrowner, label_method: :fullname, label: false, class: "js-example-responsive" %>
        </div>
        <div class="col">
          <button type="button" class="edit_vrowner-js mb-2 btn btn-secondary w-100 <%= 'd-none' unless @vrental.vrowner %>" data-bs-toggle="modal" data-bs-target="#editModalVrowner">
            <small>Modificar <%= @vrental.vrowner.fullname if @vrental.vrowner %></small>
          </button>
          <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#newModalVrowner">
            <small>Afegir Propietari Nou</small>
          </button>
        </div>
      </div>
    </div>
    <%= f.input :address %>
    <%= f.input :cadastre %>
    <%= f.input :habitability %>
    <%= f.input :licence %>
    <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 }, hint: "Per exemple: Apartament còmode i ben equipat amb piscina. Dues habitacions dobles (una amb llit de matrimoni i una amb dos llits individuals), saló menjador amb sofà, bany amb dutxa i terrassa amb taula i cadires. La cuina està totalment equipada, amb rentavaixelles, nevera gran, microones, cafetera. L'apartament està a prop del centre de l'Estartit. Ambient familiar, amb una gran piscina i jardí compartits."  %>
    <%= t("dont-fill") %>
    <%= f.input :beds_prop_id %>
    <%= f.input :beds_room_id %>
    <%= f.input :prop_key, input_html: { "data-update-field-target" => "propKey" }, disabled: true %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-primary text-center' %>
  </div>
<% end %>
<%= render "new_vrowner_modal" %>
<%= render "edit_vrowner_modal" if @vrental.vrowner %>
