<%= simple_form_for @vrental, html: { "data-controller": "update-field" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :office %>
    <%= f.input :status, as: :radio_buttons, collection: [[t("active"),'active'], [t("proposal"),'proposal'], [t("inactive"),'inactive']] %>
    <%= f.input :name, required: true, input_html: { "data-update-field-target" => "vrentalName", "data-action": "input->update-field#updatePropKey" } %>
    <%= f.input :commission, required: true %>
    <%= f.input :property_type, collection: Vrental::PROPERTY_TYPE.keys.map { |key| [t(key), key] } %>
    <%= f.input :address %>
    <%= f.input :cadastre %>
    <%= f.input :habitability %>
    <%= f.input :licence %>
    <%= f.input :max_guests %>
    <%= f.input :min_price %>
    <%= f.input :description_ca, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :description_es, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :description_en, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :description_fr, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= t("dont-fill") %>
    <%= f.input :beds_prop_id %>
    <%= f.input :beds_room_id %>
    <%= f.input :prop_key, input_html: { "data-update-field-target" => "propKey" }, disabled: true %>
  </div>
  <div class="p-3 mt-3 border border-secondary rounded-4" id="vrowner-details">
    <%= f.input :feature_ids, as: :check_boxes, collection: Feature.all.uniq.map {|f| [t("#{f.name}"), f.id]}.sort_by{|translation| translation}, wrapper: :horizontal_collection %>
  </div>
  <div class="p-3 mt-3 border border-secondary rounded-4" id="vrowner-details">
    <h6><%= t("select_or_add") %></h6>
    <div class="row g-3">
      <div class="col">
        <%= f.association :vrowner, label_method: :fullname, label: false, class: "js-example-responsive", input_html: { id: "edit_vrowner-select2" } %>
      </div>
      <div class="col">
        <button type="button" class="edit_vrowner-js mb-2 btn btn-secondary w-100 <%= 'd-none' unless @vrental.vrowner %>" data-bs-toggle="modal" data-bs-target="#editModalVrowner">
          <small>Modificar <%= @vrental.vrowner.fullname if @vrental.vrowner %></small>
        </button>
        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#newModalVrowner">
          <small>Afegir Propietari Nou</small>
        </button>
      </div>
    </div>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-primary text-center' %>
  </div>
<% end %>
<%= render "new_vrowner_modal" %>
<%= render "edit_vrowner_modal" if @vrental.vrowner %>
