<div class="col-md-12 col-sm-12 col-md-12">
  <div class="singles-dashboard-list">
    <div class="sd-list-left">
      <div class="image-container">
        <% if vrental.image_urls.present? %>
          <%= image_tag vrental.image_urls.order(position: :asc).first.url, class: "img-fluid", alt:"#{t("vacation_rentals")} #{vrental.town&.name}" %>
        <% else %>
          <img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="" />
        <% end %>
        <% if vrental.status %>
          <span class="label-status label-<%= vrental.status %>"><%= t("#{vrental.status}") %></span>
        <% end %>
        <% if vrental.featured %>
          <span class="label-status label-featured"><%= t("featured") %></span>
        <% end %>
      </div>
    </div>
    <div class="sd-list-right">
      <h4 class="listing_dashboard_title"><%= link_to truncate(vrental.name, length: 50), vrental, class: "text-primary" %> </h4>
      <div class="user_dashboard_listed">
        <%= link_to truncate(vrental.address, length: 50), vrental %>
      </div>
      <div class="user_dashboard_listed">
        <% if vrental.owner %>
          <%= link_to truncate(vrental.owner.fullname, length: 50), edit_vrental_owner_path(vrental, vrental.owner), target: "_blank", class: "text-primary"  %>
        <% else %>
          <%= link_to t("add_owner"), edit_vrental_path(vrental, anchor: "owner-details"), target: "_blank" %>
        <% end %>
      </div>
      <div class="user_dashboard_listed">
        <%= add_vragreement_links(vrental) %>
      </div>
      <div class="action">
        <%= link_to book_property_path(vrental_id: vrental.id), data: { bs_toggle: "tooltip", bs_placement: "top" }, title: t("view_vrental") do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to edit_vrental_path(vrental), data: { bs_toggle: "tooltip", bs_placement: "top" }, title: t("edit_vrental") do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to copy_vrental_path(vrental), data: { bs_toggle: "tooltip", bs_placement: "top" }, title: t("copy_vrental") do %>
          <i class="fa-solid fa-copy"></i>
        <% end %>
        <%= link_to vrental, class: "text-danger text-decoration-none",  data: { bs_toggle: "tooltip", bs_placement: "top", turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{vrental.name}?"}, title: t("delete_vrental")  do %>
          <i class="fas fa-trash-can"></i>
        <% end %>
        <% if vrental.status == "active" %>
          <%= link_to toggle_featured_vrental_path(vrental), data: { bs_toggle: "tooltip", bs_placement: "top" }, title: vrental.featured ? t('remove_featured') : t('set_featured') do %>
            <i class="fa-solid fa-star <%= "text-warning" if vrental.featured %>"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
