<div class="my-3 border border-secondary p-2">
  <p>Comissió mitjana: <%= number_to_percentage(@average_commission.to_f*100, precision: 2) %></p>
  <p>Segons contracte (menys les reserves propietari) <%= number_to_currency(@total_rate_price_all_vrentals, unit: "€", separator: ",", delimiter: ".", precision: 2).delete(' ') if @total_rate_price_all_vrentals %></p>
  <p>Segons reserves <%= number_to_currency(@total_bookings_all_vrentals, unit: "€", separator: ",", delimiter: ".", precision: 2).delete(' ') if @total_bookings_all_vrentals %></p>
  <p>Segons liquidacions <%= number_to_currency(@total_earnings_all_vrentals, unit: "€", separator: ",", delimiter: ".", precision: 2) %></p>
  <p>Diferencia reserves i liquidacions: <%= number_to_currency((@total_bookings_all_vrentals - @total_earnings_all_vrentals), unit: "€", separator: ",", delimiter: ".", precision: 2) if @total_earnings_all_vrentals %> <%= rental_balance_message(@vrental) %></p>
  <p>Total Honoraris Agència (net): <%= number_to_currency(@total_agency_fees, unit: "€", separator: ",", delimiter: ".", precision: 2) if @total_agency_fees %></p>
  <p>Total IVA Agència: <%= number_to_currency(@total_agency_fees * 0.21, unit: "€", separator: ",", delimiter: ".", precision: 2) if @total_agency_fees %></p>
  <div><%= link_to 'Refrescar la pàgina', request.original_url, class: 'btn btn-secondary' %>
  </div>
</div>
<div class="container mt-5 text-center">
  <%= form_with url: list_earnings_vrentals_path, method: :get, data: { turbo_frame: "vrentals_earnings" }, class: "d-flex justify-content-center" do |form| %>
    <div class="col-auto">
      <%= form.text_field :name,
          placeholder: "Buscar per immoble",
          class: "form-control bg-white border-0 small",
          autocomplete: "on" %>
    </div>
    <div class="col-auto">
      <%= form.button class: "btn btn-primary me-3" do %>
        <i class="fas fa-search fa-sm"></i>
      <% end %>
    </div>
    <div class="col-auto">
      <%= link_to "Veure tots els ingressos", total_earnings_vrentals_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
<%= turbo_frame_tag "vrentals_earnings", class: "card-body" do %>
  <div class="container-fluid my-3">
    <div class="row border border-top border-bottom fw-bold bg-light">
      <div class="col-lg-3 py-3 align-self-center" relative>
        Propietari
      </div>
      <div class="col col-lg-3 py-3 align-self-center" relative>
        <%= sort_indicator if params[:column] == "vrental_name" %>
        <%= sort_link_earnings(column: "vrental_name", label: "Immoble") %>
      </div>
      <div class="col-lg-2 py-3 align-self-center" relative>
        Reserves
      </div>
      <div class="col-lg-2 py-3 align-self-center" relative>
        <%= sort_indicator if params[:column] == "total_earnings" %>
        <%= sort_link_earnings(column: "total_earnings", label: "Liquidacions") %>
      </div>
      <div class="col-lg-2 py-3 align-self-center" relative>
        <%= sort_indicator if params[:column] == "agency_fees" %>
        <%= sort_link_earnings(column: "agency_fees", label: "Agència") %>
      </div>
    </div>
    <div>
      <% @vrentals.each do |vrental| %>
        <div class="row border min-height-row">
          <div class="col-lg-3 align-self-center">
            <small><%= link_to vrental.owner.fullname, vrental.owner, class: "text-decoration-none" if vrental.owner %></small>
          </div>
          <div class="col-lg-3 align-self-center">
            <small><%= link_to vrental.name, vrental, class: "text-decoration-none" %></small>
          </div>
          <div class="col-lg-2"><%= number_to_currency(vrental.total_bookings, unit: "€", separator: ",", delimiter: ".", precision: 2).delete(' ') if vrental.total_bookings %></div>
          <div class="col-lg-2"><%= number_to_currency(vrental.total_earnings, unit: "€", separator: ",", delimiter: ".", precision: 2) if vrental.total_earnings %></div>
          <div class="col-lg-2"><%= number_to_currency((vrental.agency_fees), unit: "€", separator: ",", delimiter: ".", precision: 2) if vrental.agency_fees %></div>
        </div>
      <% end %>
    </div>
  </div>
  <%# two equal signs is the same as .html_safe after or raw in front %>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
