<div class="col-md-12 col-sm-12 col-md-12">
  <div class="singles-dashboard-list">
    <div class="sd-list-left">
      <img src="https://via.placeholder.com/1200x850" class="img-fluid" alt="" />
    </div>
    <div class="sd-list-right">
      <h4 class="listing_dashboard_title"><%= link_to vrental.name, vrental, class: "text-primary" %></h4>
      <% if vrental.status %>
        <span class="ms-2 label-new"><%= t("#{vrental.status}") %></span>
      <% end %>
      <div class="user_dashboard_listed">
        <%= link_to vrental.address, vrental %>
      </div>
      <div class="user_dashboard_listed">
        <% if vrental.owner %>
          <%= link_to vrental.owner.fullname, edit_vrental_owner_path(vrental, vrental.owner), target: "_blank", class: "text-primary"  %>
        <% else %>
          <%= link_to t("add_owner"), edit_vrental_path(vrental, anchor: "owner-details"), target: "_blank" %>
        <% end %>
      </div>
      <div class="user_dashboard_listed">
        City: <a href="javascript:void(0);" class="text-primary">KASIA</a> , Area:540 sq ft
      </div>
      <div class="action">
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="202 User View"><i class="fa-regular fa-eye"></i></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Property" class="delete"><i class="fa-regular fa-circle-xmark"></i></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Make Featured" class="delete"><i class="fa-solid fa-star"></i></a>
      </div>
    </div>
  </div>
</div>
