<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Immobles lloguer turístic - HUTs</h4>
    <hr>
    <div class="container d-flex justify-content-center mt-5">
      <%= form_with url: list_vrentals_path, method: :get, data: { turbo_frame: "vrentals"}, class: "row g-3" do |form| %>
        <div class="col-auto">
          <%= form.select :status,
            options_for_select(
            [[t("active"),'active'], [t("proposal"),'proposal'], [t("inactive"),'inactive']],
            ),
            { include_blank: 'Tots els immobles' },
            class: "form-select"
          %>
        </div>
        <div class="col-auto">
          <%= form.text_field :name,
          placeholder: "Buscar per nom",
          class: "form-control bg-white border-0 small",
          autocomplete: "on" %>
        </div>
        <div class="col-auto">
          <%= form.button class: "btn btn-primary me-3" do %>
            <i class="fas fa-search fa-sm"></i>
          <% end %>
        </div>
        <div class="col-auto">
          <%= link_to "Veure tots els immobles", vrentals_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "vrentals", class: "card-body" do %>
      <%= render "shared/flashes" %>
      <div class="container-fluid my-3">
        <div class="row border border-top border-bottom fw-bold bg-light">
          <div class="col col-lg-2 py-3 align-self-center" id="vrstatus" relative>
          <%= sort_indicator if params[:column] == "status" %>
          <%= sort_link(column: "status", label: "Estatus") %>
          </div>
          <div class="col-lg-2 py-3 align-self-center" id="vrname" relative>
          <%= sort_indicator if params[:column] == "name" %>
          <%= sort_link(column: "name", label: "Nom") %>
          </div>
          <div class="col-lg-2 py-3 align-self-center" id="vraddress" relative>
          <%= sort_indicator if params[:column] == "address" %>
          <%= sort_link(column: "address", label: "Adreça") %>
          </div>
          <div class="col-lg-2 py-3 align-self-center" id="vrowner-name" relative>
          <%= sort_indicator if params[:column] == "vrowners.fullname" %>
          <%= sort_link(column: "vrowners.fullname", label: "Propietari") %>
          </div>
          <div class="col-lg-2 py-3 align-self-center">Contractes</div>
          <div class="col-lg-2 py-3 align-self-center">Contracte nou</div>
        </div>
        <div>
          <% @vrentals.each do |vrental| %>
            <div class="row border">
              <div class="col-lg-2 align-self-center">
                <%= t("#{vrental.status}") %>
              </div>
              <div class="col-lg-2 align-self-center">
                <div>
                  <%= link_to "#{vrental.name}", vrental, class: "btn btn-success btn-sm" %>
                </div>
                <div class="mt-2">
                <small><%= link_to 'Copiar immoble', copy_vrental_path(vrental)  %></small>
                </div>
              </div>
              <div class="col-lg-2 align-self-center">
                <%= vrental.address %>
              </div>
              <% if vrental.vrowner %>
                <div class="col-lg-2 align-self-center">
                  <%= vrental.vrowner.fullname %>
                </div>
              <% else %>
                <div class="col-lg-2 align-self-center">
                  <%= link_to 'Afegir propietari', edit_vrental_path(vrental) %>
                </div>
              <% end %>
              <div class="col-lg-2 align-self-center">
                <%= link_to 'Contractes', vragreements_path(immoble: vrental), class: "btn btn-secondary btn-sm"  %>
              </div>
              <div class="col-lg-2 align-self-center">
                <% if vrental.status == "inactive" %>
                  <small><%= link_to "Canvia l'estatus de l'immoble a proposta o actiu per afegir contracte", edit_vrental_path(vrental) %></small>

                <% else %>
                  <% if vrental.vragreements.pluck(:year).include?(Date.today.year) %>
                    <%= link_to "Afegir contracte per #{Date.today.next_year.year}", new_vrental_vragreement_path(vrental, year: Date.today.next_year.year), class: "btn btn-primary btn-sm" %>
                  <% elsif vrental.vragreements.pluck(:year).include?(Date.today.next_year.year) %>
                    <%= link_to "Afegir contracte per #{Date.today.next_year.year + 1}", new_vrental_vragreement_path(vrental, year: Date.today.next_year.year + 1), class: "btn btn-primary btn-sm" %>
                  <% else %>
                    <%= link_to "Afegir contracte per #{Date.today.next_year.year}", new_vrental_vragreement_path(vrental, year: Date.today.next_year.year), class: "btn btn-primary btn-sm" %>
                  <% end %>

                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%# two equal signs is the same as .html_safe after or raw in front %>
      <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
