<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Immobles lloguer turístic - HUTs</h4>
    <hr>
      <div class="container d-flex justify-content-center mt-5">
        <%= form_with url: list_vrentals_path, method: :get, data: { turbo_frame: "vrentals"}, class: "row g-3" do |form| %>
          <div class="col-auto">
            <%= form.select :status,
              options_for_select(
              [[t("inactive"),'inactive'],[t("proposal"),'proposal'],[t("active"),'active']],
              session.dig('vrental_filters', 'status')
              ),
              { include_blank: 'tots' },
              class: "form-select"
            %>
          </div>
          <div class="col-auto">
            <%= form.text_field :name,
            placeholder: "Buscar per nom",
            value: session.dig('vrental_filters', 'name'),
            class: "form-control bg-white border-0 small",
            autocomplete: "off" %>
          </div>
          <div class="col-auto">
            <%= form.button class: "btn btn-primary me-3" do %>
              <i class="fas fa-search fa-sm"></i>
            <% end %>
          </div>
          <div class="col-auto">
            <%= link_to "Veure tots els immobles", vrentals_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    <%= turbo_frame_tag "vrentals", class: "card-body" do %>
      <div class="container-fluid my-3">
          <div>
           <div class="row border border-top border-bottom fw-bold bg-light">
              <div class="col col-lg-2 py-3 border-start border-end" id="vrstatus" relative>
              <%= sort_indicator if params[:column] == "status" %>
              <%= sort_link(column: "status", label: "Estatus") %>
              </div>
              <div class="col-lg-2 py-3 border-start border-end" id="vrname" relative>
              <%= sort_indicator if params[:column] == "name" %>
              <%= sort_link(column: "name", label: "Nom") %>
              </div>
              <div class="col-lg-2 py-3 border-start border-end" id="vraddress" relative>
              <%= sort_indicator if params[:column] == "address" %>
              <%= sort_link(column: "address", label: "Adreça") %>
              </div>
              <div class="col-lg-2 py-3 border-start border-end" id="vrowner-name" relative>
              <%= sort_indicator if params[:column] == "vrowners.fullname" %>
              <%= sort_link(column: "vrowners.fullname", label: "Propietari") %>
              </div>
              <div class="col-lg-2 py-3 border-start border-end">Copiar</div>
              <div class="col-lg-2 py-3 border-start border-end">Contracte</div>
           </div>
          </div>
          <div class="tbody">
            <% @vrentals.each do |vrental| %>
             <div class="row border">
                <div class="col-lg-2 border-start border-end"><%= t("#{vrental.status}") %></div>
                <div class="col-lg-2 border-start border-end"><%= link_to "#{vrental.name}", vrental %></div>
                <div class="col-lg-2 border-start border-end"><%= vrental.address %></div>
                <% if vrental.vrowner %>
                <div class="col-lg-2 border-start border-end"><%= vrental.vrowner.fullname %></div>
                <% else %>
                <div class="col-lg-2 border-start border-end"><%= link_to 'Afegir propietari', edit_vrental_path(vrental) %></div>
                <% end %>
                <div class="col-lg-2 border-start border-end"><%= link_to 'Copiar immoble', copy_vrental_path(vrental) %></div>
                <div class="col-lg-2 border-start border-end"><%= link_to 'Afegir contracte', new_vrental_vragreement_path(vrental) %></div>
             </div>
            <% end %>
          </div>
      </div>
      <%# two equal signs is the same as .html_safe after or raw in front %>
      <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
</div>
