<div class="set-center flex-column">
  <div class="class d-flex flex-column align-items-center">
    <h2 class="text-center"><%= t('bedrooms_bathrooms') %></h2>
    <%= render 'shared/bedrooms_bathrooms_show' %>
  </div>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="text-danger"><%= error %></p>
    <% end %>
  <% end %>
  <%= form_with model: @vrental do |f| %>
    <%= f.hidden_field :request_context, value: "add_bedrooms_bathrooms" %>
    <div class="d-flex flex-column my-5 gap-5">
      <div class="card shadow bg-light border rounded p-4">
        <div class="d-flex flex-row justify-content-between p-2">
          <h6><%= t('bedrooms').capitalize %></h6>
          <%= link_to_add_association t('add_bedroom'), f, :bedrooms, data: {association_insertion_node: '.bedrooms', association_insertion_method: :append}, class: "btn btn-sm btn-info" %>
        </div>
        <div class="bedrooms">
          <%= f.fields_for :bedrooms do |bedroom| %>
            <%= render 'bedroom_fields', f: bedroom %>
          <% end %>
        </div>
      </div>
      <div class="card shadow bg-light border rounded p-4">
        <div class="d-flex flex-row justify-content-between p-2">
          <h6><%= t('bathrooms').capitalize %></h6>
          <%= link_to_add_association t('add_bathroom'), f, :bathrooms, data: {association_insertion_node: '.bathrooms', association_insertion_method: :append}, class: "btn btn-sm btn-info" %>
        </div>
        <div class="bathrooms">
          <%= f.fields_for :bathrooms do |bathroom| %>
            <%= render 'bathroom_fields', f: bathroom %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-actions text-end my-5">
      <%= f.submit t('global.forms.refresh'), class: 'btn btn-success text-center' %>
      <%= f.submit t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
      <%= f.submit t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
    </div>
  <% end %>
</div>
