<div class="mb-5">
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= @vrental.name %></h4>
  <h6 class="text-center"><%= t('property_owner') %></h6>
</div>
<%= simple_form_for(@vrental, html: { "data-controller": "update-field"}, data: { turbo: false }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :request_context, value: 'add_owner' %>
  <div class="p-3 mt-3 border border-secondary rounded-4" id="owner-details">
    <h6><%= t("select_or_add") %></h6>
    <div class="row g-3">
      <div class="col">
        <%= f.association :owner, label_method: :fullname, label: false, class: "form-control", input_html: { id: "edit_owner-select2" } %>
      </div>
      <div class="col">
        <button type="button" class="edit_owner-js mb-2 btn btn-secondary w-100 <%= 'd-none' unless @vrental.owner %>" data-bs-toggle="modal" data-bs-target="#editModalOwner">
          <small>Modificar <%= @vrental.owner.fullname if @vrental.owner %></small>
        </button>
        <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#newModalOwner">
          <small>Afegir Propietari Nou</small>
        </button>
      </div>
    </div>
  </div>
  <%= f.input :contract_type, collection: Vrental::CONTRACT_TYPES.map { |contract_type| [t(contract_type), contract_type] }, input_html: { "data-update-field-target" => "contractType", "data-action": "change->update-field#toggleFields", value: f.object.contract_type } %>
  <div <%= 'class=d-none' if f.object.contract_type != "commission" %> data-update-field-target="commissionField">
    <%= f.input :commission, as: :string %>
  </div>
  <div <%= 'class=d-none' if f.object.contract_type != "fixed_price" %>  data-update-field-target="fixedPriceFields">
    <%= f.input :fixed_price_amount, as: :string  %>
    <%= f.input :fixed_price_frequency, collection: Vrental::FIXED_PRICE_FREQUENCIES.map { |frequency| [t(frequency), frequency] } %>
  </div>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
<%= render "new_owner_modal" %>
<%= render "edit_owner_modal" if @vrental.owner %>
