<div class="mb-5">
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= @vrental.name %></h4>
  <h6 class="text-center"><%= t('property_booking_conditions') %></h6>
</div>
<%= simple_form_for @vrental do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :request_context, value: 'add_booking_conditions' %>
  <%= f.input :max_guests %>
  <%= f.input :min_price %>
  <%= f.input :rental_term, collection: Vrental::RENTAL_TERMS.map { |term| [t(term), term] } %>
  <%= f.input :res_fee %>
  <%= f.input :min_stay %>
  <%= f.input :free_cancel %>
  <%= f.input :price_per, collection: Vrental::PRICE_PER.map { |interval| [t(interval), interval] } %>
  <div class="input-group mb-3">
    <%= f.input_field :weekly_discount, class: 'form-control', placeholder: "Per exemple, 10 o 15", 'aria-describedby' => 'basic-addon2' %>
    <span class="input-group-text" id="basic-addon2">%</span>
  </div>
  <%# ask only if the price is per week %>
  <%= f.input :weekly_discount_included, as: :select, collection: [[t('true'), true], [t('false'), false]], include_blank: true %>
  <% if @vrental.vrgroup.present? %>
    <%= f.input :master_rate, as: :select, collection: [[t('true'), true], [t('false'), false]], include_blank: false %>
    <%# if this vrental is not a master_rate, then ask for its master vrental %>
    <% if @vrental.vrgroup.vrentals.where(master_rate: true).present? %>
      <%= f.input :master_vrental_id, as: :select, collection: @vrental.vrgroup.vrentals.where(master_rate: true).map { |vrental| [vrental.name, vrental.id] }, hint: t('master_vrental'), include_blank: t("no_master_rate") %>
      <%# if this vrental has master vrental, show the next two fields %>
      <%= f.input :rate_offset %>
      <%= f.input :rate_offset_type, as: :select, collection: Vrental::RATE_OFFSET_TYPE.map { |k, v| [t(v), k] } %>
    <% end %>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="alert alert-warning position-relative" role="alert">
      <%= t("dont-fill") %>
    </div>
    <%= f.input :beds_prop_id %>
    <%= f.input :beds_room_id %>
    <%= f.input :prop_key %>
  <% end %>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
