<div class="mb-5">
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= @vrental.name %></h4>
  <h6 class="text-center"><%= t('property_booking_conditions') %></h6>
</div>
<%= simple_form_for(@vrental, data: { turbo: false }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :request_context, value: 'add_booking_conditions' %>
  <% type_min_stay = f.object.rental_term == "medium_term" ? 32 : 5 %>
  <%= f.input :min_stay, value: f.object.rental_term.present? ? f.object.rental_term : type_min_stay %>
  <%= f.input :min_price %>
  <%= f.input :cleaning_fee %>
  <%= f.input :cut_off_hour, selected: @vrental.cut_off_hour.present? ? @vrental.cut_off_hour : "10", collection: cut_off_time_options  %>
  <%= f.input :checkin_start_hour, selected: @vrental.checkin_start_hour.present? ? @vrental.checkin_start_hour : "15.0", collection: check_in_out_time_options %>
  <%= f.input :checkin_end_hour, selected: @vrental.checkin_end_hour.present? ? @vrental.checkin_end_hour : "23.0", collection: check_in_out_time_options %>
  <%= f.input :checkout_end_hour, selected: @vrental.checkout_end_hour.present? ? @vrental.checkout_end_hour :  "10.0", collection: check_in_out_time_options %>
  <% if current_user.admin? || current_user.manager? %>
    <%= f.input :unit_number, input_html: { value: f.object.unit_number || 1} %>
    <%= f.input :res_fee %>
    <%= f.input :free_cancel %>
    <div data-controller="booking-conditions">
      <%= f.input :price_per, collection: Vrental::PRICE_PER.map { |interval| [t(interval), interval] }, input_html: { "data-booking-conditions-target" => "pricePer", "data-action" => "change->booking-conditions#toggleDiscountIncluded"} %>
      <%= f.label :weekly_discount %>
      <p class="text-sm" data-booking-conditions-target="discountIncluded" ><i class="fa-solid fa-circle-info me-2"></i><%= t('weekly_discount_included') %></p>
      <div class="input-group mb-3">
        <%= f.input_field :weekly_discount, class: 'form-control', placeholder: "Per exemple, 10 o 15", 'aria-describedby' => 'basic-addon2' %>
        <span class="input-group-text" id="basic-addon2">%</span>
      </div>
      <% if @vrental.vrgroup.present? %>
        <label for="availability_master"><%= t('availability_master') %></label>
        <select name="availability_master" id="availability_master" class="form-select" data-booking-conditions-target="availabilityMaster" data-action="change->booking-conditions#toggleAvailabilityMaster">
          <option value="true"><%= t('true') %></option>
          <option value="false"><%= t('false') %></option>
        </select>
        <div class="<%= 'd-none' unless f.object.availability_master_id.present? %>" data-booking-conditions-target="dependentAvailability">
          <%= f.input :availability_master_id, as: :select, collection: @vrental.vrgroup.vrentals.where(availability_master_id: nil).map { |vrental| [vrental.name, vrental.id] }, hint: t('availability_master_vrental'), include_blank: t("no_availability_master") %>
        </div>
        <label for="rate_master"><%= t('rate_master') %></label>
        <select name="rate_master" id="rate_master" class="form-select" data-booking-conditions-target="rateMaster" data-action="change->booking-conditions#toggleRateMaster">
          <option value="true"><%= t('true') %></option>
          <option value="false"><%= t('false') %></option>
        </select>
        <div class="<%= 'd-none' unless f.object.rate_master_id.present? %>" data-booking-conditions-target="dependentRate">
          <%= f.input :rate_master_id, as: :select, collection: @vrental.vrgroup.vrentals.where(rate_master_id: nil).map { |vrental| [vrental.name, vrental.id] }, hint: t('rate_master_vrental'), include_blank: t("no_rate_master"), input_html: { "data-booking-conditions-target" => "masterVrental", "data-action" => "change->booking-conditions#toggleRateOffset"} %>
          <div class="<%= 'd-none' unless f.object.rate_master_id.present? %>" data-booking-conditions-target="rateOffset">
            <%= f.input :rate_offset %>
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.admin? || current_user.manager? %>
      <div class="alert alert-warning position-relative" role="alert">
        <%= t("dont-fill") %>
      </div>
      <%= f.input :beds_prop_id %>
      <%= f.input :beds_room_id %>
      <%= f.input :prop_key %>
    <% end %>
  <% end %>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
