<%= simple_form_for @vrental do |f| %>
  <%= f.error_notification %>
  <% @vrental.bedroom_count.times do |i| %>
    <%= f.simple_fields_for :bedrooms, @vrental.bedrooms[i] do |b| %>
      <%= b.input :bedroom_type, as: :select, collection: Bedroom::BEDROOM_TYPES.map { |bedroom_type| [t(bedroom_type), bedroom_type]}, include_blank: false %>
      <div data-controller="bed-copy">
        <%= b.input :bed_count, input_html: { data: { bed_copy_target: "bedCountField", action: "change->bed-copy#updateBedFields" }} %>
        <% if @vrental.bedrooms[i].persisted? && @vrental.bedrooms[i].bed_count.present? %>
          <% @vrental.bedrooms[i].bed_count.times do |j| %>
            <%= b.simple_fields_for :beds, @vrental.bedrooms[i].beds[j] do |p| %>
              <%= p.input :bed_type, as: :select, collection: Bed::BED_TYPES.keys.map { |bed_type| [t(bed_type), bed_type]}, include_blank: false %>
            <% end %>
          <% end %>
        <% else %>
          <div data-bed-copy-target="bedField">
            <%= b.simple_fields_for :bed do |p| %>
              <%= p.input :bed_type, as: :select, collection: Bed::BED_TYPES.keys.map { |bed_type| [t(bed_type), bed_type]}, include_blank: false %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= f.simple_fields_for :bathrooms do |t| %>
    <%= t.input :bathroom_type, as: :select, collection: Bathroom::BATHROOM_TYPES.map { |bathroom_type| [t(bathroom_type), bathroom_type]}, include_blank: false %>
  <% end %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end%>
