<div class="mb-5">
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= @vrental.name %></h4>
  <h6 class="text-center"><%= t('property_photos') %></h6>
</div>
<div class="select-photos d-flex flex-column gap-5 mb-5">
  <div class="d-flex flex-column align-items-end flex-lg-row justify-content-lg-between gap-3 bg-light p-3">
    <% if @vrental.vrgroups.present? %>
      <%= form_with(model: @vrental, url: copy_images_vrental_path(@vrental), method: :post, local: false, class: 'd-flex align-items-end') do |form| %>
        <select name="source_vrental_id" id="select_vrental" data-placeholder="<%= t('select_vrental').capitalize %>">
          <option value="">&nbsp;</option>
          <% @vrental.vrentals_same_vrgroups_images.each do |vrental| %>
            <option value="<%= vrental.id %>"><%= vrental.name %></option>
          <% end %>
        </select>
        <%= form.submit t('import_photos_from_this_property'), class: 'btn btn-sm btn-primary text-center ms-2' %>
      <% end %>
      <span><%= t('or') %></span>
      <% @vrental.vrgroups.each do |vrgroup| %>
        <% unless @vrental.all_group_photos_imported(vrgroup) %>
          <%= link_to "#{t('import_photos_from_group')} #{vrgroup.name}", import_from_group_vrental_path(@vrental, vrgroup_id: vrgroup.id), class: "btn btn-sm btn-secondary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for(@vrental, html: { class: 'col-lg-5 d-flex flex-row align-items-end me-3'}, data: { turbo: false }) do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.hidden_field :request_context, value: 'add_photos' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false, placeholder: t("add_photos"), wrapper_html: { style: "margin-bottom: 0px !important"} %>
    <%= f.button :submit, t('add_photos'), class: 'btn btn-sm btn-primary ms-2' %>
  <% end %>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5" data-controller="sortable" data-sortable-url="/image_urls/:id/move">
  <% @image_urls.each do |image| %>
    <div class="col" data-id="<%= image.id %>">
      <div class="card border-around" >
        <%= image_tag image.url, class: "card-img-top", alt: "#{@vrental.name} #{@vrental.town&.name}" %>
        <div class="card-body">
          <p class="card-text">
            <%= link_to image, data: { turbo_method: :delete, turbo_confirm: 'Segur que vols esborrar la foto?' }, class: "text-danger" do %>
              <%= "Foto d'Airbnb, esborrar" if image.url.include?("muscache") %>
              <i class="fas fa-trash-alt fa-lg"></i>
            <% end %>
            <% if @vrental.vrgroups %>
              <% @vrental.vrgroups.each do |vrgroup| %>
                <small class="text-muted"><%= "Foto del grup #{vrgroup.name}" if vrgroup.photo_ids.include?(image.photo_id) %></small>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= simple_form_for(@vrental, data: { turbo: false }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :request_context, value: 'after_adding_photos' %>
  <div class="form-actions text-end mb-5">
    <%= f.button :submit, t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
    <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
  </div>
<% end %>
