<div class="container">
  <%= simple_form_for @vrental, html: { "data-controller": "update-field" } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= render "form_inputs", f: f %>
    <div class="p-3 mt-3 border border-secondary rounded-4" id="owner-details">
      <%= f.input :feature_ids, as: :check_boxes, collection: Feature.all.uniq.map {|f| [t("#{f.name}"), f.id]}.sort_by{|translation| translation}, wrapper: :horizontal_collection %>
    </div>
    <div class="p-3 mt-3 border border-secondary rounded-4" id="owner-details">
      <h6><%= t("select_or_add") %></h6>
      <div class="row g-3">
        <div class="col">
          <%= f.association :owner, label_method: :fullname, label: false, class: "js-example-responsive", input_html: { id: "edit_owner-select2" } %>
        </div>
        <div class="col">
          <button type="button" class="edit_owner-js mb-2 btn btn-secondary w-100 <%= 'd-none' unless @vrental.owner %>" data-bs-toggle="modal" data-bs-target="#editModalOwner">
            <small>Modificar <%= @vrental.owner.fullname if @vrental.owner %></small>
          </button>
          <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#newModalOwner">
            <small>Afegir Propietari Nou</small>
          </button>
        </div>
      </div>
    </div>
    <div class="form-actions text-end mb-5">
      <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-primary text-center' %>
    </div>
  <% end %>
</div>
<%= render "new_owner_modal" %>
<%= render "edit_owner_modal" if @vrental.owner %>
