<div class="card">
  <h5 class="card-header border-0"><%= @vrental.name %> <%= "(#{@vrental.address})" if @vrental.address %></h5>
  <div class="card-body row d-flex justify-content-center gap-5">
    <div class="col">
      <% if @vrental.owner.present? %>
        <p class="card-text">
          <strong><%= t('owner') %></strong>
          <%= link_to @vrental.owner.fullname, owner_path(@vrental.owner), class: "link" %>
        </p>
      <% end %>
      <p class="card-text">
        <% if @vrental.status == "active" %>
          <span class="bg-success text-white p-2 rounded"><%= t(@vrental.status) %></span>
        <% elsif @vrental.status == "inactive" %>
          <span class="bg-danger text-white p-2 rounded"><%= t(@vrental.status) %></span>
        <% else %>
          <span class="bg-warning text-white p-2 rounded"><%= t(@vrental.status) %></span>
        <% end %>
      </p>
      <p class="card-text">
        <strong>Número HUT:</strong>
        <%= @vrental.licence %>
      </p>
      <p class="card-text">
        <strong>Comissió:</strong>
        <%= format("%.2f", @vrental.commission.to_f * 100) %>
      </p>
      <p class="card-text">
        <strong>Cadastre:</strong>
        <%= @vrental.cadastre %>
      </p>
      <p class="card-text">
        <strong>Cédula:</strong>
        <%= @vrental.habitability %>
      </p>
      <p class="card-text">
        <strong>Màxim d'hostes:</strong>
        <%= @vrental.max_guests %>
      </p>
      <% if current_user.admin? || current_user.manager? %>
        <p class="card-text">
          <strong>Oficina:</strong>
          <%= @vrental.office.name if @vrental.office %>
        </p>
        <p class="card-text">
          <strong>Clau secreta Beds24:</strong>
          <%= @vrental.prop_key %>
        </p>
        <p class="card-text">
          <strong>Referencia Beds24:</strong>
          <%= @vrental.beds_room_id %>
        </p>
      <% end %>
      <%= render 'shared/bedrooms_bathrooms_show' %>
      <p class="card-text">
        <strong>Caracteristiques:</strong>
        <% translated_features = @vrental.features.map { |feature| t(feature.name) }.sort_by { |translation| translation } %>
        <% translated_features.each do |feature_name| %>
          <li>
            <%= feature_name %>
          </li>
        <% end %>
      </p>
    </div>
    <div class="col text-start">
      <% I18n.available_locales.each do |locale| %>
        <% if @vrental.send("short_description_#{locale}").present? %>
          <p class="card-text">
            <strong><%= t("activerecord.attributes.vrental.short_description_#{locale}") %></strong>
            <%= @vrental.send("short_description_#{locale}") %>
          </p>
        <% end %>
        <% if @vrental.send("description_#{locale}").present? %>
          <p class="card-text">
            <strong><%= t("activerecord.attributes.vrental.description_#{locale}") %></strong>
            <%= @vrental.send("description_#{locale}") %>
          </p>
        <% end %>
      <% end %>
    </div>
    <% if @vrental.office.present? && @vrental.office.coupons.present? %>
      <div class="d-flex justify_content-end align-items-end">
        <%= simple_form_for(@vrental, data: { turbo: false }) do |f| %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="d-flex flex-column align-items-start">
            <%= f.input :coupon_ids, label: "Selecciona els codis que vols afegir a #{@vrental.name}:", as: :check_boxes, collection: @vrental.office.coupons.map {|coupon| [coupon.name, coupon.id]}, wrapper: :vertical_collection, class: "d-flex justify-content-end" %>
          </div>
          <div class="form-actions text-end mb-5">
            <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-secondary text-center' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
