<p>
  <strong>Número HUT:</strong>
  <%= @vrental.licence %>
</p>
<p>
  <strong>Adreça:</strong>
  <%= @vrental.address %>
</p>
<p>
  <strong>Cadastre:</strong>
  <%= @vrental.cadastre %>
</p>
<p>
  <strong>Cédula:</strong>
  <%= @vrental.habitability %>
</p>
<p>
  <strong>Comissió:</strong>
  <%= format("%.2f", @vrental.commission.to_f * 100) %>
</p>
<p>
  <strong>Descripció:</strong>
  <%= @vrental.description %>
</p>
<p>
  <strong>Caracteristiques:</strong>
  <%= @vrental.features.pluck("name").map{|f| t("#{f}")}.sort_by{|translation| translation}.to_sentence(last_word_connector: ', ') %>
</p>
