<p id="notice"><%= notice %></p>

<h1>Immoble <%= @vrental.name %></h1>


<p>
  <strong>Número HUT:</strong>
  <%= @vrental.licence %>
</p>

<p>
  <strong>Adreça:</strong>
  <%= @vrental.address %>
</p>

<p>
  <strong>Cadastre:</strong>
  <%= @vrental.cadastre %>
</p>

<p>
  <strong>Cédula:</strong>
  <%= @vrental.habitability %>
</p>

<p>
  <strong>Comissió:</strong>
  <%= @vrental.commission %>
</p>

<p>
  <strong>Descripció:</strong>
  <%= @vrental.description %>
</p>

<%= link_to 'Modificar l\'immoble', edit_vrental_path(@vrental), class: "btn btn-back" %> |
<%= link_to 'Tornar', vrentals_path %>

<br>
<br>

<h4>Caracteristiques:</h4>

<%= @vrental.features.pluck("name").map{|f| t("#{f}")}.sort_by{|translation| translation}.to_sentence(last_word_connector: ', ') %>


<br><br><br>

<p id="notice"><%= notice %></p>

<div class="rates-header">
  <h4>Tarifes de l'immoble <%= @vrental.name %> </h4>
  <div><%= link_to "Tarifa nova", new_vrental_rate_path(@vrental), data: { turbo_frame: "new_rate" } %></div>
</div>

<%= turbo_frame_tag "new_rate", target: "_top" %>

<div class="container">
  <div class="pl-table">
    <div class="pl-thead">
      <div class="row">
        <div class="col">Des de</div>
        <div class="col">Fins a</div>
        <div class="col">Min.</div>
        <div class="col">Entrada</div>
        <div class="col">Preu setmana</div>
        <div class="col">Modificar</div>
        <div class="col">Esborrar</div>
      </div>
    </div>
    <div class="pl-tbody">
      <div id="rates">
        <%= render @rates.where('firstnight >= ?', Date.new(2022,1,1)).where('lastnight < ?', Date.new(2022,12,31)) %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="pl-table">
    <div class="pl-thead">
      <div class="row">
        <div class="col">Des de</div>
        <div class="col">Fins a</div>
        <div class="col">Min.</div>
        <div class="col">Entrada</div>
        <div class="col">Preu setmana</div>
        <div class="col">Modificar</div>
        <div class="col">Esborrar</div>
      </div>
    </div>
    <div class="pl-tbody">
      <div id="rates">
        <%= render @rates.where('firstnight >= ?', Date.new(2023,1,1)) %>
      </div>
    </div>
  </div>
</div>
