<div class="card">
  <h5 class="card-header"><%= @vrental.name %> <%= "(#{@vrental.address})" if @vrental.address %></h5>
  <div class="card-body row d-flex justify-content-center gap-5">
    <div class="col">
      <p class="card-text">
        <strong>Oficina:</strong>
        <%= @vrental.office.name if @vrental.office %>
      </p>
      <p class="card-text">
        <strong>Estat:</strong>
        <%= @vrental.status %>
      </p>
      <p class="card-text">
        <strong>Número HUT:</strong>
        <%= @vrental.licence %>
      </p>
      <p class="card-text">
        <strong>Comissió:</strong>
        <%= format("%.2f", @vrental.commission.to_f * 100) %>
      </p>
      <p class="card-text">
        <strong>Cadastre:</strong>
        <%= @vrental.cadastre %>
      </p>
      <p class="card-text">
        <strong>Cédula:</strong>
        <%= @vrental.habitability %>
      </p>
      <p class="card-text">
        <strong>Propietari:</strong>
        <%= @vrental.vrowner.fullname if @vrental.vrowner %>
      </p>
      <p class="card-text">
        <strong>Màxim d'hostes:</strong>
        <%= @vrental.max_guests %>
      </p>
      <p class="card-text">
        <strong>Clau secreta Beds24:</strong>
        <%= @vrental.prop_key %>
      </p>
      <p class="card-text">
        <strong>Referencia Beds24:</strong>
        <%= @vrental.beds_room_id %>
      </p>
      <p class="card-text">
        <strong><%= @vrental.bedrooms.count %> <%= t("bedroom", count: @vrental.bedrooms.count) %>:</strong>
        <% @vrental.bedrooms.each do |bedroom| %>
          <li>
            <% if bedroom.bedroom_type != "BEDROOM" %>
              <%= t(bedroom.bedroom_type) %>:
            <% end %>
            <% bed_counts = bedroom.beds.group(:bed_type).count %>
            <% bed_counts.each do |bed_type, count| %>
              <%= count %> <%= t(bed_type, count: count) %>
            <% end %>
          </li>
        <% end %>
      </p>
      <p class="card-text">
        <strong><%= @vrental.bathrooms.count %> <%= t("bathroom", count: @vrental.bathrooms.count) %>:</strong>
        <% @vrental.bathrooms&.order(:bathroom_type).each do |bathroom| %>
          <li>
            <%= t(bathroom.bathroom_type) %>
          </li>
        <% end %>
      </p>
    </div>
    <div class="col text-start">
      <p class="card-text">
        <strong>Descripció:</strong>
        <%= @vrental.description_ca %>
      </p>
      <p class="card-text">
        <strong>Descripció (Espanyol):</strong>
        <%= @vrental.description_es %>
      </p>
      <p class="card-text">
        <strong>Descripció (Francès):</strong>
        <%= @vrental.description_fr %>
      </p>
      <p class="card-text">
        <strong>Descripció (Anglès):</strong>
        <%= @vrental.description_en %>
      </p>
    </div>
  </div>
</div>
