  <%= simple_form_for @post, data: {turbo: false} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="d-flex justify-content-between align-items-end my-2">
      <%= f.label :category_id, t('select_category') %>
      <%= link_to t('new_category'), new_category_path, class: "btn btn-sm btn-info" %>
    </div>
    <%= f.collection_select :category_id, Category.all, :id, "name_#{locale}",
                        { include_blank: false, selected: @post.persisted? ? @post.category : @category },
                        { class: 'form-select'} %>
    <%= f.input :title_ca %>
    <%= f.input :title_es %>
    <%= f.input :title_en %>
    <%= f.input :title_fr %>
    <%= f.input :content_ca, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_es, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_en, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :content_fr, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' }}  %>
    <%= f.input :image, as: :file, input_html: { class: "form-control-photo" }  %>
    <%= f.input :hidden, as: :select, collection: [[t('true'), true], [t('false'), false]], include_blank: false %>
  </div>
  <div class="form-actions mb-3">
    <%= f.button :submit, t("global.forms.submit"), class: "btn btn-secondary" %>
  </div>
<% end %>
