<div id="<%= dom_id post %>">
  <p>
    <strong>Title ca:</strong>
    <%= post.title_ca %>
  </p>

  <p>
    <strong>Title es:</strong>
    <%= post.title_es %>
  </p>

  <p>
    <strong>Title en:</strong>
    <%= post.title_en %>
  </p>

  <p>
    <strong>Title fr:</strong>
    <%= post.title_fr %>
  </p>

  <p>
    <strong>Content ca:</strong>
    <%= post.content_ca %>
  </p>

  <p>
    <strong>Content es:</strong>
    <%= post.content_es %>
  </p>

  <p>
    <strong>Content en:</strong>
    <%= post.content_en %>
  </p>

  <p>
    <strong>Content fr:</strong>
    <%= post.content_fr %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= post.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

</div>
