  <%# bootstrap template %>
<div class="container-fluid">
  <% if current_user.profiles.present? %>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Entra amb un dels teus perfils o crea un perfil nou</h1>
    </div>
    <div class="row">
      <% @profiles.each do |profile| %>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex justify-content-around">
            <div>
              <% if profile.photo.attached? %>
              <%= cl_image_tag profile.photo.key, width:120, crop: :pad %>
              <% else %>
              <p>Aquest perfil no té logo adjuntat.</p>
              <% end %>
            </div>
            <div>
              <%= form_with(url: profile_sessions_path , scope: :profile_session, local: true) do |f| %>
                <%= hidden_field_tag "profile_id", profile.id %>
                <%= button_tag type:'submit', class: "btn btn-light btn-icon-split" do %>
                  <span class="icon text-gray-600">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                <span class="text m-0 text-primary">Entrar com <%= profile.businessname %></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-body d-flex justify-content-around">
            <div>
              <p>
                Nom social : <%= profile.businessname %><br>
                Empresa : <%= profile.companyname %><br>
                Adreça : <%= profile.address %><br>
                CIF : <%= profile.vat %>
                </p>
            </div>
            <div class="text-center pt-4">
              <p><%= link_to 'Modificar el perfil', edit_profile_path(profile) %></p>
              <p><%= link_to 'Eliminar el perfil', profile, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquest perfil?"} %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <%# <h3 class="text-center text-secondary">Crea un perfil nou</h3> %>
    <%= redirect_to t(".profile"), new_profile_path, class: 'btn btn-confirm' %>
  <% end %>
</div>
