<%= simple_form_for [ rental, agreement ] do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <%= f.association :renter, label_method: :fullname, label: 'Inquili', include_blank: true, label: ("Seleccionar inquili o #{link_to 'Afegir inquili nou', new_renter_path, target: "_blank"}.").html_safe %>
    </div>
    <div class="col-lg-6">
      <%= f.association :rentaltemplate, label_method: :title, label: 'Plantilla', include_blank: true, label: ("Seleccionar model o #{link_to 'Afegir model nou', new_rentaltemplate_path,  target: "_blank"}.").html_safe %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-2 text-nowrap">
      <%= f.input :signdate, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-3 text-nowrap">
      <%= f.input :place, label: 'Lloc de la firma' %>
    </div>
    <div class="col-lg-2 text-nowrap">
      <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-2 text-nowrap">
      <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
    </div>
    <div class="col-lg-3 text-nowrap">
      <%= f.input :duration, hint: "per exemple: UN ANY" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <%= f.input :price, hint: "per exemple: 1200" %>
    </div>
    <div class="col-lg-6">
      <%= f.input :pricetext, hint: "per exemple: DOS MIL EUROS" %>
    </div>
    <div class="col-lg-3">
      <%= f.input :deposit, hint: "per exemple: 1200"  %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <%= f.input :contentarea, label: 'Clausula especial', as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } }, hint: 'Per exemple: El pis s\'entrega amb el mobiliari i equipaments que es descriuen en l\'inventari adjunt.' %>
  </div>
  <div class="row justify-content-md-center">
    <%= f.input :photos, label: 'Fotos', as: :file, input_html: { multiple: true } %>
  </div>
