<%= simple_form_for(@town, data: { turbo: false }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :city_tax, hint: t('city_tax_with_vat') %>
    <%= f.input :description_ca %>
    <%= f.input :description_es %>
    <%= f.input :description_en %>
    <%= f.input :description_fr %>
    <%= t('default_texts_town') %>
    <%= f.input :access_text_ca, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :access_text_es, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :access_text_en, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :access_text_fr, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :house_rules_ca, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :house_rules_es, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :house_rules_en, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.input :house_rules_fr, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 5 } %>
    <%= f.association :region, label_method: "name_#{I18n.locale.to_s}" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
