<p><%= t('.greeting', recipient: @resource.email) %></p>
<% if @resource.created_by_admin? %>
  <p><%= t('.instruction_4') %></p>
<% else %>
  <p><%= t('.instruction') %></p>
  <p><%= t('.instruction_2') %></p>
<% end %>
<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('.instruction_3') %></p>
