<%= simple_form_for(@vrentaltemplate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs d-flex justify-content-between">
    <div class="w-50">
      <%= f.input :title, class: "form-control" %>
    </div>
    <div class="w-25">
      <%= f.input :language, priority: [ t(".ca"), "ca" ], collection: [ [t(".ca"), "ca"], [t(".es"), "es"], [t(".fr"), "fr"], [t(".en"), "en"] ], label_method: :first, value_method: :second, class:"form-control w-25"  %>
    </div>
    <% if current_user.admin? %>
      <div>
        <%= f.input :public, as: :select, collection: [['Sí',true], ['No',false]], required: true, class:"form-control w-25" %>
      </div>
    <% end %>
  </div>
  <h5>Variables disponibles</h5>
  <% translated_sorted_keys = Vrentaltemplate::TEMPLATE_KEYS.sort_by { |key| t("vragreement_keys.#{key}", locale: @vrentaltemplate.language.to_sym) } %>
  <div class="container-fluid py-3 border">
    <div class="row">
      <% columns = 4 %>
      <% items_per_column = (translated_sorted_keys.length.to_f / columns).ceil %>
      <% translated_sorted_keys.each_slice(items_per_column).with_index do |slice, index| %>
        <div class="col-3">
          <% slice.each do |key| %>
            <%= t("vragreement_keys.#{key}", locale: @vrentaltemplate.language.to_sym) %><br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-inputs">
    <%= f.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } }, label: false%>
  </div>
  <div class="form-actions text-end">
    <%= f.submit "Desar", class: 'btn btn-primary text-center' %>
    <%= f.submit "Desar com model de contracte nou", class: 'btn btn-primary text-center' %>
  </div>
<% end %>
