<div class="container d-flex justify-content-between">
  <% if @expenses.present? %>
    <div class="flex-column">
      <h6>Total despeses propietari: <%= number_to_currency(@total_expenses_owner, unit: "€", separator: ",", delimiter: ".", precision: 2) %></h6>
      <h6>Total despeses agència: <%= number_to_currency(@total_expenses_agency, unit: "€", separator: ",", delimiter: ".", precision: 2) %></h6>
    </div>
  <% end %>
  <div class="d-flex align-items-center">
    <% expense_link = @vrental ? new_vrental_expense_path(@vrental) : new_expense_path %>
    <%= link_to expense_link, class: "btn btn-light btn-icon-split" do %>
      <span class="icon text-white-600">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">
        Nova despesa <%= @vrental.name if @vrental %>
      </span>
    <% end %>
  </div>
</div>
<% if @expenses.present? %>
  <div class="container">
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Immoble</th>
          <th scope="col">Refèrencia</th>
          <th scope="col">Liquidació</th>
          <th scope="col">Tipus despesa</th>
          <th scope="col">Concepte</th>
          <th scope="col">Import</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <th scope="row"><%= link_to expense.vrental.name, vrental_expenses_path(expense.vrental) %></th>
            <td><%= expense.expense_number %></td>
            <td>
              <% if expense.statement %>
                <%= link_to "Liquidació #{l(expense.statement.date) if expense.statement.date}", vrental_statement_path(expense.vrental, expense.statement) %>
              <% end %>
            </td>
            <td><%= t("#{expense.expense_type}") if expense.expense_type.present? %></td>
            <td><%= expense.description %></td>
            <td><%= number_to_currency(expense.amount, unit: "€", separator: ",", delimiter: ".", precision: 2) %></td>
            <td class="d-flex justify-content-between">
              <%= link_to edit_vrental_expense_path(expense.vrental, expense), class: "text-info text-decoration-none" do %>
                <i class="fas fa-pen fa-sm"></i>
              <% end %>
              <% unless expense.statement && expense.statement.invoice %>
                <%= link_to (@vrental ? vrental_expense_path(@vrental, expense) : expense), data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta despesa?"}, class: "text-danger text-decoration-none" do %>
                  <i class="fas fa-trash-can fa-sm"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
