<div id="<%= dom_id region %>">
  <p>
    <strong>Name ca:</strong>
    <%= region.name_ca %>
  </p>

  <p>
    <strong>Name es:</strong>
    <%= region.name_es %>
  </p>

  <p>
    <strong>Name fr:</strong>
    <%= region.name_fr %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= region.name_en %>
  </p>

  <p>
    <strong>Description ca:</strong>
    <%= region.description_ca %>
  </p>

  <p>
    <strong>Description es:</strong>
    <%= region.description_es %>
  </p>

  <p>
    <strong>Description fr:</strong>
    <%= region.description_fr %>
  </p>

  <p>
    <strong>Description en:</strong>
    <%= region.description_en %>
  </p>

</div>
