<div class="d-flex justify-content-center">
  <%= simple_form_for [ vrental, feature ] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs three-columns">
      <%= f.input :name, collection: @features, as: :check_boxes, label_text: false, input_html: { multiple: true } %>
      <%# f.input :name, collection: @features_not_confirmed, as: :check_boxes, label_text: false, input_html: { multiple: true, checked: false } %>
    </div>


    <div class="form-actions">
      <%= f.button :submit, t('global.forms.submit'), class: 'btn-primary' %>
    </div>
  <% end %>
</div>
