<%= simple_form_for [@vrental, rate], id: dom_id(rate, "form"), class: "" do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div
  class="row d-flex justify-content-around align-items-center"
  data-controller="rate-component"
  <% if @vrental.rates.exists? %>
  data-default-checkin-date="<%= @vrental.default_checkin %>"
  data-default-checkout-date="<%= (@vrental.default_checkin + 7.day) %>"
  data-unavailable="<%= @vrental.unavailable_dates.to_json %>"
  <% else %>
  data-default-checkin-date="<%= Date.today %>"
  data-default-checkout-date="<%= (Date.today + 7.day) %>"
  data-unavailable="<%= @vrental.unavailable_dates.to_json %>"
  <% end %>
  >
    <div class="col">
      <%= f.input :firstnight, as: :string, required: true, input_html: {class: "datepicker", "data-rate-component-target" => "checkin"} %>
    </div>
    <div class="col">
      <%= f.input :lastnight, as: :string, required: true, input_html: {class: "datepicker", "data-rate-component-target" => "checkout"} %>
    </div>
    <div class="col">
      <%= f.input :priceweek %>
    </div>
    <div class="col">
      <%= f.input :min_stay %>
    </div>
    <div class="col">
      <%= f.input :arrival_day, label: t("arrival_day"), priority: [ t("everyday") ], collection: [ t("everyday"), t("saturdays") ], include_blank: false %>
    </div>
    <div class="col">
      <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-warning' %>
    </div>
    <div class="col">
      <% if action_name == "edit" %>
      <%= link_to 'Tornar', :back, class: "text-secondary" %>
      <% end %>
    </div>
  </div>
<% end %>
