<%= simple_form_for [vrental, rate], data: {turbo_frame: rate}, class: "text-sm" do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div data-controller="unavailable-dates"
  data-defaultstart="<%= f.object.persisted? ? '' : @vrental.first_future_date_without_rate.to_json %>"
  data-unavailable="<%= @vrental.dates_with_rates(f.object.firstnight, f.object.lastnight).to_json %>">
    <div class="d-none" data-unavailable-dates-target="hint">
      <span class="text-sm text-italics"><%= t('hint_gap_fill') %></span>
      <div class="row">
        <div class="col-lg-8">
          <%= f.label :max_advance %>
        </div>
        <div class="col-lg-2">
          <%= f.input :max_advance, label: false, input_html: { min: '1' } %>
        </div>
        <div class="col-lg-2">
          <%= t('days') %>
        </div>
      </div>
    </div>
    <div class="d-lg-flex flex-lg-row justify-content-between align-items-center rate-dates">
      <% if vrental.rental_term == "short_term" && vrental.control_restrictions == "rates" %>
        <div class="p-1 text-center">
          <%= f.input :restriction, as: :select, collection: Rate::RESTRICTION.map { |restriction| [t(restriction), restriction]}, include_blank: false, input_html: { "data-unavailable-dates-target" => "restriction", "data-action" => "change->unavailable-dates#showGapFillFields" }  %>
        </div>
      <% end %>
      <div class="p-1 text-center">
        <%= f.input :firstnight, as: :string, required: true, input_html: { "data-unavailable-dates-target" => "start" } %>
      </div>
      <div class="p-1 text-center">
        <%= f.input :lastnight, as: :string, required: true, input_html: { "data-unavailable-dates-target" => "end" } %>
      </div>
      <div class="p-1 text-center no-wrap">
        <%= f.input :arrival_day, collection: Rate::ARRIVAL_DAY.map { |key, value| [t(value), key] }, include_blank: false %>
      </div>
      <div class="p-1 text-center">
        <%= f.input :min_stay, input_html: { min: '0' } %>
      </div>
      <div class="p-1 text-center <%= 'd-none' unless f.object.restriction.present? && f.object.restriction == "gap_fill" %>" data-unavailable-dates-target="maxStay">
        <%= f.input :max_stay, input_html: { min: '1' } %>
      </div>
      <% if vrental.price_per == "week" %>
        <div class="p-1 text-center <%= 'd-none' if vrental.price_per == "night" || !vrental.price_per.present? %>" data-unavailable-dates-target="priceWeek">
          <%= f.input :priceweek, required: vrental.price_per == "week", input_html: { min: '1' } %>
        </div>
      <% end %>
      <div class="p-1 text-center <%= 'd-none' if vrental.price_per == "week" %>" data-unavailable-dates-target="priceNight">
        <%= f.input :pricenight, required: vrental.price_per == "night" || !vrental.price_per.present?, input_html: { min: '1' } %>
      </div>
      <div class="p-1 text-center">
        <%= f.button :submit, t('global.forms.submit'), class: 'btn btn-sm btn-primary mt-3' %>
      </div>
    </div>
  </div>
<% end %>
