<%= turbo_frame_tag rate, class: "card-body" do %>
  <div class="row py-2 rate-dates border-bottom">
    <% if !params[:controller] == 'vragreements' && rate.max_advance && rate.max_advance != 365 %>
      <span class="text-sm text-muted"><%= t('booking_date_less_max_advance', max_advance: rate.max_advance) %></span>
    <% end %>
    <% special_rate_class = 'text-danger' if rate.restriction == "gap_fill" %>
    <% special_rate_class = 'text-warning' if rate.restriction == "short_stay" %>
    <div class="col nowrap <%= special_rate_class %>"><%= l(rate.firstnight, format: :standard) %></div>
    <div class="col nowrap <%= special_rate_class %>"><%= l(rate.lastnight, format: :standard) %> </div>
    <div class="col nowrap <%= special_rate_class %>"><%= t("#{Rate::ARRIVAL_DAY[rate.arrival_day]}") if rate.arrival_day.present? %>
      <% if params[:controller] == 'vragreements' && rate.vrental.no_checkin.present? && rate.arrival_day == 7 %>
        <span class="text-secondary">*</span>
      <% end %>
    </div>
    <div class="col nowrap <%= special_rate_class %>"><%= rate.min_stay %> <%= t('night_count', count: rate.min_stay).downcase %> <%= t('min').downcase %></div>
    <% if !params[:controller] == 'vragreements' && rate.max_stay %>
      <div class="col nowrap <%= special_rate_class %>"><%= rate.max_stay == 365 ? '' : rate.max_stay %></div>
    <% end%>
    <div class="col nowrap <%= special_rate_class %>">
      <%= number_to_currency(rate.pricenight, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%>/<%= t('night_count', count: 1).downcase %>
    </div>
    <% if rate.vrental.price_per == "week" && rate.priceweek %>
      <div class="col nowrap <%= special_rate_class %>">
        <%= number_to_currency(rate.priceweek, unit: "€", separator: ",", delimiter: ".", precision: 2, format: "%n%u")%>/<%= t('week').downcase %>
      </div>
    <% end %>
    <% unless params[:controller] == 'vragreements' %>
      <div class="col d-flex justify-content-between gap-1">
        <%= link_to edit_vrental_rate_path(@vrental, rate), class: "btn btn-sm btn-info" do %>
          <i class="fas fa-pen fa-sm"></i>
        <% end %>
        <%= link_to rate, data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar aquesta tarifa?"}, class: "btn btn-sm btn-danger" do %>
          <i class="fas fa-trash-can fa-sm"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
