<div class="container d-flex justify-content-center gap-3">
  <% if !@vrental.rates.any? %>
    <%= form_with(url: upload_dates_vrental_path(@vrental), method: :post, class: "d-flex flex-row gap-3") do |form| %>
      <%= form.select :rate_plan_id, options_for_select(@rate_plans.map { |rate_plan| [rate_plan.name, rate_plan.id] }), { include_blank: true }, { id: "select-rate-plan" } %>
      <%= form.submit 'Carregar dates', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to get_rates_vrental_path(@vrental), class: "text-muted-2" do %>
    <i class="fa-solid fa-file-import me-1"></i>Importar tarifes des de Beds
  <% end %>
  <% if @rates.where("lastnight >= ?", Date.today).present? %>
    <%= link_to send_rates_vrental_path(@vrental), class: "btn btn-success" do %>
      <i class="fas fa-paper-plane fa-sm"></i> Enviar tarifes a Beds24
    <% end %>
    <%= link_to delete_rates_vrental_path(@vrental), class: "btn btn-danger" do %>
      <i class="fas fa-exclamation-triangle"></i> Esborra les futures tarifes en Beds24
    <% end %>
  <% end %>
</div>
<hr>
<div class="container">
  <h5 class="text-center text-info mb-5">Afegir tarifa nova</h5>
  <%= turbo_frame_tag "new_rate", src: new_vrental_rate_path(@vrental), target: "_top" %>
  <% @years.each do |year| %>
    <% if @rates.where("DATE_PART('year', firstnight) = ?", year).exists? %>
      <hr>
      <h5 class="m-3 font-weight-bold text-primary text-center">Tarifes <%= year %></h5>
      <div class="text-end">
        <%= link_to "Esborra les tarifes #{year}", delete_year_rates_vrental_path(@vrental, year: year), class: "text-danger" %>
        <% if year <= Date.today.year %>
          <%= link_to "Copiar tarifes de l\'any #{year} a l'any #{year + 1}", copy_rates_vrental_path(@vrental, year: year), class: "btn btn-secondary" %>
        <% end %>
      </div>
      <hr>
      <div class="row py-1">
        <div class="col-lg-2 nowrap fw-bold">Des de</div>
        <div class="col-lg-2 nowrap fw-bold">Fins a</div>
        <div class="col-lg-2 nowrap fw-bold">Dia arribada</div>
        <div class="col-lg-2 nowrap fw-bold">Min estada</div>
        <div class="col-lg-2 nowrap fw-bold">Preu setmana</div>
        <div class="col-lg-2"></div>
      </div>
      <hr>
      <div id="rates<%= year %>">
        <%= render @rates.where("DATE_PART('year', firstnight) = ?", year) %>
      </div>
    <% end %>
  <% end %>
</div>
