<div class="mb-5 text-center">
  <h4 class="font-weight-bold text-primary mb-2"><%= @vrental.name %></h4>
  <h6><%= t('property_rates') %></h6>
</div>
<% if @vrental.rate_master_id.nil? %>
  <div class="mb-5 text-center">
    <% if @vrental.future_rates.exists? && @vrental.future_rates.any? { |rate| rate.priceweek.nil? && rate.pricenight.nil? }  %>
      <div class="alert position-relative alert-warning" role="alert">
        <%= t('add_prices_to_rates') %>
      </div>
    <% elsif !@vrental.future_rates.exists? %>
      <div class="alert position-relative alert-warning" role="alert">
        <%= t('add_future_rates') %>
      </div>
    <% end %>
  </div>
  <div class="container d-flex justify-content-between gap-3 mb-3">
    <% if @vrental.beds_prop_id.present? && @vrental.beds_room_id.present? && @vrental.prop_key.present? %>
      <div>
        <%= link_to get_rates_vrental_path(@vrental), class: "btn btn-sm btn-secondary" do %>
          <i class="fa-solid fa-file-import me-2"></i>Importar tarifes des de Beds
        <% end %>
      </div>
    <% end %>
    <div>
      <% if !@vrental.future_rates.exists? %>
        <%= form_with(url: upload_dates_vrental_path(@vrental), method: :post, class: "d-flex flex-row align-items-center gap-3") do |form| %>
          <%= form.select :rate_plan_id, options_for_select(@rate_plans.map { |rate_plan| [rate_plan.name, rate_plan.id] }), { include_blank: true }, { class: "form-control", id: "select-rate-plan" } %>
          <%= form.submit 'Carregar dates', class: 'btn btn-sm btn-primary' %>
        <% end %>
      <% end %>
      <% if @vrental.future_rates.exists? && @vrental.future_rates.none? { |rate| rate.priceweek.nil? && rate.pricenight.nil? }  %>
        <%= link_to send_rates_vrental_path(@vrental), class: "btn btn-sm btn-success" do %>
          <i class="fas fa-paper-plane fa-sm me-2"></i> <%= t('send_rates_to_beds') %>
        <% end %>
        <%= link_to delete_rates_vrental_path(@vrental), class: "btn btn-sm btn-danger" do %>
          <i class="fas fa-exclamation-triangle me-2"></i> Esborra les futures tarifes en Beds24
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="container mb-5">
    <h5 class="text-center text-info mb-5">Afegir tarifa nova</h5>
    <%= turbo_frame_tag "new_rate", src: new_vrental_rate_path(@vrental)%>
    <% @vrental.years_with_rates.each do |year| %>
      <% if @rates.where("DATE_PART('year', firstnight) = ?", year).exists? %>
        <hr>
        <h5 class="m-3 font-weight-bold text-primary text-center">Tarifes <%= year %></h5>
        <div class="text-end">
          <%= link_to delete_year_rates_vrental_path(@vrental, year: year), class: "text-danger" do %>
            <i class="fas fa-solid fa-trash-can me-2"></i>Esborra les tarifes <%= year %>
          <% end %>
          <% if year <= Date.today.year %>
            <%= link_to "Copiar tarifes de l\'any #{year} a l'any #{year + 1}", copy_rates_vrental_path(@vrental, year: year), class: "btn btn-sm btn-secondary" %>
          <% end %>
        </div>
        <hr>
        <div class="row py-1 rate-dates">
          <div class="col-lg-1 nowrap fw-bold"><%= t('restriction') %></div>
          <div class="col-lg-2 nowrap fw-bold"><%= t('from') %></div>
          <div class="col-lg-2 nowrap fw-bold"><%= t('to') %></div>
          <div class="col-lg-2 nowrap fw-bold"><%= t('arrival_day') %></div>
          <div class="col-lg-1 nowrap fw-bold"><%= t('min_stay_title') %></div>
          <div class="col-lg-1 nowrap fw-bold"><%= t('max_stay_title') %></div>
          <div class="col-lg-2 nowrap fw-bold"><%= t('price') %></div>
          <div class="col-lg-1"></div>
        </div>
        <hr>
        <div id="rates<%= year %>">
          <%= render @rates.where("DATE_PART('year', firstnight) = ?", year) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for(@vrental, data: { turbo: false }) do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.hidden_field :request_context, value: 'add_rates' %>
    <div class="form-actions text-end mb-5">
      <%= f.button :submit, t('global.forms.save_and_close'), class: 'btn btn-primary text-center' %>
      <%= f.button :submit, t('global.forms.continue'), class: 'btn btn-secondary text-center' %>
    </div>
  <% end %>
<% elsif @vrental.vrgroup.present? && @vrental.rate_master_id.present? %>
  <div class="alert alert-warning position-relative" role="alert">
    <%= t('rate_master_warning') %>
    <%= link_to vrental_rates_path(@vrental.rate_master) do %>
      <%= @vrental.rate_master&.name %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-warning position-relative" role="alert">
    <%= t('edit_conditions_warning') %>
    <%= link_to add_booking_conditions_vrental_path(@vrental) do %>
      <%= t('edit') %>
    <% end %>
  </div>
<% end %>
