<%= form_for [@vrental, @rate], id: dom_id(rate, "form"), class: "table min-w-full" do |form| %>
  <div>
    <%= form.date_field :firstnight, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:firstnight, rate) %>
  </div>
  <div>
    <%= form.date_field :lastnight, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:lastnight, rate) %>
  </div>

<% end %>
