<%= simple_form_for(@rstemplate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs d-flex justify-content-between">
    <div class="w-50">
      <%= f.input :title, class: "form-control" %>
    </div>
    <div class="w-25">
      <%= f.input :language, priority: [ t(".ca"), "ca" ], collection: [ [t(".ca"), "ca"], [t(".es"), "es"], [t(".fr"), "fr"], [t(".en"), "en"] ], label_method: :first, value_method: :second, class:"form-control w-25"  %>
    </div>
    <% if current_user.admin? %>
    <div>
      <%= f.input :public, as: :select, collection: [['Sí',true], ['No',false]], required: true, class:"form-control w-25" %>
    </div>
    <% end %>
  </div>
  <h5>Variables disponibles</h5>
  <p><strong>Agència: </strong> {{num_api}} {{num_aicat}}</p>
  <p><strong>Contracte: </strong>
   {{data_firma}} {{lloc_firma}} {{preu}} {{preu_text}} {{clausula_adicional}} {{import_arres}} {{import_arres_text}}</p>
  <p><strong>Part venedora: </strong> {{venedor}} {{dni_venedor}} {{adr_venedor}} {{email_venedor}} {{tel_venedor}} {{compte_venedor}}</p>
  <p><strong>Part compradora: </strong> {{comprador}} {{dni_comprador}} {{adr_comprador}} {{email_comprador}} {{tel_comprador}} {{compte_comprador}}</p>
  <p><strong>Immoble: </strong> {{adr_immoble}} {{poblacio_immoble}} {{cadastre}} {{cert_energetic}} {{cedula}} {{data_cedula}}</p>
  <p><strong>Registre propietat: </strong> {{oficina_registre}} {{codi_cru}} {{tom}} {{llibre}} {{foli}} {{num_finca_registre}} {{inscripcio}} {{descripcio}} {{pantallazo_descripcio}} {{carregues}} {{pantallazo_carregues}}</p>
  <div class="form-inputs">
    <%= f.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } }, label: false%>
  </div>
  <div class="form-actions text-end">
    <%= f.submit "Desar", class: 'btn btn-primary text-center' %>
    <%= f.submit "Desar com model de contracte nou", class: 'btn btn-primary text-center' %>
  </div>
<% end %>
