<%= turbo_frame_tag cleaning_schedule, class: "card-body" do %>
  <div class="py-3">
    <div class="row mt-2 rate-dates">
      <div class="col-md-1 col no-printing"><%= cleaning_schedule.priority %></div>
      <div class="col-md-2 col">
        <span class="fw-bold font-weight-bold">
          <%= cleaning_schedule.vrental.name %>
        </span>
        <br>
        <span class="text-sm">
          <% if cleaning_schedule.vrental.beds_detail_full_words %>
            <% cleaning_schedule.vrental.beds_detail_full_words.each do |bed_type_count| %>
              <%= bed_type_count %>
              <br>
            <% end %>
          <% end %>
        </span>
        <br>
        <% towel_count = cleaning_schedule.vrental.max_guests || (booking.adults + (booking.children || 0)) %>
        <span class="text-sm"><%= towel_count %> <%= t('big_towel', count: towel_count) %></span>
        <br>
        <span class="text-sm"><%= towel_count %> <%= t('small_towel', count: towel_count) %></span>
      </div>
      <div class="col-md-2 col">
        <span class="fw-bold font-weight-bold"><%= l(cleaning_schedule.cleaning_date, format: :long) %></span>
        <br>
        <span class="text-sm">(<%= booking_or_owner_name(booking) %> <%= t('leaves_on') %> <%= l(cleaning_schedule.booking.checkout, format: :long) if booking.checkout %>)</span>
      </div>
      <div class="col-md-3 col">
        <% next_booking = cleaning_schedule.vrental.next_booking(booking.checkout) %>
        <% if next_booking %>
          <%= l(next_booking.checkin, format: :long)  %> <br>
          <span class="text-sm"><%= booking_or_owner_name(next_booking) %></span>
        <% end %>
        <br>
        <span class="text-sm">next booking info if needed</span>
      </div>
      <div class="col-md-2 col"><%= cleaning_schedule.cleaning_company.name %></div>
      <div class="col-md-2 no-printing">
        <%= link_to edit_office_cleaning_schedule_path(@office, cleaning_schedule), class: "btn btn-sm btn-info" do %>
          <i class="fas fa-pen fa-sm"></i>
        <% end %>
        <%= link_to office_cleaning_schedule_path(@office, cleaning_schedule), method: :delete, class: "btn btn-sm btn-danger", remote: true, data: { confirm: 'Are you sure?', turbo_method: :delete } do %>
          <i class="fas fa-trash fa-sm"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-2">
        <div class="text-sm fst-italic font-italic text-primary"><%= cleaning_schedule.notes %></div>
      </div>
    </div>
  </div>
<% end %>
