<%= turbo_frame_tag cleaning_schedule, class: "card-body" do %>
  <div class="py-3">
    <div class="row mt-2 rate-dates">
      <div class="col-md-3 col">
        <div class="fw-bold font-weight-bold">
          <%= cleaning_schedule.vrental.name %>
        </div>
        <div>
          <% if cleaning_schedule.vrental.beds_detail_full_words %>
            <% cleaning_schedule.vrental.beds_detail_full_words.each do |bed_type_count| %>
              <%= bed_type_count %>
              <br>
            <% end %>
          <% end %>
        </div>
        <% towel_count = cleaning_schedule.vrental.max_guests || (booking.adults + (booking.children || 0)) %>
        <div><%= towel_count %> <%= t('big_towel', count: towel_count) %></div>
        <div><%= towel_count %> <%= t('small_towel', count: towel_count) %></div>
      </div>
      <div class="col-md-5 col">
        <h6 class="text-success"><%= t('scheduled_cleaning') %></h6>
        <div class="fw-bold font-weight-bold"><%= l(cleaning_schedule.cleaning_date, format: :long_day) %></div>
        <div class="fw-bold font-weight-bold text-primary"><%= t(cleaning_schedule.cleaning_type) %></div>
        <div class="fw-bold font-weight-bold"><%= t('cleaning_company') %></div>
        <div><%= cleaning_schedule.cleaning_company.name %></div>
      </div>
      <div class="col-md-3 col">
        <% if next_booking.present? %>
          <% if next_booking.checkin == cleaning_schedule.cleaning_date %>
            <div class="fw-bold font-weight-bold text-danger"><%= t('same_day_arrival') %></div>
          <% else %>
            <div class="fw-bold font-weight-bold"><%= t('checkin') %></div>
          <% end %>
          <div><%= booking_info(next_booking) %></div>
        <% else %>
          <div><%= t('no_next_checkin') %></div>
        <% end %>
      </div>
      <div class="col-md-1 no-printing">
        <%= link_to edit_office_cleaning_schedule_path(@office, cleaning_schedule), class: "btn btn-sm btn-info" do %>
          <i class="fas fa-pen fa-sm"></i>
        <% end %>
        <%= link_to office_cleaning_schedule_path(@office, cleaning_schedule), method: :delete, class: "btn btn-sm btn-danger", remote: true, data: { confirm: 'Are you sure?', turbo_method: :delete } do %>
          <i class="fas fa-trash fa-sm"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-2">
        <div class="fw-bold font-weight-bold text-primary"><%= cleaning_schedule.notes %></div>
      </div>
    </div>
  </div>
<% end %>
