<span class="text-success"><%= t('scheduled_cleaning') %></span>
<%= turbo_frame_tag cleaning_schedule, class: "card-body" do %>
  <div class="py-3">
    <div class="row mt-2 rate-dates">
      <div class="col-md-3 col">
        <span class="fw-bold font-weight-bold">
          <%= cleaning_schedule.vrental.name %>
        </span>
        <br>
        <span>
          <% if cleaning_schedule.vrental.beds_detail_full_words %>
            <% cleaning_schedule.vrental.beds_detail_full_words.each do |bed_type_count| %>
              <%= bed_type_count %>
              <br>
            <% end %>
          <% end %>
        </span>
        <br>
        <% towel_count = cleaning_schedule.vrental.max_guests || (booking.adults + (booking.children || 0)) %>
        <span><%= towel_count %> <%= t('big_towel', count: towel_count) %></span>
        <br>
        <span><%= towel_count %> <%= t('small_towel', count: towel_count) %></span>
      </div>
      <div class="col-md-3 col">
        <span class="fw-bold font-weight-bold"><%= l(cleaning_schedule.cleaning_date, format: :long) %></span>
        <br>
        <span class="fw-bold font-weight-bold text-primary"><%= t(cleaning_schedule.cleaning_type) %></span>
        <% if next_booking.present? && next_booking != "no_display" && next_booking.checkin == cleaning_schedule.cleaning_date %>
          <br>
          <span class="fw-bold font-weight-bold text-danger"><%= t('same_day_arrival') %></span>
        <% end %>
      </div>
      <div class="col-md-3 col">
        <% if next_booking.present? && next_booking != "no_display" %>
          <% if next_booking.present? %>
            <span class="fw-bold font-weight-bold"><%= t('next_checkin') %></span>
            <br>
            <span><%= next_booking_info(next_booking) %></span>
          <% else %>
            <span><%= t('no_next_checkin') %></span>
          <% end %>
        <% end %>
        <br>
        <% if previous_booking.present? && previous_booking != "no_display"  %>
          <% if previous_booking.present?  %>
            <span class="fw-bold font-weight-bold"><%= t('previoius_checkout') %></span>
            <br>
            <span><%= previous_booking_info(previous_booking) %></span>
          <% else %>
            <span><%= t('no_previous_checkout') %></span>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2 col">
        <span class="fw-bold font-weight-bold"><%= t('cleaning_company') %></span>
        <br>
        <span><%= cleaning_schedule.cleaning_company.name %></span>
      </div>
      <div class="col-md-1 no-printing">
        <%= link_to edit_office_cleaning_schedule_path(@office, cleaning_schedule), class: "btn btn-sm btn-info" do %>
          <i class="fas fa-pen fa-sm"></i>
        <% end %>
        <%= link_to office_cleaning_schedule_path(@office, cleaning_schedule), method: :delete, class: "btn btn-sm btn-danger", remote: true, data: { confirm: 'Are you sure?', turbo_method: :delete } do %>
          <i class="fas fa-trash fa-sm"></i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-2">
        <div class="fw-bold font-weight-bold text-primary"><%= cleaning_schedule.notes %></div>
      </div>
    </div>
  </div>
<% end %>
