  <%= simple_form_for [@office, @cleaning_schedule], data: { turbo_frame: "_top" }, class: "d-md-flex justify-content-between" do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :vrental_id, as: :hidden, input_html: { value: @cleaning_schedule.vrental_id || params[:vrental_id] } %>
  <div class="row py-2 rate-dates rborder-bottom">
    <div class="col-md-3">
      <%= f.input :cleaning_date, label: t('cleaning_date'), as: :string, input_html: { value: @cleaning_schedule.cleaning_date || params[:cleaning_date], class: "datepicker" } %>
    </div>
    <div class="col-md-2"><%= f.input :priority, label: t('priority'), input_html: {value: @cleaning_schedule.priority || 2} %>
    </div>
    <div class="col-md-4">
      <%= f.input :cleaning_type, label: t('cleaning_type'), collection: CleaningSchedule::CLEANING_TYPES.map {|type| [I18n.t("#{type}"), type]} %>
    </div>
    <div class="col-md-3"><%= f.association :cleaning_company, label: t('cleaning_company') %></div>
  </div>
  <div class="row py-2 rate-dates rborder-bottom d-flex align-items-center">
    <div class="col-md-11"><%= f.input :notes %></div>
    <div class="col-md-1 mt-3"><%= f.button :submit, t('global.forms.submit'), class: "btn btn-sm btn-primary" %></div>
  </div>
<% end %>
