<div class="no-printing">
  <%= render "filter" %>
</div>
<% if @last_cleaning_date.present? %>
  <p class="alert alert-info position-relative"><%= t('cleaning_done_upto', date: l(@last_cleaning_date)) %></p>
<% end %>
<% if @bookings_without_cleaning.present? %>
  <p class="alert alert-warning position-relative"><%= t('cleaning_pending') %>
    <% @bookings_without_cleaning.each do |booking| %>
      <br>
      <%= l(booking.checkout) %> <%= booking.firstname %> <%= booking.lastname %>
      <br>
    <% end %>
  </p>
<% end %>
<div class="mt-5">
  <% @grouped_cleaning_schedules.each do |cleaning_date, cleaning_schedules| %>
    <div class="no-page-break pt-3">
      <h5 class="text-start text-left fw-bold font-weight-bold"><%= l(cleaning_date, format: :long) %></h5>
      <hr>
      <% cleaning_schedules.sort_by(&:priority).each do |cleaning_schedule| %>
        <% checkout_booking = cleaning_schedule.vrental.previous_booking(cleaning_date) %>
        <% checkin_booking = cleaning_schedule.vrental.next_booking(cleaning_date) %>
        <%= render cleaning_schedule, checkin_booking: checkin_booking, checkout_booking: checkout_booking %>
        <hr>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="no-printing text-center" data-controller="pdf-modal">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#cleaningSchedules" data-action="click->pdf-modal#loadModal"
    data-base-url="<%= office_cleaning_schedules_path(@office) %>"
    data-cleaning-company-id="<%= params[:cleaning_company_id] %>"
    data-from-cleaning-date="<%= params[:from_cleaning_date] %>"
    data-to-cleaning-date="<%= params[:to_cleaning_date] %>">
    <%= t('download_pdf') %>
  </button>
  <%= render 'pdf_modal' %>
</div>
