<div id="<%= dom_id charge %>">
  <p>
    <strong>Description:</strong>
    <%= charge.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= charge.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= charge.price %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= charge.booking_id %>
  </p>

</div>
