<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <title>Sistach Rentals</title>
    <meta name="title" content="<%= @meta_title %>" />
    <meta name="description" content="<%= @meta_description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- External styles -->
    <link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" >
    <!-- Internal styles -->
    <%= stylesheet_link_tag "booking_website", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/sistach_favicon_c9rb1y.png') %>
    <!-- External scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <!-- Internal scripts -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="darkblue-skin" data-locale="<%= locale %>">
    <div id="preloader">
      <div class="preloader"><span></span><span></span></div>
    </div>
    <div id="main-wrapper">
      <%= render 'shared/topbar' %>
      <%= render 'shared/booking_website_navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/cookie_consent' if session[:cookie_consent].nil? %>
      <%= render 'shared/call_to_action' %>
      <%= render 'shared/booking_website_footer' %>
      <%= render 'shared/log_in_modal' %>
      <%= render 'shared/sign_up_modal' %>
      <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="bi bi-arrow-up"></i></a>
    </div>
  </body>
</html>
